In [1]:
!pip install pandas
import pandas as pd
import os
import pytz

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/jupyter-doggo/.local/lib/python3.9/site-packages (1.5.2)
Requirement already satisfied: pytz>=2020.1 in /opt/tljh/user/lib/python3.9/site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.20.3 in /home/jupyter-doggo/.local/lib/python3.9/site-packages (from pandas) (1.24.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/tljh/user/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/tljh/user/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
# Important, make sure to use the correct file
# filename = 'IL-94846-2013Fall-2014Spring.csv'
# temp_table = pandas.read_csv('NSW_Weather/Orig/'+filename, skiprows = 8, skipfooter = 15)

##################################################

# TO-DO: Change file names and folder names here!

folder_name = 'MI-94871-Benton_Harbor_Airport_ASOS'

# Load the observation data
obs_filename = '2016Fall_2017Spring.csv'

##################################################

# Path to the directory containing CSV files
folder_path = "NSW_Weather/" + folder_name

# List of CSV files in the folder
csv_files = [f for f in os.listdir(folder_path) if f.endswith('.csv')]
csv_files.sort()

# Concatenate CSV files into a single DataFrame
df_weather_all = pd.concat([pd.read_csv(os.path.join(folder_path, f), skiprows = 8, skipfooter = 15) for f in csv_files], ignore_index=True)

# Print the resulting DataFrame
# print(df)
# print(csv_files)

try:
    df_weather_all = df_weather_all.drop('Unnamed: 18', axis = 1)
    print('Empty Column at the end is dropped.')
except:
    print('Nothing to be dropped here.')
    

df_weather_all.head(10)

/tmp/ipykernel_1399461/4176114282.py:24: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df_weather_all = pd.concat([pd.read_csv(os.path.join(folder_path, f), skiprows = 8, skipfooter = 15) for f in csv_files], ignore_index=True)
/tmp/ipykernel_1399461/4176114282.py:24: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df_weather_all = pd.concat([pd.read_csv(os.path.join(folder_path, f), skiprows = 8, skipfooter = 15) for f in csv_files], ignore_index=True)
/tmp/ipykernel_1399461/4176114282.py:24: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df_weather_all = pd.concat([pd.read_csv(os.path.join(folder_path, f), skiprows = 8, skipfooter = 15) for f in csv_files], ignore_index=True)
/tmp/ipykernel_1399461/4176114282.py:24: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df_weather_all = pd.concat([pd.read_csv(os.path.join(folder_path, f), skiprows = 8, skipfooter = 15) for f in csv_files], ignore_index=True)
/tmp/ipykernel_1399461/4176114282.py:24: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df_weather_all = pd.concat([pd.read_csv(os.path.join(folder_path, f), skiprows = 8, skipfooter = 15) for f in csv_files], ignore_index=True)
/tmp/ipykernel_1399461/4176114282.py:24: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df_weather_all = pd.concat([pd.read_csv(os.path.join(folder_path, f), skiprows = 8, skipfooter = 15) for f in csv_files], ignore_index=True)
/tmp/ipykernel_1399461/4176114282.py:24: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df_weather_all = pd.concat([pd.read_csv(os.path.join(folder_path, f), skiprows = 8, skipfooter = 15) for f in csv_files], ignore_index=True)
/tmp/ipykernel_1399461/4176114282.py:24: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df_weather_all = pd.concat([pd.read_csv(os.path.join(folder_path, f), skiprows = 8, skipfooter = 15) for f in csv_files], ignore_index=True)
/tmp/ipykernel_1399461/4176114282.py:24: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df_weather_all = pd.concat([pd.read_csv(os.path.join(folder_path, f), skiprows = 8, skipfooter = 15) for f in csv_files], ignore_index=True)
/tmp/ipykernel_1399461/4176114282.py:24: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df_weather_all = pd.concat([pd.read_csv(os.path.join(folder_path, f), skiprows = 8, skipfooter = 15) for f in csv_files], ignore_index=True)
/tmp/ipykernel_1399461/4176114282.py:24: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df_weather_all = pd.concat([pd.read_csv(os.path.join(folder_path, f), skiprows = 8, skipfooter = 15) for f in csv_files], ignore_index=True)
/tmp/ipykernel_1399461/4176114282.py:24: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df_weather_all = pd.concat([pd.read_csv(os.path.join(folder_path, f), skiprows = 8, skipfooter = 15) for f in csv_files], ignore_index=True)
/tmp/ipykernel_1399461/4176114282.py:24: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df_weather_all = pd.concat([pd.read_csv(os.path.join(folder_path, f), skiprows = 8, skipfooter = 15) for f in csv_files], ignore_index=True)
/tmp/ipykernel_1399461/4176114282.py:24: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df_weather_all = pd.concat([pd.read_csv(os.path.join(folder_path, f), skiprows = 8, skipfooter = 15) for f in csv_files], ignore_index=True)
/tmp/ipykernel_1399461/4176114282.py:24: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df_weather_all = pd.concat([pd.read_csv(os.path.join(folder_path, f), skiprows = 8, skipfooter = 15) for f in csv_files], ignore_index=True)
/tmp/ipykernel_1399461/4176114282.py:24: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df_weather_all = pd.concat([pd.read_csv(os.path.join(folder_path, f), skiprows = 8, skipfooter = 15) for f in csv_files], ignore_index=True)

Empty Column at the end is dropped.

/tmp/ipykernel_1399461/4176114282.py:24: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df_weather_all = pd.concat([pd.read_csv(os.path.join(folder_path, f), skiprows = 8, skipfooter = 15) for f in csv_files], ignore_index=True)
/tmp/ipykernel_1399461/4176114282.py:24: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df_weather_all = pd.concat([pd.read_csv(os.path.join(folder_path, f), skiprows = 8, skipfooter = 15) for f in csv_files], ignore_index=True)

,Date,Time,Temp (F),RH (%),Dewpt (F),Wind Spd (mph),Wind Direction (deg),Peak Wind Gust(mph),Low Cloud Ht (ft),Med Cloud Ht (ft),High Cloud Ht (ft),Visibility (mi),Atm Press (hPa),Sea Lev Press (hPa),Altimeter (hPa),Precip (in),Wind Chill (F),Heat Index (F)
0,2000-09-01,00:53,73,83,68,5,130,m,7220,m,m,9,M,1015.30,1015.90,m,NC,NC
1,2000-09-01,01:53,72,88,68,5,160,m,7220,m,m,9,M,1014.70,1015.20,m,NC,NC
2,2000-09-01,02:53,72,88,68,7,170,m,7220,m,m,9,M,1014.70,1015.20,m,NC,NC
3,2000-09-01,03:53,72,88,68,3,150,m,7220,m,m,8,M,1015.40,1015.90,m,NC,NC
4,2000-09-01,04:53,66,100,66,0,0,m,7220,m,m,5,M,1016.00,1016.60,m,NC,NC
5,2000-09-01,05:53,66,100,66,0,0,m,7220,m,m,5,M,1016.50,1016.90,m,NC,NC
6,2000-09-01,06:53,66,100,66,0,0,m,7220,m,m,3,M,1017.20,1017.60,m,NC,NC
7,2000-09-01,07:53,73,88,70,3,150,m,7220,m,m,6,M,1016.90,1017.30,m,NC,NC
8,2000-09-01,08:53,79,78,72,3,M,m,7220,m,m,9,M,1017.10,1017.60,m,NC,NC
9,2000-09-01,09:53,82,69,72,0,0,m,7220,m,m,9,M,1017.30,1018.00,m,NC,86

In [3]:
start_year = int(df_weather_all.iloc[0, 0][:4])
start_year

2000

In [4]:
end_year = int(df_weather_all.iloc[-1, 0][:4])
end_year

2018

In [5]:
from datetime import timedelta, date

def daterange(date1, date2):
    for n in range(int ((date2 - date1).days) + 1):
        yield date1 + timedelta(n)

In [6]:
weather_date_theo = []

In [7]:
for i in range(start_year, end_year):
    start_dt = date(i, 10, 1)
    end_dt = date(i+1, 3, 31)
    weather_date_theo_temp = [dt.strftime("%Y%m%d") for dt in daterange(start_dt, end_dt)]
    weather_date_theo = weather_date_theo + weather_date_theo_temp

In [8]:
# One more inspection
weather_date_theo[-1]

'20180331'

In [9]:
range_day_count = len(weather_date_theo)
print('There are supposed to be {0} days in the given period.'.format(range_day_count))

There are supposed to be 3280 days in the given period.

In [10]:
range_hour_count = range_day_count * 24
print('There are supposed to be {0} hours in total in the given period.'.format(range_hour_count))

There are supposed to be 78720 hours in total in the given period.

In [11]:
# Pad it out to 24 hours
import itertools

csv_date_list = list(itertools.chain.from_iterable(itertools.repeat(x, 24) for x in weather_date_theo))

In [12]:
len(csv_date_list)

78720

In [13]:
hour_lib = ['00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00', '09:00', 
            '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00',
            '18:00', '19:00', '20:00', '21:00', '22:00', '23:00']

csv_time_list = hour_lib * len(weather_date_theo)

In [14]:
# Inspection only
csv_time_list[-1]

'23:00'

In [15]:
## Extract the state indicator
STATE_2_LTR = folder_name[:2]

# Inspection
print('The weather station is from', STATE_2_LTR)

The weather station is from MI

In [16]:
import math
from datetime import datetime, timedelta

def round_datetime_to_nearest_hour(obj_arr, STATE_ID):
    arr_len = len(obj_arr)
    Date_CST = []
    Time_CST = []
    for i in range(arr_len):
        # iterate through
        date_item = obj_arr['Date'][i]
        time_item = obj_arr['Time'][i]
        t = datetime.strptime(date_item + " " + time_item, "%Y-%m-%d %H:%M")
        # Calculate the number of minutes past the last full hour
        minutes_past_hour = t.minute + t.second / 60
        # Round up to the next whole number of hours if the time is more than 30 minutes past the hour,
        # or round down to the current hour if it's less than 30 minutes past
        if minutes_past_hour >= 30:
            num_hours = math.ceil(minutes_past_hour / 60)
        else:
            num_hours = 0
        # Create a new datetime object representing the rounded time
        if STATE_ID in ['IL', 'WI']:
            # No need to dial back one hour
            rounded_time_temp = t + timedelta(hours=num_hours)
        else:
            rounded_time_temp = t + timedelta(hours=num_hours-1)
        rounded_time=datetime(year=rounded_time_temp.year,
                         month=rounded_time_temp.month,
                         day=rounded_time_temp.day,
                         hour=rounded_time_temp.hour, minute=0, second=0)
        result_stamp = rounded_time.strftime("%Y%m%d %H:%M")
        
        new_date, new_time = result_stamp.split(' ')
        Date_CST.append(new_date)
        Time_CST.append(new_time)
        
    obj_arr['Date_CST'] = Date_CST
    obj_arr['Time_CST'] = Time_CST
    return obj_arr

In [17]:
# Example usage
weather_with_CST = round_datetime_to_nearest_hour(df_weather_all, STATE_2_LTR)

In [18]:
# Perform inspection
weather_with_CST.head(10)
# Make sure you scroll to the right to check the newly added data

,Date,Time,Temp (F),RH (%),Dewpt (F),Wind Spd (mph),Wind Direction (deg),Peak Wind Gust(mph),Low Cloud Ht (ft),Med Cloud Ht (ft),High Cloud Ht (ft),Visibility (mi),Atm Press (hPa),Sea Lev Press (hPa),Altimeter (hPa),Precip (in),Wind Chill (F),Heat Index (F),Date_CST,Time_CST
0,2000-09-01,00:53,73,83,68,5,130,m,7220,m,m,9,M,1015.30,1015.90,m,NC,NC,20000901,00:00
1,2000-09-01,01:53,72,88,68,5,160,m,7220,m,m,9,M,1014.70,1015.20,m,NC,NC,20000901,01:00
2,2000-09-01,02:53,72,88,68,7,170,m,7220,m,m,9,M,1014.70,1015.20,m,NC,NC,20000901,02:00
3,2000-09-01,03:53,72,88,68,3,150,m,7220,m,m,8,M,1015.40,1015.90,m,NC,NC,20000901,03:00
4,2000-09-01,04:53,66,100,66,0,0,m,7220,m,m,5,M,1016.00,1016.60,m,NC,NC,20000901,04:00
5,2000-09-01,05:53,66,100,66,0,0,m,7220,m,m,5,M,1016.50,1016.90,m,NC,NC,20000901,05:00
6,2000-09-01,06:53,66,100,66,0,0,m,7220,m,m,3,M,1017.20,1017.60,m,NC,NC,20000901,06:00
7,2000-09-01,07:53,73,88,70,3,150,m,7220,m,m,6,M,1016.90,1017.30,m,NC,NC,20000901,07:00
8,2000-09-01,08:53,79,78,72,3,M,m,7220,m,m,9,M,1017.10,1017.60,m,NC,NC,20000901,08:00
9,2000-09-01,09:53,82,69,72,0,0,m,7220,m,m,9,M,1017.30,1018.00,m,NC,86,20000901,09:00

In [19]:
Date_CST = pd.Series(csv_date_list, name = 'Date_CST')
Date_CST

0        20001001
1        20001001
2        20001001
3        20001001
4        20001001
           ...
78715    20180331
78716    20180331
78717    20180331
78718    20180331
78719    20180331
Name: Date_CST, Length: 78720, dtype: object

In [20]:
Time_CST = pd.Series(csv_time_list, name = 'Time_CST')
Time_CST

0        00:00
1        01:00
2        02:00
3        03:00
4        04:00
         ...
78715    19:00
78716    20:00
78717    21:00
78718    22:00
78719    23:00
Name: Time_CST, Length: 78720, dtype: object

In [21]:
df_Reference_Date_Time = pd.merge(Date_CST, Time_CST, right_index = True,
               left_index = True)
df_Reference_Date_Time

       Date_CST Time_CST
0      20001001    00:00
1      20001001    01:00
2      20001001    02:00
3      20001001    03:00
4      20001001    04:00
...         ...      ...
78715  20180331    19:00
78716  20180331    20:00
78717  20180331    21:00
78718  20180331    22:00
78719  20180331    23:00

[78720 rows x 2 columns]

In [22]:
df_time_and_weather = pd.merge(df_Reference_Date_Time, weather_with_CST, how = 'left', on = ['Date_CST','Time_CST'])

In [23]:
# Perform inspection
df_time_and_weather.head(10)

,Date_CST,Time_CST,Date,Time,Temp (F),RH (%),Dewpt (F),Wind Spd (mph),Wind Direction (deg),Peak Wind Gust(mph),Low Cloud Ht (ft),Med Cloud Ht (ft),High Cloud Ht (ft),Visibility (mi),Atm Press (hPa),Sea Lev Press (hPa),Altimeter (hPa),Precip (in),Wind Chill (F),Heat Index (F)
0,20001001,00:00,2000-10-01,00:53,63,59,48,9,180,m,7220,m,m,10,M,1014.60,1014.90,m,NC,NC
1,20001001,01:00,2000-10-01,01:53,63,63,50,10,190,m,7220,m,m,10,M,1014.40,1014.90,m,NC,NC
2,20001001,02:00,2000-10-01,02:53,61,72,52,11,180,m,7220,m,m,10,M,1014.20,1014.60,m,NC,NC
3,20001001,03:00,2000-10-01,03:53,61,72,52,9,180,m,7220,m,m,10,M,1014.00,1014.20,m,NC,NC
4,20001001,04:00,2000-10-01,04:53,61,72,52,10,180,m,7220,m,m,10,M,1013.60,1013.90,m,NC,NC
5,20001001,05:00,2000-10-01,05:53,59,76,52,10,180,m,7220,m,m,10,M,1013.40,1013.50,m,NC,NC
6,20001001,06:00,2000-10-01,06:53,59,76,52,10,180,m,7220,m,m,8,M,1013.50,1013.50,m,NC,NC
7,20001001,07:00,2000-10-01,07:53,61,72,52,14,180,m,7220,m,m,9,M,1013.10,1013.20,m,NC,NC
8,20001001,08:00,2000-10-01,08:53,64,63,52,13,190,m,7220,m,m,10,M,1013.20,1013.50,m,NC,NC
9,20001001,09:00,2000-10-01,09:53,68,60,54,13,200,18,7220,m,m,10,M,1013.10,1013.20,m,NC,NC

---

### Time to find out the snow precipitation

The `precip` needs to be larger than 0.00, and `Temp` lower than 32.

In [24]:
# df_time_and_weather['Precip (in)'].astype(str)
df_time_and_weather['Precip (in)'] = df_time_and_weather['Precip (in)'].apply(lambda x: float(x) if str(x).replace('.', '', 1).isdigit() else -9)

In [25]:
df_time_and_weather['Precip (in)']

0       -9.0
1       -9.0
2       -9.0
3       -9.0
4       -9.0
        ...
78720    0.0
78721    0.0
78722    0.0
78723   -9.0
78724    0.0
Name: Precip (in), Length: 78725, dtype: float64

In [26]:
df_time_and_weather['Temp (F)'] = df_time_and_weather['Temp (F)'].apply(lambda x: float(x) if str(x).replace('.', '', 1).isdigit() else 999)

In [27]:
df_time_and_weather['Temp (F)']

0        63.0
1        63.0
2        61.0
3        61.0
4        61.0
         ...
78720    36.0
78721    35.0
78722    34.0
78723    36.0
78724    34.0
Name: Temp (F), Length: 78725, dtype: float64

In [28]:
is_snow_precip = ((df_time_and_weather['Precip (in)'] > 0) & (df_time_and_weather['Temp (F)']  <= 32)).tolist()

In [29]:
len(is_snow_precip)

78725

In [30]:
count_true = is_snow_precip.count(True)

print(count_true)

1282

In [31]:
df_time_and_weather['is_snow_precip'] = is_snow_precip

In [32]:
df_time_and_weather.head(5)

,Date_CST,Time_CST,Date,Time,Temp (F),RH (%),Dewpt (F),Wind Spd (mph),Wind Direction (deg),Peak Wind Gust(mph),...,Med Cloud Ht (ft),High Cloud Ht (ft),Visibility (mi),Atm Press (hPa),Sea Lev Press (hPa),Altimeter (hPa),Precip (in),Wind Chill (F),Heat Index (F),is_snow_precip
0,20001001,00:00,2000-10-01,00:53,63.0,59,48,9,180,m,...,m,m,10,M,1014.60,1014.90,-9.0,NC,NC,False
1,20001001,01:00,2000-10-01,01:53,63.0,63,50,10,190,m,...,m,m,10,M,1014.40,1014.90,-9.0,NC,NC,False
2,20001001,02:00,2000-10-01,02:53,61.0,72,52,11,180,m,...,m,m,10,M,1014.20,1014.60,-9.0,NC,NC,False
3,20001001,03:00,2000-10-01,03:53,61.0,72,52,9,180,m,...,m,m,10,M,1014.00,1014.20,-9.0,NC,NC,False
4,20001001,04:00,2000-10-01,04:53,61.0,72,52,10,180,m,...,m,m,10,M,1013.60,1013.90,-9.0,NC,NC,False

In [33]:
column_names = df_time_and_weather.columns.tolist()

print(column_names)

['Date_CST', 'Time_CST', 'Date', 'Time', 'Temp (F)', 'RH (%)', 'Dewpt (F)', 'Wind Spd (mph)', 'Wind Direction (deg)', 'Peak Wind Gust(mph)', 'Low Cloud Ht (ft)', 'Med Cloud Ht (ft)', 'High Cloud Ht (ft)', 'Visibility (mi)', 'Atm Press (hPa)', 'Sea Lev Press (hPa)', 'Altimeter (hPa)', 'Precip (in)', 'Wind Chill (F)', 'Heat Index (F)', 'is_snow_precip']

In [34]:
df_time_and_weather = df_time_and_weather[['Date_CST', 'Time_CST', 'Date', 'Time', 'is_snow_precip', 'Temp (F)', 'RH (%)', 'Dewpt (F)', 'Wind Spd (mph)', 'Wind Direction (deg)', 'Peak Wind Gust(mph)', 'Low Cloud Ht (ft)', 'Med Cloud Ht (ft)', 'High Cloud Ht (ft)', 'Visibility (mi)', 'Atm Press (hPa)', 'Sea Lev Press (hPa)', 'Altimeter (hPa)', 'Precip (in)', 'Wind Chill (F)', 'Heat Index (F)']]

In [35]:
df_time_and_weather.head(5)

,Date_CST,Time_CST,Date,Time,is_snow_precip,Temp (F),RH (%),Dewpt (F),Wind Spd (mph),Wind Direction (deg),...,Low Cloud Ht (ft),Med Cloud Ht (ft),High Cloud Ht (ft),Visibility (mi),Atm Press (hPa),Sea Lev Press (hPa),Altimeter (hPa),Precip (in),Wind Chill (F),Heat Index (F)
0,20001001,00:00,2000-10-01,00:53,False,63.0,59,48,9,180,...,7220,m,m,10,M,1014.60,1014.90,-9.0,NC,NC
1,20001001,01:00,2000-10-01,01:53,False,63.0,63,50,10,190,...,7220,m,m,10,M,1014.40,1014.90,-9.0,NC,NC
2,20001001,02:00,2000-10-01,02:53,False,61.0,72,52,11,180,...,7220,m,m,10,M,1014.20,1014.60,-9.0,NC,NC
3,20001001,03:00,2000-10-01,03:53,False,61.0,72,52,9,180,...,7220,m,m,10,M,1014.00,1014.20,-9.0,NC,NC
4,20001001,04:00,2000-10-01,04:53,False,61.0,72,52,10,180,...,7220,m,m,10,M,1013.60,1013.90,-9.0,NC,NC

---

### Try to read the list of LES event

In [36]:


# Path to the directory containing CSV files
obs_file_path = "Observation_Data/" + obs_filename

In [37]:
# Read the CSV file into a dataframe called df_obs
df_obs = pd.read_csv(obs_file_path)

df_obs.head(10)

   LES_Cloud_Cover_Start_Date  LES_Cloud_Cover_Start_Time  Duration
0                    20161002                        1500         4
1                    20161005                        1800         2
2                    20161208                        1600         3
3                    20161209                        1400         7
4                    20161210                        1400         6
5                    20161212                        1500         6
6                    20161214                        1600         5
7                    20161215                        1800         3
8                    20161218                        1500         7
9                    20170104                        1400         6

The `LES_Cloud_Cover_Start_Date` and `LES_Cloud_Cover_Start_Time` denote the the beginning of LES-related cloud above Lake Michigan based on Band 1 (visible band) satellite imagery data.

In [38]:
# Quick inspection
df_obs.loc[2, 'LES_Cloud_Cover_Start_Time']

1600

In [39]:
type(df_obs.loc[2, 'LES_Cloud_Cover_Start_Date'])

numpy.int64

In [40]:
df_obs.loc[2, 'LES_Cloud_Cover_Start_Date']

20161208

In [41]:
type(df_time_and_weather.loc[2, 'Date_CST'])

str

In [42]:
# df_obs['LES_Event_Start_Date'] = pd.to_datetime(df_obs['LES_Event_Start_Date'], format='%Y%m%d', utc=True).dt.tz_convert('Etc/GMT+6').dt.strftime('%Y%m%d')
# df_obs['LES_Event_Start_Time'] = pd.to_datetime(df_obs['LES_Event_Start_Time'], format='%H%M', utc=True).dt.tz_convert('Etc/GMT+6').dt.strftime('%H%M')

# df_obs.head(10)

In [43]:
matching_indices = df_obs['LES_Cloud_Cover_Start_Date'].apply(lambda x: df_time_and_weather[df_time_and_weather['Date_CST'] == str(x)].index.tolist()[0] if not df_time_and_weather[df_time_and_weather['Date_CST'] == str(x)].empty else -1).to_list()

print('Matched items:', len(matching_indices))
print('Total items:', len(df_obs['LES_Cloud_Cover_Start_Date']))

Matched items: 18
Total items: 18

In [44]:
# Quick inspection
matching_indices

[70012,
 70084,
 71620,
 71644,
 71668,
 71716,
 71764,
 71788,
 71860,
 72268,
 72292,
 72316,
 72340,
 72364,
 72964,
 73756,
 73852,
 73924]

In [45]:
matching_precip_indices = []
# for index in matching_indices:
#     row = df_time_and_weather.loc[index:index+119, 'is_snow_precip']
#     if True in row.values:
#         matching_precip_indices.append(row.idxmax())
#     else:
#         matching_precip_indices.append(-1)

# print(matching_precip_indices)

matching_precip_indices = []
for index in matching_indices:
    initial_date = datetime.strptime(str(df_time_and_weather.loc[index, 'Date_CST']), '%Y%m%d')
    end_date = initial_date + timedelta(days=6)
    row = df_time_and_weather.loc[index:index+119, 'is_snow_precip']
    for matched_token in row.index:
        if row[matched_token] and (initial_date <= datetime.strptime(str(df_time_and_weather.loc[matched_token, 'Date_CST']), '%Y%m%d') <= end_date):
            matching_precip_indices.append(matched_token)
            break
    else:
        matching_precip_indices.append(-1)

print(matching_precip_indices)

[-1, -1, 71641, 71648, 71691, 71745, 71832, 71832, 71866, 72315, 72315, 72316, 72408, 72408, -1, -1, 73902, 73950]

In [46]:
matched_temp = []
matched_wind_spd = []
matched_wind_dir = []

for start_idx, end_idx in zip(matching_indices, matching_precip_indices):
    if end_idx != -1:
        temp_values = df_time_and_weather.loc[start_idx:end_idx, 'Temp (F)'].tolist()
        wind_spd_values = df_time_and_weather.loc[start_idx:end_idx, 'Wind Spd (mph)'].tolist()
        wind_dir_values = df_time_and_weather.loc[start_idx:end_idx, 'Wind Direction (deg)'].tolist()
        
        # Attach those values
        matched_temp.append(temp_values)
        matched_wind_spd.append(wind_spd_values)
        matched_wind_dir.append(wind_dir_values)
    else:
        matched_temp.append([])
        matched_wind_spd.append([])
        matched_wind_dir.append([])

        
# matched_temp

In [47]:
len(matched_temp[6])

69

In [48]:
matched_temp[6]

[18.0,
 19.0,
 19.0,
 19.0,
 11.0,
 21.0,
 21.0,
 22.0,
 21.0,
 23.0,
 23.0,
 23.0,
 23.0,
 22.0,
 23.0,
 21.0,
 21.0,
 19.0,
 18.0,
 17.0,
 16.0,
 15.0,
 15.0,
 14.0,
 14.0,
 12.0,
 13.0,
 13.0,
 12.0,
 13.0,
 13.0,
 13.0,
 13.0,
 14.0,
 14.0,
 14.0,
 15.0,
 16.0,
 16.0,
 18.0,
 17.0,
 18.0,
 18.0,
 19.0,
 12.0,
 11.0,
 12.0,
 13.0,
 14.0,
 14.0,
 14.0,
 12.0,
 13.0,
 13.0,
 13.0,
 11.0,
 12.0,
 14.0,
 15.0,
 17.0,
 18.0,
 19.0,
 19.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 17.0]

In [49]:
duration_before_LES_snow = []
for start_idx, end_idx in zip(matching_indices, matching_precip_indices):
    if end_idx != -1:
        duration_before_LES_snow.append(end_idx - start_idx + 1)
    else:
        duration_before_LES_snow.append(-1)

duration_before_LES_snow

[-1, -1, 22, 5, 24, 30, 69, 45, 7, 48, 24, 1, 69, 45, -1, -1, 51, 27]

In [50]:
duration_of_LES_snowfall = []

for x in matching_precip_indices:
    if x == -1:
        duration_of_LES_snowfall.append(-1)
    else:
        # Define the time window for matching dates
        start_date = datetime.strptime(str(df_time_and_weather.loc[x, 'Date_CST']), '%Y%m%d')
        end_date = start_date + timedelta(days=4)

        # Calculate the start and end indices
        start_idx = x
        end_idx = min(x + 71, len(df_time_and_weather) - 1)

        # Count the number of True values in the 'is_snow_precip' column
        count = 0
        for i in range(start_idx, end_idx + 1):
            date = datetime.strptime(str(df_time_and_weather.loc[i, 'Date_CST']), '%Y%m%d')
            if df_time_and_weather.loc[i, 'is_snow_precip'] and start_date <= date <= end_date:
                count += 1

        duration_of_LES_snowfall.append(count)

print(duration_of_LES_snowfall)
print(len(duration_of_LES_snowfall))

[-1, -1, 18, 17, 17, 2, 6, 6, 1, 3, 3, 2, 5, 5, -1, -1, 12, 6]
18

In [51]:
# Create a dictionary with the columns and their corresponding values
data = {'LES_Cloud_Cover_Start_Date': df_obs['LES_Cloud_Cover_Start_Date'], 
        'LES_Cloud_Cover_Start_Time': df_obs['LES_Cloud_Cover_Start_Time'], 
        'Temp (F)': matched_temp, 
        'Duration Before LES Snow': duration_before_LES_snow,
        'Duration of LES Cloud': df_obs['Duration']-1}

# Create the new DataFrame
df_obs_snow_matched = pd.DataFrame(data)

# Print the new DataFrame
df_obs_snow_matched.head(10)

,LES_Cloud_Cover_Start_Date,LES_Cloud_Cover_Start_Time,Temp (F),Duration Before LES Snow,Duration of LES Cloud
0,20161002,1500,[],-1,3
1,20161005,1800,[],-1,1
2,20161208,1600,"[27.0, 27.0, 28.0, 28.0, 27.0, 27.0, 27.0, 27....",22,2
3,20161209,1400,"[30.0, 30.0, 30.0, 31.0, 30.0]",5,6
4,20161210,1400,"[27.0, 27.0, 27.0, 26.0, 26.0, 25.0, 25.0, 25....",24,5
5,20161212,1500,"[36.0, 37.0, 36.0, 35.0, 34.0, 33.0, 32.0, 31....",30,5
6,20161214,1600,"[18.0, 19.0, 19.0, 19.0, 11.0, 21.0, 21.0, 22....",69,4
7,20161215,1800,"[14.0, 12.0, 13.0, 13.0, 12.0, 13.0, 13.0, 13....",45,2
8,20161218,1500,"[23.0, 22.0, 21.0, 21.0, 19.0, 19.0, 20.0]",7,6
9,20170104,1400,"[31.0, 29.0, 26.0, 24.0, 22.0, 21.0, 20.0, 19....",48,5

---

### Try to gather the LES cloud coverage information

One of the challenges here is that the duration of the cloud coverage can run into multiple days. However, due to the use of Band 1, aka visible wavelength band, we will need to figure out how to count the data from multiple days.

The defined visible daytime range is from `1400` to `2100`, a timespan of 8 hours per day.

In [52]:
import datetime

end_date_list = []
end_time_list = []

for i in range(len(df_obs_snow_matched)):
    start_date = datetime.datetime.strptime(str(df_obs_snow_matched.loc[i, 'LES_Cloud_Cover_Start_Date']), '%Y%m%d')
    start_time = datetime.datetime.strptime(str(df_obs_snow_matched.loc[i, 'LES_Cloud_Cover_Start_Time']), '%H%M')

    duration_hours = df_obs_snow_matched.loc[i, 'Duration of LES Cloud']

    # Calculate the number of days and hours to add
    num_days = int(duration_hours // 8)
    num_hours = int(duration_hours % 8)
#     print(num_days)
#     print(num_hours)

    # Calculate the end datetime
    end_date_time = start_date + timedelta(days=num_days) + timedelta(hours=num_hours)
    end_time_hour = start_time.hour + num_hours + ((num_hours) // 8) * 3
    end_time_minute = start_time.minute
    end_time_second = start_time.second

#     # Calculate the end time
#     if end_time_minute >= 60:
#         end_time_hour += 1
#         end_time_minute -= 60

    end_time_list.append(f"{end_time_hour:02}{end_time_minute:02}")
    end_date_list.append(end_date_time.strftime('%Y%m%d'))

print(end_date_list)
print(end_time_list)

['20161002', '20161005', '20161208', '20161209', '20161210', '20161212', '20161214', '20161215', '20161218', '20170104', '20170105', '20170106', '20170107', '20170108', '20170202', '20170307', '20170311', '20170314']
['1800', '1900', '1800', '2000', '1900', '2000', '2000', '2000', '2100', '1900', '2000', '1900', '1800', '1900', '1700', '1500', '1500', '1900']

**Construct function to read the lake data.**

In [53]:
import numpy as np

def lake_basic_stat(filedir):
    df_lake_raw = pd.read_csv(filedir)
    
    # Acquire the data from the specific columns
    x, y, i = df_lake_raw.longitude, df_lake_raw.latitude, df_lake_raw.value
    
    # Intermediate stats
    mean_i = np.nanmean(i)
    std_i = np.nanstd(i)
    p75 = np.nanpercentile(i, 25)
    
    cut_off_threshold = mean_i - 1*std_i
    
#     print(cut_off_threshold)
    
    if cut_off_threshold <= 0:
        cut_off_threshold = p75
        
#     print(cut_off_threshold)
    
    count = len([x for x in i if x > cut_off_threshold and not math.isnan(x)])
    total_intensity_unweighted = np.nansum(i)
    normalized_i = [x/total_intensity_unweighted for x in i if not np.isnan(x)]
    cut_off_threshold_normalized = cut_off_threshold / total_intensity_unweighted
    total_intensity_normalized = sum(val for val in normalized_i if val > cut_off_threshold_normalized)
    
    percent_cloud_cover = count / len(i) * 100
    return count, total_intensity_unweighted, total_intensity_normalized, percent_cloud_cover, cut_off_threshold

In [54]:
# Test
!pwd
test_file = 'GOES_Hourly_Statistics/zone_0_2012Fall_2013Spring/goes15.2012.10.30.1500.v01.nc-var1-t0.csv'
a, b, c, d, e = lake_basic_stat(test_file)
print(a)
print(b)
print(c)
print(d)
print(e)

/srv/scratch/NOAA
2729
1392.712480655
0.8972867697949285
76.25034925956972
0.25210565055363243

In [55]:
# from datetime import datetime, timedelta

start_date_list = df_obs['LES_Cloud_Cover_Start_Date'].tolist()

start_time_list = df_obs['LES_Cloud_Cover_Start_Time'].tolist()

all_dates = []
all_times = []
all_date_times = []

for i in range(len(start_date_list)):
    start_date = str(start_date_list[i])
    start_time = str(start_time_list[i])
    end_date = str(end_date_list[i])
    end_time = str(end_time_list[i])
    
    # Convert start and end date/time to datetime objects
    start_datetime = datetime.datetime.strptime(start_date + start_time, "%Y%m%d%H%M")
    end_datetime = datetime.datetime.strptime(end_date + end_time, "%Y%m%d%H%M")

    # Generate all possible dates
    all_date = [(start_datetime + timedelta(days=d)).strftime("%Y.%m.%d") for d in range((end_datetime - start_datetime).days + 1)]
    
    all_dates.append(all_date)
    # Generate all possible times in the range of 1400 to 2100
    all_time = [(datetime.datetime.strptime("1400", "%H%M") + timedelta(minutes=m)).strftime("%H%M") for m in range(0, 8 * 60 + 1, 60)]

    all_times.append(all_time)
    # Combine all possible dates and times
    all_date_time = [(d, t) for d in all_date for t in all_time]
    all_date_times.append(all_date_time)
#     print(all_date_time)


# # Convert start_date and start_time to datetime objects
# start_date_str = [str(date) for date in start_date]
# start_time_str = [f'{time:04d}' for time in start_time]
# start_datetime = [datetime.strptime(date + time, '%Y%m%d%H%M') for date, time in zip(start_date_str, start_time_str)]

# # Convert end_date and end_time to datetime objects
# end_datetime = datetime.strptime(end_date + end_time, '%Y%m%d%H%M')

# # Generate list of all dates between start and end dates
# all_dates = []
# current_date = start_datetime[0].date()
# while current_date <= end_datetime.date():
#     all_dates.append(current_date)
#     current_date += timedelta(days=1)

# # Generate list of all times between 14:00 and 21:00
# all_times = []
# for hour in range(14, 22):
#     minute = 0
#     time_str = f'{hour:02d}:{minute:02d}'
#     all_times.append(time_str)

# # Combine dates and times to get all possible date-time combinations
# all_date_times = []
# for date in all_dates:
#     for time in all_times:
#         datetime_str = f'{date} {time}'
#         all_date_times.append(datetime.strptime(datetime_str, '%Y-%m-%d %H:%M'))

In [56]:
all_times[5]

['1400', '1500', '1600', '1700', '1800', '1900', '2000', '2100', '2200']

In [57]:
all_dates[5]

['2016.12.12']

In [58]:
all_date_times[5]

[('2016.12.12', '1400'),
 ('2016.12.12', '1500'),
 ('2016.12.12', '1600'),
 ('2016.12.12', '1700'),
 ('2016.12.12', '1800'),
 ('2016.12.12', '1900'),
 ('2016.12.12', '2000'),
 ('2016.12.12', '2100'),
 ('2016.12.12', '2200')]

In [59]:
# all_date_time_str = []
# for date_time in all_date_time:
#     date_str = date_time[0]
#     time_str = date_time[1]
#     all_date_time_str.append(date_str + '.' + time_str)

# all_date_time_str

---

### Construct folder path

In [60]:
# 'GOES_Hourly_Statistics/zone_0_2012Fall_2013Spring/goes15.2012.10.30.1500.v01.nc-var1-t0.csv'
period_str = obs_filename[0:19]
# print(period_str)

GOES_ID = 'goes15'

parent_dir = 'GOES_Hourly_Statistics/zone_0_'+period_str+'/'
print(parent_dir)

GOES_Hourly_Statistics/zone_0_2016Fall_2017Spring/

In [61]:
# count, total_intensity_unweighted, total_intensity_normalized, percent_cloud_cover, cut_off_threshold

count_list = []
total_intensity_unweighted_list = []
total_intensity_normalized_list = []
percent_cloud_cover_list = []
cut_off_threshold_list = []

counter = 0
for item in all_date_times:
    # Start constructing the temp
    temp_a = []
    temp_b = []
    temp_c = []
    temp_d = []
    temp_e = []
#     print(item)
    
    for per in item:
        time_stamper = f'{per[0]}.{per[1]}'
        par_filename = parent_dir + GOES_ID + '.' + time_stamper + '.v01.nc-var1-t0.csv'
#         print(par_filename)
        if os.path.exists(par_filename):
            a, b, c, d, e = lake_basic_stat(par_filename)
        else:
            a = b = c = d = e = -1
            
        temp_a.append(a)
        temp_b.append(b)
        temp_c.append(c)
        temp_d.append(d)
        temp_e.append(e)
        
    count_list.append(temp_a)
    total_intensity_unweighted_list.append(temp_b)
    total_intensity_normalized_list.append(temp_c)
    percent_cloud_cover_list.append(temp_d)
    cut_off_threshold_list.append(temp_e)

In [62]:
# a = b = c = d = e = -1
print(count_list)

[[3081, 2980, 2983, 2852, 2844, 2809, 2827, 2963, 3067], [2933, 2969, 2854, 2973, 3061, 2996, 2384, 3599, 3599], [2942, 2921, 2829, 2819, 2870, 2931, -1, 2792, 2698], [2964, 2881, 2885, 2968, 2978, 2994, 2997, 2974, 3067], [3033, 3023, 2964, 2858, 2865, 2945, 2948, 2960, 2719], [2909, 2821, 2759, 2712, 2585, 2658, 2710, 2743, 2943], [2830, 2850, 2825, 2806, 2822, 2750, 2780, 2832, 2832], [2948, 2920, 2828, 2775, 2683, 2610, -1, 2752, 3413], [2943, 2904, 2811, 2765, 2710, 2677, 2665, 2712, 3076], [2874, 2890, 2801, 2770, 2707, 2681, 2761, 2815, 2983], [2946, 3020, 2998, 2975, 2958, 2957, -1, 2969, 2757], [2922, 2950, 2907, 2771, 2685, 2616, 2668, 2801, 2720], [2922, 2806, 2775, 2650, 2658, 2677, 2752, 2806, 3041], [2840, 2762, 2858, 2783, 2649, 2699, 2726, 2816, 3113], [2654, 2733, 2669, 3087, 2707, 3360, -1, 2790, 3332], [3599, 3599, 3599, 3599, 3599, 3599, 3597, 3596, 3599], [2583, 2725, 2604, 2639, 2603, 2550, 2689, 2786, 2579], [2721, 2913, 2885, 3138, 2929, 2913, 2916, 2812, 2782]]

In [63]:
data = {'LES_Cloud_Cover_Start_Date': df_obs['LES_Cloud_Cover_Start_Date'], 
        'LES_Cloud_Cover_Start_Time': df_obs['LES_Cloud_Cover_Start_Time'], 
        'Temp (F)': matched_temp, 
        'Wind Spd (mph)': matched_wind_spd,
        'Wind Direction (deg)': matched_wind_dir,
        'Duration Before LES Snow': duration_before_LES_snow,
        'Duration of LES Cloud': df_obs['Duration']-1,
        '# cloud pixels': count_list,
        'Total Intensity (Raw)': total_intensity_unweighted_list,
        'Total Intensity (Normalized)': total_intensity_normalized_list,
        '% Cloud Coverage': percent_cloud_cover_list,
        'Cloud Intensity Threshold': cut_off_threshold_list}

# Create the new DataFrame
df_obs_snow_all = pd.DataFrame(data)
df_obs_snow_all.head(5)

,LES_Cloud_Cover_Start_Date,LES_Cloud_Cover_Start_Time,Temp (F),Wind Spd (mph),Wind Direction (deg),Duration Before LES Snow,Duration of LES Cloud,# cloud pixels,Total Intensity (Raw),Total Intensity (Normalized),% Cloud Coverage,Cloud Intensity Threshold
0,20161002,1500,[],[],[],-1,3,"[3081, 2980, 2983, 2852, 2844, 2809, 2827, 296...","[1707.61247346, 1735.5949753650002, 1668.58997...","[0.9044323578936297, 0.8936344598910954, 0.922...","[85.6071130869686, 82.80077799388718, 82.88413...","[0.38690261651033236, 0.3725055223596891, 0.31..."
1,20161005,1800,[],[],[],-1,1,"[2933, 2969, 2854, 2973, 3061, 2996, 2384, 359...","[1120.54998206, 1191.2224811, 1385.78247961499...","[0.8855517378490899, 0.8973428555704557, 0.899...","[81.49485968324535, 82.49513753820506, 79.2998...","[0.2269017202805816, 0.2256681268492046, 0.240..."
2,20161208,1600,"[27.0, 27.0, 28.0, 28.0, 27.0, 27.0, 27.0, 27....","[22, 18, 23, 20, 21, 18, 24, 22, 23, 24, 24, 2...","[270, 270, 270, 260, 260, 260, 270, 250, 270, ...",22,2,"[2942, 2921, 2829, 2819, 2870, 2931, -1, 2792,...","[477.13499279200005, 823.754989792, 985.132485...","[0.8899525290321971, 0.9058791752732483, 0.902...","[81.74492914698529, 81.16143373159211, 78.6051...","[0.09657989253103944, 0.1582847362612299, 0.16..."
3,20161209,1400,"[30.0, 30.0, 30.0, 31.0, 30.0]","[16, 20, 14, 15, 9]","[290, 280, 290, 290, 310]",5,6,"[2964, 2881, 2885, 2968, 2978, 2994, 2997, 297...","[432.657493408, 772.11249011, 1003.317484253, ...","[0.9039887208383012, 0.9075296673159278, 0.911...","[82.35621005834955, 80.05001389274798, 80.1611...","[0.08406892652919873, 0.13973546181173, 0.1781..."
4,20161210,1400,"[27.0, 27.0, 27.0, 26.0, 26.0, 25.0, 25.0, 25....","[9, 9, 16, 13, 15, 13, 13, 17, 15, 13, 16, 11,...","[280, 280, 270, 280, 270, 260, 260, 270, 260, ...",24,5,"[3033, 3023, 2964, 2858, 2865, 2945, 2948, 296...","[445.19999337900003, 826.7899902720001, 1044.8...","[0.9108827495394284, 0.9220448964182506, 0.919...","[84.27340928035565, 83.99555432064463, 82.3562...","[0.09136056053186721, 0.16411877312293816, 0.1..."

In [64]:
# folder_name = 'MI-14840-Muskegon_Co_AP'
folder_parts = folder_name.split('-')
period_str

result_name = 'Results_for_ANN/'+folder_parts[0]+'_'+folder_parts[1]+'_'+period_str+'.csv'

df_obs_snow_all.to_csv(result_name, index=False)