In [4]:
!pip install pandas
!pip install numpy
!pip install tqdm

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /opt/tljh/user/lib/python3.8/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/tljh/user/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/tljh/user/lib/python3.8/site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.20.3 in /home/jupyter-doggo/.local/lib/python3.8/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/tljh/user/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /home/jupyter-doggo/.local/lib/python3.8/site-packages (1.23.5)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: tqdm in /opt/tljh/user/lib/python3.8/site-packages (4.62.3)

In [5]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm

## `TO-DO`: Change `start_year`, `end_year`, and `weather_station` based on needs

`filename` <String> : The meteorology data collected from each weather station.

In [6]:
# Important, make sure to use the correct file
weather_station = 'MI-14850-TRAVERSE_CITY_CHERRY_CPTL_AP'

start_year = 2016
end_year = 2017

filename = weather_station[0:9]+str(start_year)+'Fall-'+str(end_year)+'Spring.csv'

## Extract the state indicator
STATE_ID = filename[:2]
STATE_2_LTR = filename[:2]
print(STATE_2_LTR)

# Check if they exist
if os.path.exists('NSW_Weather/'+weather_station+'/'):
    print('Weather station data exists for ', weather_station)
else:
    print('Weather station data does not exist for ', weather_station)
    
if os.path.isfile('NSW_Weather/'+weather_station+'/'+filename):
    print("File exists, reading table!")
    temp_table = pd.read_csv('NSW_Weather/'+weather_station+'/'+filename, skiprows = 8, skipfooter = 15)
else:
    print("File does not exist, please rewind!")

MI
Weather station data exists for  MI-14850-TRAVERSE_CITY_CHERRY_CPTL_AP
File exists, reading table!

/tmp/ipykernel_167831/1416301442.py:22: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  temp_table = pd.read_csv('NSW_Weather/'+weather_station+'/'+filename, skiprows = 8, skipfooter = 15)

**Retrieving the GOES satellite imagery data.**

In [7]:
# folder_name = 'zone_0_2016Fall_2017Spring'
# Construct folder_name for 1-D data
# print(filename)
folder_name = 'zone_0_'+filename[9:13]+'Fall_'+filename[18:22]+'Spring'
# print(folder_name)

# Acquire the folder location for 2-D lake data based on folder_name
folder_name_2D = folder_name[0:7]+'T_'+folder_name[7:]
# print(folder_name_2D)

# Add the parent folder name
parent_path = 'GOES_Hourly_Statistics/'

# Check if they exist
if os.path.exists(parent_path + folder_name):
    print('1-D Lake Michigan data exists for ', folder_name[7:15], ' to ', folder_name[16:])
else:
    print('1-D Lake Michigan data does not exist for ', folder_name[7:15], ' to ', folder_name[16:])
    
if os.path.exists(parent_path + folder_name_2D):
    print('2-D Lake Michigan data exists for ', folder_name_2D[9:17], ' to ', folder_name_2D[18:])
else:
    print('2-D Lake Michigan data does not exist for ', folder_name[9:17], ' to ', folder_name_2D[18:])

1-D Lake Michigan data exists for  2016Fall  to  2017Spring
2-D Lake Michigan data exists for  2016Fall  to  2017Spring

**Optional:**
You might have noticed that there is an empty column at the end of the table, since the footer of the weather station data contains extra words at the end. Therefore, it would be the best to drop it, but it is optional.

In [8]:
try:
    temp_table = temp_table.drop('Unnamed: 18', axis = 1)
    print('Empty Column at the end is dropped.')
except:
    print('Nothing to be dropped here.')

Empty Column at the end is dropped.

In [9]:
temp_table.head(5)

,Date,Time,Temp (F),RH (%),Dewpt (F),Wind Spd (mph),Wind Direction (deg),Peak Wind Gust(mph),Low Cloud Ht (ft),Med Cloud Ht (ft),High Cloud Ht (ft),Visibility (mi),Atm Press (hPa),Sea Lev Press (hPa),Altimeter (hPa),Precip (in),Wind Chill (F),Heat Index (F)
0,2016-09-01,00:53,66,69,56,9,40,m,2500,3100,5500,10,997.00,1019.90,1020.00,0.00,NC,NC
1,2016-09-01,01:53,66,72,57,7,350,m,2100,m,m,10,997.00,1019.60,1020.00,0.00,NC,NC
2,2016-09-01,02:53,66,69,56,6,350,m,2400,2900,7000,10,997.00,1019.60,1020.00,0.00,NC,NC
3,2016-09-01,03:50,64,77,57,5,340,m,2000,2700,7500,10,997.00,M,1020.00,0.00,NC,NC
4,2016-09-01,04:53,62,89,59,7,70,m,1700,2500,m,3,997.00,1019.80,1020.00,0.20,NC,NC

### Generate all possible time stamps

In [10]:
from datetime import timedelta, date

def daterange(date1, date2):
    for n in range(int ((date2 - date1).days) + 1):
        yield date1 + timedelta(n)

In [11]:
start_dt = date(start_year, 10, 1)
end_dt = date(end_year, 3, 31)

In [12]:
# Testing
for dt in daterange(start_dt, end_dt):
    print(dt.strftime("%Y%m%d"))

20161001
20161002
20161003
20161004
20161005
20161006
20161007
20161008
20161009
20161010
20161011
20161012
20161013
20161014
20161015
20161016
20161017
20161018
20161019
20161020
20161021
20161022
20161023
20161024
20161025
20161026
20161027
20161028
20161029
20161030
20161031
20161101
20161102
20161103
20161104
20161105
20161106
20161107
20161108
20161109
20161110
20161111
20161112
20161113
20161114
20161115
20161116
20161117
20161118
20161119
20161120
20161121
20161122
20161123
20161124
20161125
20161126
20161127
20161128
20161129
20161130
20161201
20161202
20161203
20161204
20161205
20161206
20161207
20161208
20161209
20161210
20161211
20161212
20161213
20161214
20161215
20161216
20161217
20161218
20161219
20161220
20161221
20161222
20161223
20161224
20161225
20161226
20161227
20161228
20161229
20161230
20161231
20170101
20170102
20170103
20170104
20170105
20170106
20170107
20170108
20170109
20170110
20170111
20170112
20170113
20170114
20170115
20170116
20170117
20170118
20170119
20170120
20170121
20170122
20170123
20170124
20170125
20170126
20170127
20170128
20170129
20170130
20170131
20170201
20170202
20170203
20170204
20170205
20170206
20170207
20170208
20170209
20170210
20170211
20170212
20170213
20170214
20170215
20170216
20170217
20170218
20170219
20170220
20170221
20170222
20170223
20170224
20170225
20170226
20170227
20170228
20170301
20170302
20170303
20170304
20170305
20170306
20170307
20170308
20170309
20170310
20170311
20170312
20170313
20170314
20170315
20170316
20170317
20170318
20170319
20170320
20170321
20170322
20170323
20170324
20170325
20170326
20170327
20170328
20170329
20170330
20170331

In [13]:
weather_date_theo = [dt.strftime("%Y%m%d") for dt in daterange(start_dt, end_dt)]

In [14]:
# One more inspection
weather_date_theo

['20161001',
 '20161002',
 '20161003',
 '20161004',
 '20161005',
 '20161006',
 '20161007',
 '20161008',
 '20161009',
 '20161010',
 '20161011',
 '20161012',
 '20161013',
 '20161014',
 '20161015',
 '20161016',
 '20161017',
 '20161018',
 '20161019',
 '20161020',
 '20161021',
 '20161022',
 '20161023',
 '20161024',
 '20161025',
 '20161026',
 '20161027',
 '20161028',
 '20161029',
 '20161030',
 '20161031',
 '20161101',
 '20161102',
 '20161103',
 '20161104',
 '20161105',
 '20161106',
 '20161107',
 '20161108',
 '20161109',
 '20161110',
 '20161111',
 '20161112',
 '20161113',
 '20161114',
 '20161115',
 '20161116',
 '20161117',
 '20161118',
 '20161119',
 '20161120',
 '20161121',
 '20161122',
 '20161123',
 '20161124',
 '20161125',
 '20161126',
 '20161127',
 '20161128',
 '20161129',
 '20161130',
 '20161201',
 '20161202',
 '20161203',
 '20161204',
 '20161205',
 '20161206',
 '20161207',
 '20161208',
 '20161209',
 '20161210',
 '20161211',
 '20161212',
 '20161213',
 '20161214',
 '20161215',
 '20161216',
 '20161217',
 '20161218',
 '20161219',
 '20161220',
 '20161221',
 '20161222',
 '20161223',
 '20161224',
 '20161225',
 '20161226',
 '20161227',
 '20161228',
 '20161229',
 '20161230',
 '20161231',
 '20170101',
 '20170102',
 '20170103',
 '20170104',
 '20170105',
 '20170106',
 '20170107',
 '20170108',
 '20170109',
 '20170110',
 '20170111',
 '20170112',
 '20170113',
 '20170114',
 '20170115',
 '20170116',
 '20170117',
 '20170118',
 '20170119',
 '20170120',
 '20170121',
 '20170122',
 '20170123',
 '20170124',
 '20170125',
 '20170126',
 '20170127',
 '20170128',
 '20170129',
 '20170130',
 '20170131',
 '20170201',
 '20170202',
 '20170203',
 '20170204',
 '20170205',
 '20170206',
 '20170207',
 '20170208',
 '20170209',
 '20170210',
 '20170211',
 '20170212',
 '20170213',
 '20170214',
 '20170215',
 '20170216',
 '20170217',
 '20170218',
 '20170219',
 '20170220',
 '20170221',
 '20170222',
 '20170223',
 '20170224',
 '20170225',
 '20170226',
 '20170227',
 '20170228',
 '20170301',
 '20170302',
 '20170303',
 '20170304',
 '20170305',
 '20170306',
 '20170307',
 '20170308',
 '20170309',
 '20170310',
 '20170311',
 '20170312',
 '20170313',
 '20170314',
 '20170315',
 '20170316',
 '20170317',
 '20170318',
 '20170319',
 '20170320',
 '20170321',
 '20170322',
 '20170323',
 '20170324',
 '20170325',
 '20170326',
 '20170327',
 '20170328',
 '20170329',
 '20170330',
 '20170331']

### Check if any missing values

In [15]:
range_day_count = len(weather_date_theo)
print('There are supposed to be {0} days in the given period.'.format(range_day_count))

There are supposed to be 182 days in the given period.

In [16]:
range_hour_count = range_day_count * 24
print('There are supposed to be {0} hours in total in the given period.'.format(range_hour_count))

There are supposed to be 4368 hours in total in the given period.

#### Do notice that the weather station data, we would need to round the timestamp to the nearest hour.

In [17]:
# Pad it out to 24 hours
import itertools

csv_date_list = list(itertools.chain.from_iterable(itertools.repeat(x, 24) for x in weather_date_theo))

In [18]:
len(csv_date_list)

4368

### Create the list of hours

In [19]:
hour_lib = ['00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00', '09:00', 
            '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00',
            '18:00', '19:00', '20:00', '21:00', '22:00', '23:00']

In [20]:
csv_time_list = hour_lib * len(weather_date_theo)

In [21]:
# Inspection only
# csv_time_list[:26]

**We need to notice that there are 2 possible timezones in this case, one is `Central Standard Time`, another one is `Eastern Standard Time`. For states in Illinois and Wisconsin, there is no need to change the date and time after converting the timestamp to the nearest hour. However, due to the timezone difference in other states such as Michigan, you will need to dial back the time by one hour to convert it to Central Standard Time without Daylight Savings.**

There is 1 hour difference. Therefore, we rely on one parameter `STATE`, which extracts the first 2 letters of the file name, to properly align the time stamps together.

In [22]:
# Inspection
print('The weather station is from', STATE_2_LTR)

The weather station is from MI

In [23]:
# tester = weather_date_theo[:5]
# tester.pop(0)
# tester

In [24]:
# tester.append(str(int(tester[-1])+1))
# tester

In [25]:
import math
from datetime import datetime, timedelta

def round_datetime_to_nearest_hour(obj_arr, STATE_ID):
    arr_len = len(obj_arr)
    Date_CST = []
    Time_CST = []
    for i in range(arr_len):
        # iterate through
        date_item = obj_arr['Date'][i]
        time_item = obj_arr['Time'][i]
        t = datetime.strptime(date_item + " " + time_item, "%Y-%m-%d %H:%M")
        # Calculate the number of minutes past the last full hour
        minutes_past_hour = t.minute + t.second / 60
        # Round up to the next whole number of hours if the time is more than 30 minutes past the hour,
        # or round down to the current hour if it's less than 30 minutes past
        if minutes_past_hour >= 30:
            num_hours = math.ceil(minutes_past_hour / 60)
        else:
            num_hours = 0
        # Create a new datetime object representing the rounded time
        if STATE_ID in ['IL', 'WI']:
            # No need to dial back one hour
            rounded_time_temp = t + timedelta(hours=num_hours)
        else:
            rounded_time_temp = t + timedelta(hours=num_hours-1)
        rounded_time=datetime(year=rounded_time_temp.year,
                         month=rounded_time_temp.month,
                         day=rounded_time_temp.day,
                         hour=rounded_time_temp.hour, minute=0, second=0)
        result_stamp = rounded_time.strftime("%Y-%m-%d %H:%M")
        
        new_date, new_time = result_stamp.split(' ')
        Date_CST.append(new_date)
        Time_CST.append(new_time)
        
    obj_arr['Date_CST'] = Date_CST
    obj_arr['Time_CST'] = Time_CST
    return obj_arr

**We need to notice that there are 2 possible timezones in this case, one is `Central Standard Time`, another one is `Eastern Standard Time`**

There is 1 hour difference. Therefore, we rely on one parameter `STATE`, which extracts the first 2 letters of the file name, to properly align the time stamps together.

### Add the rounded time into the weather station data

In [26]:
# Example usage
weather_with_CST = round_datetime_to_nearest_hour(temp_table, STATE_ID)

In [27]:
# Perform inspection
weather_with_CST.head(10)
# Make sure you scroll to the right to check the newly added data

,Date,Time,Temp (F),RH (%),Dewpt (F),Wind Spd (mph),Wind Direction (deg),Peak Wind Gust(mph),Low Cloud Ht (ft),Med Cloud Ht (ft),High Cloud Ht (ft),Visibility (mi),Atm Press (hPa),Sea Lev Press (hPa),Altimeter (hPa),Precip (in),Wind Chill (F),Heat Index (F),Date_CST,Time_CST
0,2016-09-01,00:53,66,69,56,9,40,m,2500,3100,5500,10,997.00,1019.90,1020.00,0.00,NC,NC,2016-09-01,00:00
1,2016-09-01,01:53,66,72,57,7,350,m,2100,m,m,10,997.00,1019.60,1020.00,0.00,NC,NC,2016-09-01,01:00
2,2016-09-01,02:53,66,69,56,6,350,m,2400,2900,7000,10,997.00,1019.60,1020.00,0.00,NC,NC,2016-09-01,02:00
3,2016-09-01,03:50,64,77,57,5,340,m,2000,2700,7500,10,997.00,M,1020.00,0.00,NC,NC,2016-09-01,03:00
4,2016-09-01,04:53,62,89,59,7,70,m,1700,2500,m,3,997.00,1019.80,1020.00,0.20,NC,NC,2016-09-01,04:00
5,2016-09-01,05:53,63,83,58,0,0,m,2400,3000,5500,10,997.70,1020.50,1020.70,0.27,NC,NC,2016-09-01,05:00
6,2016-09-01,06:53,63,86,59,5,50,m,2700,3600,5500,10,998.30,1021.20,1021.30,0.00,NC,NC,2016-09-01,06:00
7,2016-09-01,07:53,64,77,57,6,60,m,2400,6000,m,10,998.70,1021.50,1021.70,0.00,NC,NC,2016-09-01,07:00
8,2016-09-01,08:53,65,75,57,8,60,m,2000,3200,4700,10,999.00,1022.00,1022.00,0.00,NC,NC,2016-09-01,08:00
9,2016-09-01,09:51,66,72,57,7,350,m,2300,3900,4600,10,999.60,M,1022.70,m,NC,NC,2016-09-01,09:00

In [28]:
weather_with_CST['Precip (in)'] = weather_with_CST['Precip (in)'].replace('m', 0).astype(float)
weather_with_CST['Temp (F)'] = weather_with_CST['Temp (F)'].replace('M', 200).astype(int)

is_snow_precip = ((weather_with_CST['Precip (in)'] > 0) & (weather_with_CST['Temp (F)']  <= 32)).tolist()

In [29]:
weather_with_CST['is_snow_precip'] = is_snow_precip

In [30]:
weather_with_CST.head(5)

,Date,Time,Temp (F),RH (%),Dewpt (F),Wind Spd (mph),Wind Direction (deg),Peak Wind Gust(mph),Low Cloud Ht (ft),Med Cloud Ht (ft),...,Visibility (mi),Atm Press (hPa),Sea Lev Press (hPa),Altimeter (hPa),Precip (in),Wind Chill (F),Heat Index (F),Date_CST,Time_CST,is_snow_precip
0,2016-09-01,00:53,66,69,56,9,40,m,2500,3100,...,10,997.00,1019.90,1020.00,0.0,NC,NC,2016-09-01,00:00,False
1,2016-09-01,01:53,66,72,57,7,350,m,2100,m,...,10,997.00,1019.60,1020.00,0.0,NC,NC,2016-09-01,01:00,False
2,2016-09-01,02:53,66,69,56,6,350,m,2400,2900,...,10,997.00,1019.60,1020.00,0.0,NC,NC,2016-09-01,02:00,False
3,2016-09-01,03:50,64,77,57,5,340,m,2000,2700,...,10,997.00,M,1020.00,0.0,NC,NC,2016-09-01,03:00,False
4,2016-09-01,04:53,62,89,59,7,70,m,1700,2500,...,3,997.00,1019.80,1020.00,0.2,NC,NC,2016-09-01,04:00,False

In [31]:
def check_snow_24_120(df):
    does_snow_24_120 = []
    for i in range(len(df)):
        if i + 120 < len(df):
            if any(df['is_snow_precip'].iloc[i+24:i+120]):
                does_snow_24_120.append(True)
            else:
                does_snow_24_120.append(False)
        else:
            does_snow_24_120.append(False)
    df['does_snow_24_120'] = does_snow_24_120
    return df

In [32]:
weather_with_CST = check_snow_24_120(weather_with_CST)
weather_with_CST.head(5)

,Date,Time,Temp (F),RH (%),Dewpt (F),Wind Spd (mph),Wind Direction (deg),Peak Wind Gust(mph),Low Cloud Ht (ft),Med Cloud Ht (ft),...,Atm Press (hPa),Sea Lev Press (hPa),Altimeter (hPa),Precip (in),Wind Chill (F),Heat Index (F),Date_CST,Time_CST,is_snow_precip,does_snow_24_120
0,2016-09-01,00:53,66,69,56,9,40,m,2500,3100,...,997.00,1019.90,1020.00,0.0,NC,NC,2016-09-01,00:00,False,False
1,2016-09-01,01:53,66,72,57,7,350,m,2100,m,...,997.00,1019.60,1020.00,0.0,NC,NC,2016-09-01,01:00,False,False
2,2016-09-01,02:53,66,69,56,6,350,m,2400,2900,...,997.00,1019.60,1020.00,0.0,NC,NC,2016-09-01,02:00,False,False
3,2016-09-01,03:50,64,77,57,5,340,m,2000,2700,...,997.00,M,1020.00,0.0,NC,NC,2016-09-01,03:00,False,False
4,2016-09-01,04:53,62,89,59,7,70,m,1700,2500,...,997.00,1019.80,1020.00,0.2,NC,NC,2016-09-01,04:00,False,False

In [33]:
weather_with_CST[weather_with_CST['does_snow_24_120'] == True]

,Date,Time,Temp (F),RH (%),Dewpt (F),Wind Spd (mph),Wind Direction (deg),Peak Wind Gust(mph),Low Cloud Ht (ft),Med Cloud Ht (ft),...,Atm Press (hPa),Sea Lev Press (hPa),Altimeter (hPa),Precip (in),Wind Chill (F),Heat Index (F),Date_CST,Time_CST,is_snow_precip,does_snow_24_120
1790,2016-11-14,14:53,60,47,40,6,220,m,25000,m,...,986.40,1009.40,1009.10,0.0,NC,NC,2016-11-14,14:00,False,True
1791,2016-11-14,15:53,60,49,41,6,M,m,25000,m,...,987.00,1009.80,1009.80,0.0,NC,NC,2016-11-14,15:00,False,True
1792,2016-11-14,16:53,54,71,45,7,10,m,25000,m,...,987.30,1010.50,1010.20,0.0,NC,NC,2016-11-14,16:00,False,True
1793,2016-11-14,17:53,51,82,46,3,50,m,25000,m,...,988.00,1011.20,1010.80,0.0,NC,NC,2016-11-14,17:00,False,True
1794,2016-11-14,18:53,49,83,44,0,0,m,25000,m,...,988.70,1011.60,1011.50,0.0,NC,NC,2016-11-14,18:00,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4610,2017-03-12,02:53,20,51,5,10,310,m,4700,m,...,1007.00,1031.40,1030.10,0.0,9,NC,2017-03-12,02:00,False,True
4611,2017-03-12,03:53,20,51,5,10,310,m,3500,4800,...,1006.60,1031.00,1029.80,0.0,9,NC,2017-03-12,03:00,False,True
4612,2017-03-12,04:53,19,61,8,7,280,m,3500,4700,...,1006.60,1030.80,1029.80,0.0,10,NC,2017-03-12,04:00,False,True
4613,2017-03-12,05:53,18,64,8,5,280,m,2600,5000,...,1006.60,1031.10,1029.80,0.0,11,NC,2017-03-12,05:00,False,True
4614,2017-03-12,06:51,18,72,10,5,260,m,2600,3800,...,1007.00,M,1030.10,0.0,11,NC,2017-03-12,06:00,False,True

In [39]:
weather_with_CST[1890:1920]

,Date,Time,Temp (F),RH (%),Dewpt (F),Wind Spd (mph),Wind Direction (deg),Peak Wind Gust(mph),Low Cloud Ht (ft),Med Cloud Ht (ft),...,Atm Press (hPa),Sea Lev Press (hPa),Altimeter (hPa),Precip (in),Wind Chill (F),Heat Index (F),Date_CST,Time_CST,is_snow_precip,does_snow_24_120
1890,2016-11-18,18:53,65,70,55,13,180,22,3000,5000,...,979.00,1001.50,1001.70,0.00,NC,NC,2016-11-18,18:00,False,True
1891,2016-11-18,19:53,66,65,54,13,200,25,3100,9500,...,977.40,1000.00,1000.00,0.00,NC,NC,2016-11-18,19:00,False,True
1892,2016-11-18,20:53,64,62,51,11,240,30,3000,4600,...,977.00,999.60,999.70,0.00,NC,NC,2016-11-18,20:00,False,True
1893,2016-11-18,21:53,55,59,41,16,220,36,3400,4300,...,978.70,1001.40,1001.40,0.00,NC,NC,2016-11-18,21:00,False,True
1894,2016-11-18,22:53,51,60,38,13,230,24,3400,m,...,979.40,1001.90,1002.00,0.00,NC,NC,2016-11-18,22:00,False,True
1895,2016-11-18,23:53,48,60,35,18,240,32,3300,m,...,979.40,1002.20,1002.00,0.00,41,NC,2016-11-18,23:00,False,True
1896,2016-11-19,00:53,46,60,33,15,220,31,3300,m,...,980.00,1002.70,1002.70,0.00,40,NC,2016-11-19,00:00,False,True
1897,2016-11-19,01:53,45,57,31,17,230,32,3300,m,...,980.70,1003.30,1003.40,0.00,38,NC,2016-11-19,01:00,False,False
1898,2016-11-19,02:53,44,57,30,11,230,34,3300,4200,...,981.40,1003.90,1004.10,0.00,38,NC,2016-11-19,02:00,False,False
1899,2016-11-19,03:51,41,75,34,6,220,22,2100,3400,...,981.70,M,1004.40,0.00,37,NC,2016-11-19,03:00,False,False
1900,2016-11-19,04:53,40,76,33,11,240,16,2100,3000,...,981.40,1004.30,1004.10,0.00,33,NC,2016-11-19,04:00,False,False
1901,2016-11-19,05:51,37,86,34,6,210,m,1500,1900,...,981.40,M,1004.10,0.00,32,NC,2016-11-19,05:00,False,False
1902,2016-11-19,06:53,38,85,34,22,290,29,1400,m,...,982.40,1005.20,1005.10,0.01,27,NC,2016-11-19,06:00,False,False
1903,2016-11-19,07:53,35,88,32,14,300,30,1000,1600,...,984.00,1006.90,1006.80,0.01,26,NC,2016-11-19,07:00,False,False
1904,2016-11-19,08:51,36,80,30,16,290,23,2600,m,...,985.00,M,1007.80,0.00,26,NC,2016-11-19,08:00,False,False
1905,2016-11-19,09:53,34,88,31,16,300,22,2200,m,...,986.00,1009.10,1008.80,0.00,24,NC,2016-11-19,09:00,False,False
1906,2016-11-19,10:51,34,86,30,18,300,m,1500,m,...,987.00,M,1009.80,0.00,23,NC,2016-11-19,10:00,False,False
1907,2016-11-19,11:51,32,86,28,14,290,25,1300,m,...,987.70,M,1010.50,0.00,22,NC,2016-11-19,11:00,False,False
1908,2016-11-19,12:53,32,85,28,17,300,28,1200,m,...,988.00,1011.20,1010.80,0.00,21,NC,2016-11-19,12:00,False,False
1909,2016-11-19,13:53,32,85,28,17,300,30,1000,m,...,988.70,1012.10,1011.50,0.01,21,NC,2016-11-19,13:00,True,False
1910,2016-11-19,14:53,32,81,27,23,300,36,1500,3000,...,989.70,1013.20,1012.50,0.00,19,NC,2016-11-19,14:00,False,False
1911,2016-11-19,15:53,31,85,27,25,300,37,1500,m,...,990.70,1014.30,1013.50,0.00,17,NC,2016-11-19,15:00,False,False
1912,2016-11-19,16:53,33,71,25,23,310,41,2500,3500,...,991.70,1015.20,1014.60,0.00,21,NC,2016-11-19,16:00,False,False
1913,2016-11-19,17:53,33,71,25,28,320,44,2500,3000,...,992.70,1016.10,1015.60,0.00,19,NC,2016-11-19,17:00,False,False
1914,2016-11-19,18:53,32,78,26,23,310,48,2200,2800,...,993.30,1016.80,1016.30,0.00,19,NC,2016-11-19,18:00,False,False
1915,2016-11-19,19:51,32,74,25,28,320,41,2500,m,...,994.00,M,1016.90,0.00,18,NC,2016-11-19,19:00,False,False
1916,2016-11-19,20:53,32,75,25,26,310,39,2500,m,...,994.30,1018.10,1017.30,0.00,18,NC,2016-11-19,20:00,False,False
1917,2016-11-19,21:53,33,71,25,22,320,46,2700,3300,...,995.00,1018.50,1017.90,0.00,21,NC,2016-11-19,21:00,False,False
1918,2016-11-19,22:51,30,92,28,22,330,34,800,m,...,995.70,M,1018.60,0.00,17,NC,2016-11-19,22:00,False,False
1919,2016-11-19,23:53,32,85,28,21,320,37,1000,1500,...,996.30,1020.00,1019.30,0.01,20,NC,2016-11-19,23:00,True,False

#### Convert to Pandas series for easy computation

In [28]:
Date_CST = pd.Series(csv_date_list, name = 'Date_CST')
Date_CST

0       20161001
1       20161001
2       20161001
3       20161001
4       20161001
          ...
4363    20170331
4364    20170331
4365    20170331
4366    20170331
4367    20170331
Name: Date_CST, Length: 4368, dtype: object

In [29]:
Time_CST = pd.Series(csv_time_list, name = 'Time_CST')
Time_CST

0       00:00
1       01:00
2       02:00
3       03:00
4       04:00
        ...
4363    19:00
4364    20:00
4365    21:00
4366    22:00
4367    23:00
Name: Time_CST, Length: 4368, dtype: object

---

**Retrieve all the files under the GOES data folder.**

In [30]:
# Get a list of all files in the directory
file_list_1D = os.listdir(parent_path + folder_name)

# Sort the list of files (Necessary on Linux)
file_list_1D.sort()

# Print the list of files
file_list_1D[:6]

['goes15.2016.10.01.0000.v01.nc-var1-t0.csv',
 'goes15.2016.10.01.0030.v01.nc-var1-t0.csv',
 'goes15.2016.10.01.0100.v01.nc-var1-t0.csv',
 'goes15.2016.10.01.0115.v01.nc-var1-t0.csv',
 'goes15.2016.10.01.0130.v01.nc-var1-t0.csv',
 'goes15.2016.10.01.0145.v01.nc-var1-t0.csv']

In [31]:
# Get a list of all files in the directory
file_list_2D = os.listdir(parent_path + folder_name_2D)

# Sort the list of files (Necessary on Linux)
file_list_2D.sort()

# Print the list of files
file_list_2D[:6]

['T_goes15.2016.10.01.0000.v01.nc-var1-t0.csv.csv',
 'T_goes15.2016.10.01.0030.v01.nc-var1-t0.csv.csv',
 'T_goes15.2016.10.01.0100.v01.nc-var1-t0.csv.csv',
 'T_goes15.2016.10.01.0115.v01.nc-var1-t0.csv.csv',
 'T_goes15.2016.10.01.0130.v01.nc-var1-t0.csv.csv',
 'T_goes15.2016.10.01.0145.v01.nc-var1-t0.csv.csv']

In [32]:
intend_date_list = []

for date in csv_date_list:
    intend_date = date[:4] + '.' + date[4:6] + '.' + date[6:]
    intend_date_list.append(intend_date)

print(intend_date_list[:5])
print('Length of date list = ', len(intend_date_list))

['2016.10.01', '2016.10.01', '2016.10.01', '2016.10.01', '2016.10.01']
Length of date list =  4368

In [33]:
intend_time_list = [t.replace(':', '') for t in csv_time_list]
print(intend_time_list[:5])
print('Length of time list = ', len(intend_time_list))

['0000', '0100', '0200', '0300', '0400']
Length of time list =  4368

In [34]:
intend_timestamp_list = [f"{date}.{time}" for date, time in zip(intend_date_list, intend_time_list)]
print(intend_timestamp_list[:5])

['2016.10.01.0000', '2016.10.01.0100', '2016.10.01.0200', '2016.10.01.0300', '2016.10.01.0400']

In [35]:
Date_UTC = []

for date in csv_date_list:
    intend_date = date[:4] + '-' + date[4:6] + '-' + date[6:]
    Date_UTC.append(intend_date)

print(Date_UTC[:5])
print('Length of date list = ', len(Date_UTC))

['2016-10-01', '2016-10-01', '2016-10-01', '2016-10-01', '2016-10-01']
Length of date list =  4368

In [36]:
Time_UTC = csv_time_list.copy()

print(Time_UTC[:5])
print('Length of time list = ', len(Time_UTC))

['00:00', '01:00', '02:00', '03:00', '04:00']
Length of time list =  4368

In [37]:
file_1D_timestamp = []

for filename in file_list_1D:
    file_1D = filename[7:22]
    file_1D_timestamp.append(file_1D)

print(file_1D_timestamp[:5])
print('Len = ', len(file_1D_timestamp))

['2016.10.01.0000', '2016.10.01.0030', '2016.10.01.0100', '2016.10.01.0115', '2016.10.01.0130']
Len =  15622

In [38]:
from datetime import datetime
from pytz import timezone

# Define UTC and CST time zones
utc_tz = timezone('UTC')
cst_tz = timezone('Etc/GMT+6')

# Example lists of datetime strings
date_utc_list = Date_UTC.copy()
time_utc_list = Time_UTC.copy()

# Convert datetime strings from UTC to CST
date_cst_list = []
time_cst_list = []
for date_str, time_str in zip(date_utc_list, time_utc_list):
    datetime_utc = datetime.strptime(date_str + ' ' + time_str, '%Y-%m-%d %H:%M')
    datetime_utc = utc_tz.localize(datetime_utc)
    datetime_cst = datetime_utc.astimezone(cst_tz)
    date_cst_list.append(datetime_cst.strftime('%Y-%m-%d'))
    time_cst_list.append(datetime_cst.strftime('%H:%M'))

# Print the lists of datetime strings in CST
print(date_cst_list[:5])  # Output: ['2023-01-01', '2023-01-02', '2023-01-03']
print(time_cst_list[:5])  # Output: ['19:00', '06:00', '17:00']

['2016-09-30', '2016-09-30', '2016-09-30', '2016-09-30', '2016-09-30']
['18:00', '19:00', '20:00', '21:00', '22:00']

In [39]:
data_dict = {'Date_UTC': Date_UTC,
             'Time_UTC': Time_UTC,
             'Date_CST': date_cst_list,
             'Time_CST': time_cst_list,
             'intend_timestamp_list': intend_timestamp_list}

# create the DataFrame using the dictionary
df_GOES_time_lib = pd.DataFrame(data_dict)
df_GOES_time_lib.head(5)

     Date_UTC Time_UTC    Date_CST Time_CST intend_timestamp_list
0  2016-10-01    00:00  2016-09-30    18:00       2016.10.01.0000
1  2016-10-01    01:00  2016-09-30    19:00       2016.10.01.0100
2  2016-10-01    02:00  2016-09-30    20:00       2016.10.01.0200
3  2016-10-01    03:00  2016-09-30    21:00       2016.10.01.0300
4  2016-10-01    04:00  2016-09-30    22:00       2016.10.01.0400

Form another dataframe with the file names.

In [40]:
df_GOES_file_lib = pd.DataFrame({'file_timestamp': file_1D_timestamp, 'file_list_1D': file_list_1D, 'file_list_2D': file_list_2D})
df_GOES_file_lib.head(5)

,file_timestamp,file_list_1D,file_list_2D
0,2016.10.01.0000,goes15.2016.10.01.0000.v01.nc-var1-t0.csv,T_goes15.2016.10.01.0000.v01.nc-var1-t0.csv.csv
1,2016.10.01.0030,goes15.2016.10.01.0030.v01.nc-var1-t0.csv,T_goes15.2016.10.01.0030.v01.nc-var1-t0.csv.csv
2,2016.10.01.0100,goes15.2016.10.01.0100.v01.nc-var1-t0.csv,T_goes15.2016.10.01.0100.v01.nc-var1-t0.csv.csv
3,2016.10.01.0115,goes15.2016.10.01.0115.v01.nc-var1-t0.csv,T_goes15.2016.10.01.0115.v01.nc-var1-t0.csv.csv
4,2016.10.01.0130,goes15.2016.10.01.0130.v01.nc-var1-t0.csv,T_goes15.2016.10.01.0130.v01.nc-var1-t0.csv.csv

In [41]:
df_GOES_combined = pd.merge(df_GOES_time_lib, df_GOES_file_lib, left_on='intend_timestamp_list', right_on='file_timestamp', how='left')
df_GOES_combined.fillna('None', inplace=True)
df_GOES_combined.head(50)

,Date_UTC,Time_UTC,Date_CST,Time_CST,intend_timestamp_list,file_timestamp,file_list_1D,file_list_2D
0,2016-10-01,00:00,2016-09-30,18:00,2016.10.01.0000,2016.10.01.0000,goes15.2016.10.01.0000.v01.nc-var1-t0.csv,T_goes15.2016.10.01.0000.v01.nc-var1-t0.csv.csv
1,2016-10-01,01:00,2016-09-30,19:00,2016.10.01.0100,2016.10.01.0100,goes15.2016.10.01.0100.v01.nc-var1-t0.csv,T_goes15.2016.10.01.0100.v01.nc-var1-t0.csv.csv
2,2016-10-01,02:00,2016-09-30,20:00,2016.10.01.0200,2016.10.01.0200,goes15.2016.10.01.0200.v01.nc-var1-t0.csv,T_goes15.2016.10.01.0200.v01.nc-var1-t0.csv.csv
3,2016-10-01,03:00,2016-09-30,21:00,2016.10.01.0300,2016.10.01.0300,goes15.2016.10.01.0300.v01.nc-var1-t0.csv,T_goes15.2016.10.01.0300.v01.nc-var1-t0.csv.csv
4,2016-10-01,04:00,2016-09-30,22:00,2016.10.01.0400,2016.10.01.0400,goes15.2016.10.01.0400.v01.nc-var1-t0.csv,T_goes15.2016.10.01.0400.v01.nc-var1-t0.csv.csv
5,2016-10-01,05:00,2016-09-30,23:00,2016.10.01.0500,2016.10.01.0500,goes15.2016.10.01.0500.v01.nc-var1-t0.csv,T_goes15.2016.10.01.0500.v01.nc-var1-t0.csv.csv
6,2016-10-01,06:00,2016-10-01,00:00,2016.10.01.0600,2016.10.01.0600,goes15.2016.10.01.0600.v01.nc-var1-t0.csv,T_goes15.2016.10.01.0600.v01.nc-var1-t0.csv.csv
7,2016-10-01,07:00,2016-10-01,01:00,2016.10.01.0700,2016.10.01.0700,goes15.2016.10.01.0700.v01.nc-var1-t0.csv,T_goes15.2016.10.01.0700.v01.nc-var1-t0.csv.csv
8,2016-10-01,08:00,2016-10-01,02:00,2016.10.01.0800,2016.10.01.0800,goes15.2016.10.01.0800.v01.nc-var1-t0.csv,T_goes15.2016.10.01.0800.v01.nc-var1-t0.csv.csv
9,2016-10-01,09:00,2016-10-01,03:00,2016.10.01.0900,2016.10.01.0900,goes15.2016.10.01.0900.v01.nc-var1-t0.csv,T_goes15.2016.10.01.0900.v01.nc-var1-t0.csv.csv
10,2016-10-01,10:00,2016-10-01,04:00,2016.10.01.1000,2016.10.01.1000,goes15.2016.10.01.1000.v01.nc-var1-t0.csv,T_goes15.2016.10.01.1000.v01.nc-var1-t0.csv.csv
11,2016-10-01,11:00,2016-10-01,05:00,2016.10.01.1100,2016.10.01.1100,goes15.2016.10.01.1100.v01.nc-var1-t0.csv,T_goes15.2016.10.01.1100.v01.nc-var1-t0.csv.csv
12,2016-10-01,12:00,2016-10-01,06:00,2016.10.01.1200,2016.10.01.1200,goes15.2016.10.01.1200.v01.nc-var1-t0.csv,T_goes15.2016.10.01.1200.v01.nc-var1-t0.csv.csv
13,2016-10-01,13:00,2016-10-01,07:00,2016.10.01.1300,2016.10.01.1300,goes15.2016.10.01.1300.v01.nc-var1-t0.csv,T_goes15.2016.10.01.1300.v01.nc-var1-t0.csv.csv
14,2016-10-01,14:00,2016-10-01,08:00,2016.10.01.1400,2016.10.01.1400,goes15.2016.10.01.1400.v01.nc-var1-t0.csv,T_goes15.2016.10.01.1400.v01.nc-var1-t0.csv.csv
15,2016-10-01,15:00,2016-10-01,09:00,2016.10.01.1500,2016.10.01.1500,goes15.2016.10.01.1500.v01.nc-var1-t0.csv,T_goes15.2016.10.01.1500.v01.nc-var1-t0.csv.csv
16,2016-10-01,16:00,2016-10-01,10:00,2016.10.01.1600,2016.10.01.1600,goes15.2016.10.01.1600.v01.nc-var1-t0.csv,T_goes15.2016.10.01.1600.v01.nc-var1-t0.csv.csv
17,2016-10-01,17:00,2016-10-01,11:00,2016.10.01.1700,2016.10.01.1700,goes15.2016.10.01.1700.v01.nc-var1-t0.csv,T_goes15.2016.10.01.1700.v01.nc-var1-t0.csv.csv
18,2016-10-01,18:00,2016-10-01,12:00,2016.10.01.1800,2016.10.01.1800,goes15.2016.10.01.1800.v01.nc-var1-t0.csv,T_goes15.2016.10.01.1800.v01.nc-var1-t0.csv.csv
19,2016-10-01,19:00,2016-10-01,13:00,2016.10.01.1900,2016.10.01.1900,goes15.2016.10.01.1900.v01.nc-var1-t0.csv,T_goes15.2016.10.01.1900.v01.nc-var1-t0.csv.csv
20,2016-10-01,20:00,2016-10-01,14:00,2016.10.01.2000,2016.10.01.2000,goes15.2016.10.01.2000.v01.nc-var1-t0.csv,T_goes15.2016.10.01.2000.v01.nc-var1-t0.csv.csv
21,2016-10-01,21:00,2016-10-01,15:00,2016.10.01.2100,2016.10.01.2100,goes15.2016.10.01.2100.v01.nc-var1-t0.csv,T_goes15.2016.10.01.2100.v01.nc-var1-t0.csv.csv
22,2016-10-01,22:00,2016-10-01,16:00,2016.10.01.2200,2016.10.01.2200,goes15.2016.10.01.2200.v01.nc-var1-t0.csv,T_goes15.2016.10.01.2200.v01.nc-var1-t0.csv.csv
23,2016-10-01,23:00,2016-10-01,17:00,2016.10.01.2300,2016.10.01.2300,goes15.2016.10.01.2300.v01.nc-var1-t0.csv,T_goes15.2016.10.01.2300.v01.nc-var1-t0.csv.csv
24,2016-10-02,00:00,2016-10-01,18:00,2016.10.02.0000,2016.10.02.0000,goes15.2016.10.02.0000.v01.nc-var1-t0.csv,T_goes15.2016.10.02.0000.v01.nc-var1-t0.csv.csv
25,2016-10-02,01:00,2016-10-01,19:00,2016.10.02.0100,2016.10.02.0100,goes15.2016.10.02.0100.v01.nc-var1-t0.csv,T_goes15.2016.10.02.0100.v01.nc-var1-t0.csv.csv
26,2016-10-02,02:00,2016-10-01,20:00,2016.10.02.0200,2016.10.02.0200,goes15.2016.10.02.0200.v01.nc-var1-t0.csv,T_goes15.2016.10.02.0200.v01.nc-var1-t0.csv.csv
27,2016-10-02,03:00,2016-10-01,21:00,2016.10.02.0300,2016.10.02.0300,goes15.2016.10.02.0300.v01.nc-var1-t0.csv,T_goes15.2016.10.02.0300.v01.nc-var1-t0.csv.csv
28,2016-10-02,04:00,2016-10-01,22:00,2016.10.02.0400,2016.10.02.0400,goes15.2016.10.02.0400.v01.nc-var1-t0.csv,T_goes15.2016.10.02.0400.v01.nc-var1-t0.csv.csv
29,2016-10-02,05:00,2016-10-01,23:00,2016.10.02.0500,2016.10.02.0500,goes15.2016.10.02.0500.v01.nc-var1-t0.csv,T_goes15.2016.10.02.0500.v01.nc-var1-t0.csv.csv
30,2016-10-02,06:00,2016-10-02,00:00,2016.10.02.0600,2016.10.02.0600,goes15.2016.10.02.0600.v01.nc-var1-t0.csv,T_goes15.2016.10.02.0600.v01.nc-var1-t0.csv.csv
31,2016-10-02,07:00,2016-10-02,01:00,2016.10.02.0700,2016.10.02.0700,goes15.2016.10.02.0700.v01.nc-var1-t0.csv,T_goes15.2016.10.02.0700.v01.nc-var1-t0.csv.csv
32,2016-10-02,08:00,2016-10-02,02:00,2016.10.02.0800,2016.10.02.0800,goes15.2016.10.02.0800.v01.nc-var1-t0.csv,T_goes15.2016.10.02.0800.v01.nc-var1-t0.csv.csv
33,2016-10-02,09:00,2016-10-02,03:00,2016.10.02.0900,None,None,None
34,2016-10-02,10:00,2016-10-02,04:00,2016.10.02.1000,2016.10.02.1000,goes15.2016.10.02.1000.v01.nc-var1-t0.csv,T_goes15.2016.10.02.1000.v01.nc-var1-t0.csv.csv
35,2016-10-02,11:00,2016-10-02,05:00,2016.10.02.1100,2016.10.02.1100,goes15.2016.10.02.1100.v01.nc-var1-t0.csv,T_goes15.2016.10.02.1100.v01.nc-var1-t0.csv.csv
36,2016-10-02,12:00,2016-10-02,06:00,2016.10.02.1200,2016.10.02.1200,goes15.2016.10.02.1200.v01.nc-var1-t0.csv,T_goes15.2016.10.02.1200.v01.nc-var1-t0.csv.csv
37,2016-10-02,13:00,2016-10-02,07:00,2016.10.02.1300,2016.10.02.1300,goes15.2016.10.02.1300.v01.nc-var1-t0.csv,T_goes15.2016.10.02.1300.v01.nc-var1-t0.csv.csv
38,2016-10-02,14:00,2016-10-02,08:00,2016.10.02.1400,2016.10.02.1400,goes15.2016.10.02.1400.v01.nc-var1-t0.csv,T_goes15.2016.10.02.1400.v01.nc-var1-t0.csv.csv
39,2016-10-02,15:00,2016-10-02,09:00,2016.10.02.1500,2016.10.02.1500,goes15.2016.10.02.1500.v01.nc-var1-t0.csv,T_goes15.2016.10.02.1500.v01.nc-var1-t0.csv.csv
40,2016-10-02,16:00,2016-10-02,10:00,2016.10.02.1600,2016.10.02.1600,goes15.2016.10.02.1600.v01.nc-var1-t0.csv,T_goes15.2016.10.02.1600.v01.nc-var1-t0.csv.csv
41,2016-10-02,17:00,2016-10-02,11:00,2016.10.02.1700,2016.10.02.1700,goes15.2016.10.02.1700.v01.nc-var1-t0.csv,T_goes15.2016.10.02.1700.v01.nc-var1-t0.csv.csv
42,2016-10-02,18:00,2016-10-02,12:00,2016.10.02.1800,2016.10.02.1800,goes15.2016.10.02.1800.v01.nc-var1-t0.csv,T_goes15.2016.10.02.1800.v01.nc-var1-t0.csv.csv
43,2016-10-02,19:00,2016-10-02,13:00,2016.10.02.1900,2016.10.02.1900,goes15.2016.10.02.1900.v01.nc-var1-t0.csv,T_goes15.2016.10.02.1900.v01.nc-var1-t0.csv.csv
44,2016-10-02,20:00,2016-10-02,14:00,2016.10.02.2000,2016.10.02.2000,goes15.2016.10.02.2000.v01.nc-var1-t0.csv,T_goes15.2016.10.02.2000.v01.nc-var1-t0.csv.csv
45,2016-10-02,21:00,2016-10-02,15:00,2016.10.02.2100,2016.10.02.2100,goes15.2016.10.02.2100.v01.nc-var1-t0.csv,T_goes15.2016.10.02.2100.v01.nc-var1-t0.csv.csv
46,2016-10-02,22:00,2016-10-02,16:00,2016.10.02.2200,2016.10.02.2200,goes15.2016.10.02.2200.v01.nc-var1-t0.csv,T_goes15.2016.10.02.2200.v01.nc-var1-t0.csv.csv
47,2016-10-02,23:00,2016-10-02,17:00,2016.10.02.2300,2016.10.02.2300,goes15.2016.10.02.2300.v01.nc-var1-t0.csv,T_goes15.2016.10.02.2300.v01.nc-var1-t0.csv.csv
48,2016-10-03,00:00,2016-10-02,18:00,2016.10.03.0000,2016.10.03.0000,goes15.2016.10.03.0000.v01.nc-var1-t0.csv,T_goes15.2016.10.03.0000.v01.nc-var1-t0.csv.csv
49,2016-10-03,01:00,2016-10-02,19:00,2016.10.03.0100,2016.10.03.0100,goes15.2016.10.03.0100.v01.nc-var1-t0.csv,T_goes15.2016.10.03.0100.v01.nc-var1-t0.csv.csv

In [42]:
output_dir = 'output/GOES_file_lib_dir/'
output_csv_name = str(start_year)+'Fall_'+str(end_year)+'Spring_GOES_lib.csv'

output_file_path = os.path.join(output_dir, output_csv_name)

df_GOES_combined.to_csv(output_file_path, index=False)

---

## Combine GOES Data Together

In [43]:
df_reference_1D = pd.read_csv('02-05-2023/zone_0_sample_take_2/' + 'goes15.2016.12.12.1700.v01.nc-var1-t0.csv')
df_reference_1D.head(5)

,corresponding row,value,datetime,latitude,longitude,partition
0,4891,0.3500,2016-12-12 17:00:00,41.78,-87.54,0
1,4892,0.3500,2016-12-12 17:00:00,41.78,-87.50,0
2,4893,0.4425,2016-12-12 17:00:00,41.78,-87.46,0
3,4894,0.4350,2016-12-12 17:00:00,41.78,-87.42,0
4,4895,0.4600,2016-12-12 17:00:00,41.78,-87.38,0

In [44]:
table_1D_len = df_reference_1D.shape[0]
print(table_1D_len)

3599

In [45]:
df_lake_1D_map = df_reference_1D[['latitude', 'longitude']].copy()
df_lake_1D_map.head(5)

   latitude  longitude
0     41.78     -87.54
1     41.78     -87.50
2     41.78     -87.46
3     41.78     -87.42
4     41.78     -87.38

In [46]:
# lat_list = df_lake_1D_map['latitude'].tolist()
# lon_list = df_lake_1D_map['longitude'].tolist()

In [47]:
# output_dir = 'output/'
# output_csv_name = 'lat_long_1D_labels_for_plotting.csv'

# output_file_path = os.path.join(output_dir, output_csv_name)

# df_lake_1D_map.to_csv(output_file_path, index=False)

In [48]:
def lake_1D_matcher(df_temp, df_lake_1D_map):
    # left join df_temp with df_lake_1D_map based on latitude and longitude
    df_merged_temp = pd.merge(df_lake_1D_map, df_temp, on=['latitude', 'longitude'], how='left')

    # extract value column into a list
    value_temp = df_merged_temp['value'].tolist()

    return value_temp

In [49]:
matched_1D_file_list = df_GOES_combined['file_list_1D'].tolist()
matched_1D_file_list[:50]
matched_2D_file_list = df_GOES_combined['file_list_2D'].tolist()

In [50]:
matrix = df_reference_1D.values
len(matrix)

3599

In [51]:
df_tester_again = pd.read_csv('02-05-2023/zone_0_sample_take_2/' + 'goes15.2016.12.08.1200.v01.nc-var1-t0.csv')
df_tester_again.head(5)

,corresponding row,value,datetime,latitude,longitude,partition
0,5360,0.0025,2016-12-08 12:00:00,41.78,-87.54,0
1,5361,0.0025,2016-12-08 12:00:00,41.78,-87.50,0
2,5362,0.0025,2016-12-08 12:00:00,41.78,-87.46,0
3,5363,0.0000,2016-12-08 12:00:00,41.78,-87.42,0
4,5364,0.0000,2016-12-08 12:00:00,41.78,-87.38,0

In [52]:
temp_result_tester = lake_1D_matcher(df_tester_again, df_lake_1D_map)
temp_result_tester

[0.0025,
 0.0025,
 0.0025,
 0.0,
 0.0,
 0.005,
 0.0,
 0.0,
 nan,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0025,
 0.0,
 0.0,
 0.0025,
 nan,
 0.0,
 0.0,
 0.005,
 nan,
 0.0025,
 0.005,
 0.0075,
 0.005,
 0.0,
 0.0,
 0.0,
 0.005,
 0.005,
 0.0,
 0.0025,
 0.0,
 0.0,
 0.0,
 nan,
 nan,
 0.0025,
 nan,
 0.0025,
 0.0025,
 0.0025,
 0.0,
 0.005,
 0.005,
 0.0025,
 0.0025,
 0.0,
 0.0025,
 nan,
 nan,
 0.0025,
 nan,
 0.0,
 nan,
 0.0,
 0.0025,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0075,
 nan,
 0.0025,
 nan,
 0.0,
 0.005,
 nan,
 nan,
 nan,
 0.0025,
 0.0025,
 0.005,
 0.0025,
 0.0,
 0.0,
 0.005,
 nan,
 nan,
 0.0,
 0.0025,
 0.0,
 0.005,
 0.005,
 nan,
 nan,
 0.005,
 nan,
 0.0,
 0.0025,
 0.0025,
 nan,
 0.0025,
 nan,
 0.0025,
 0.0025,
 0.0,
 0.0025,
 0.005,
 nan,
 0.0,
 nan,
 0.005,
 0.0025,
 nan,
 0.0,
 nan,
 0.0,
 0.0075,
 nan,
 0.0,
 nan,
 0.0,
 0.0025,
 0.0,
 0.0025,
 0.0025,
 0.005,
 0.0,
 0.0,
 nan,
 nan,
 0.0,
 0.0,
 0.0,
 0.0,
 nan,
 0.0025,
 0.0,
 0.0,
 0.0,
 0.0075,
 0.0025,
 nan,
 nan,
 nan,
 0.0,
 nan,
 0.0075,
 0.0,
 0.0025,
 0.0,
 0.0,
 nan,
 0.0025,
 0.0025,
 nan,
 0.0025,
 0.0,
 0.0,
 nan,
 0.005,
 0.0025,
 nan,
 0.0025,
 0.005,
 0.0025,
 0.0025,
 nan,
 0.0075,
 nan,
 0.0,
 0.0,
 nan,
 0.0025,
 0.0,
 nan,
 nan,
 0.0025,
 nan,
 nan,
 0.0025,
 0.0025,
 0.0025,
 0.0025,
 nan,
 0.005,
 0.0025,
 0.005,
 0.0025,
 0.0,
 nan,
 nan,
 nan,
 0.0025,
 nan,
 0.0,
 0.0025,
 0.0025,
 nan,
 nan,
 0.0025,
 nan,
 0.0,
 0.0025,
 nan,
 nan,
 0.0025,
 nan,
 0.0,
 nan,
 0.005,
 nan,
 0.0,
 0.0,
 nan,
 nan,
 0.0025,
 nan,
 nan,
 nan,
 0.0025,
 0.0,
 0.0,
 nan,
 nan,
 0.0025,
 nan,
 0.005,
 0.0025,
 0.0025,
 0.005,
 nan,
 0.0,
 0.0,
 0.0,
 0.005,
 nan,
 nan,
 0.0025,
 nan,
 0.0025,
 0.0,
 0.0,
 0.0025,
 0.0,
 nan,
 0.0,
 nan,
 nan,
 nan,
 0.0075,
 0.0,
 0.005,
 nan,
 0.0025,
 0.0,
 0.0025,
 0.0075,
 0.0,
 nan,
 0.0,
 nan,
 0.0,
 nan,
 0.0,
 nan,
 0.0025,
 0.005,
 0.0025,
 nan,
 0.0,
 0.005,
 nan,
 0.0025,
 0.0,
 nan,
 nan,
 0.0,
 nan,
 0.005,
 0.0,
 nan,
 0.0025,
 0.0,
 0.0075,
 0.0025,
 nan,
 0.0,
 nan,
 nan,
 nan,
 0.0025,
 0.0,
 0.0,
 0.0025,
 0.005,
 0.0,
 0.0025,
 nan,
 nan,
 nan,
 nan,
 0.0025,
 0.0,
 0.0,
 0.0,
 nan,
 nan,
 0.0,
 nan,
 0.0,
 0.0,
 0.0,
 0.0025,
 0.0,
 nan,
 0.0025,
 nan,
 0.0,
 nan,
 0.0025,
 0.0025,
 nan,
 nan,
 0.0,
 0.005,
 0.0025,
 nan,
 nan,
 nan,
 0.0,
 0.0,
 0.0025,
 nan,
 0.0025,
 0.0025,
 nan,
 nan,
 0.0,
 0.0025,
 0.0025,
 nan,
 0.0025,
 0.0025,
 nan,
 nan,
 0.0,
 0.0025,
 nan,
 nan,
 0.005,
 nan,
 0.0025,
 0.0,
 0.0,
 nan,
 0.0,
 nan,
 0.0025,
 0.005,
 0.0025,
 0.005,
 0.01,
 0.0,
 nan,
 0.0,
 nan,
 0.005,
 0.0025,
 0.0,
 nan,
 nan,
 nan,
 0.0,
 0.0025,
 0.005,
 nan,
 0.0075,
 0.005,
 nan,
 nan,
 nan,
 nan,
 0.0,
 0.0,
 0.0025,
 nan,
 nan,
 nan,
 0.0025,
 nan,
 0.005,
 0.0,
 nan,
 0.0,
 0.0,
 0.0,
 0.0075,
 nan,
 0.0,
 nan,
 nan,
 0.0025,
 0.0,
 0.0,
 nan,
 0.0,
 0.0,
 nan,
 0.0025,
 nan,
 nan,
 0.0,
 nan,
 0.005,
 0.005,
 nan,
 nan,
 0.0,
 nan,
 0.0025,
 0.0,
 nan,
 0.0025,
 0.0,
 nan,
 0.0,
 0.0025,
 0.0,
 0.0,
 0.0025,
 0.0,
 0.0025,
 0.0,
 0.0025,
 0.0,
 0.0025,
 0.0,
 0.0,
 0.005,
 0.0025,
 0.005,
 nan,
 nan,
 0.0,
 0.0,
 nan,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0025,
 0.0,
 0.0025,
 nan,
 nan,
 0.0,
 0.0,
 0.0,
 0.0025,
 nan,
 0.005,
 0.0,
 nan,
 0.0075,
 0.0,
 nan,
 0.0025,
 0.0,
 0.005,
 nan,
 0.0,
 0.0,
 nan,
 0.0,
 0.0075,
 0.0025,
 nan,
 0.0025,
 0.005,
 nan,
 0.005,
 0.0025,
 0.0025,
 0.0,
 0.0075,
 0.0025,
 0.005,
 nan,
 nan,
 nan,
 0.0025,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.0,
 nan,
 0.0025,
 0.0025,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.0075,
 nan,
 nan,
 0.005,
 nan,
 0.0,
 0.0025,
 nan,
 0.0,
 0.0025,
 0.0,
 0.0,
 0.0,
 nan,
 0.0025,
 nan,
 0.0,
 nan,
 0.0025,
 0.0025,
 nan,
 nan,
 0.005,
 0.0,
 0.0075,
 0.0,
 0.0,
 0.0025,
 nan,
 0.0025,
 0.0025,
 nan,
 nan,
 nan,
 0.0,
 0.0025,
 0.0,
 0.0025,
 0.0,
 0.0025,
 nan,
 0.0,
 0.005,
 nan,
 0.005,
 nan,
 nan,
 0.005,
 0.0025,
 nan,
 nan,
 0.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.0025,
 0.005,
 nan,
 0.0,
 nan,
 nan,
 0.0,
 0.0025,
 0.0,
 0.0025,
 nan,
 nan,
 0.0,
 0.0,
 0.005,
 0.005,
 nan,
 nan,
 0.0,
 0.0025,
 0.005,
 nan,
 0.0,
 nan,
 0.0,
 0.0,
 0.0,
 nan,
 nan,
 nan,
 nan,
 0.0025,
 0.005,
 0.01,
 0.0,
 0.0,
 nan,
 0.0,
 0.0,
 0.0025,
 nan,
 nan,
 0.005,
 0.0,
 0.0025,
 nan,
 nan,
 0.0025,
 nan,
 nan,
 0.0025,
 0.0,
 nan,
 nan,
 nan,
 0.0025,
 nan,
 nan,
 0.005,
 0.005,
 nan,
 nan,
 0.0,
 nan,
 0.0,
 nan,
 nan,
 0.0,
 0.0025,
 0.0025,
 nan,
 0.0,
 0.0,
 0.0025,
 0.0025,
 0.0,
 0.0025,
 0.0,
 nan,
 nan,
 nan,
 0.005,
 0.0,
 0.0,
 0.0025,
 0.0,
 0.0025,
 0.0025,
 0.0075,
 0.0,
 nan,
 0.0,
 0.0,
 0.005,
 nan,
 0.0,
 nan,
 nan,
 0.0,
 0.0,
 nan,
 0.0,
 nan,
 0.0025,
 nan,
 nan,
 0.005,
 nan,
 0.0025,
 0.0075,
 0.0,
 0.0,
 0.005,
 0.0,
 0.0025,
 nan,
 0.0025,
 0.0025,
 nan,
 0.0075,
 0.0025,
 0.0,
 0.0025,
 0.0025,
 0.0,
 nan,
 nan,
 nan,
 0.0025,
 0.0025,
 0.0,
 nan,
 0.0025,
 0.0,
 0.0025,
 0.0,
 0.0075,
 0.0,
 0.0,
 0.0,
 0.0025,
 nan,
 0.0025,
 0.0,
 0.0,
 0.0025,
 0.0025,
 nan,
 0.0,
 0.0,
 0.0075,
 0.0,
 0.005,
 0.0025,
 0.0025,
 0.0025,
 nan,
 0.01,
 0.005,
 0.0,
 0.0,
 0.0025,
 0.0,
 0.0075,
 0.0025,
 0.0,
 nan,
 0.0,
 0.0025,
 nan,
 nan,
 0.0075,
 nan,
 nan,
 0.0025,
 0.005,
 0.0025,
 0.0,
 0.0,
 nan,
 nan,
 0.0025,
 nan,
 0.0,
 nan,
 0.0025,
 nan,
 nan,
 0.005,
 0.0,
 0.0,
 0.0025,
 0.0,
 nan,
 0.005,
 0.0025,
 nan,
 0.005,
 nan,
 0.0025,
 0.0025,
 0.0,
 0.005,
 nan,
 nan,
 0.005,
 nan,
 nan,
 nan,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0025,
 0.0025,
 0.0025,
 nan,
 0.0,
 nan,
 0.0,
 nan,
 0.0025,
 nan,
 0.0075,
 0.005,
 nan,
 0.0,
 nan,
 nan,
 0.0,
 0.0,
 nan,
 0.0025,
 0.0025,
 nan,
 nan,
 0.0,
 0.005,
 0.0,
 nan,
 0.0025,
 nan,
 nan,
 0.0,
 0.0025,
 nan,
 0.0,
 0.0,
 0.0025,
 0.005,
 0.0025,
 0.0,
 0.0,
 nan,
 nan,
 0.0,
 0.01,
 0.0025,
 0.0,
 0.0025,
 nan,
 0.0,
 nan,
 nan,
 nan,
 0.005,
 0.0,
 nan,
 0.0,
 nan,
 0.0,
 0.0,
 0.0075,
 0.0,
 0.0025,
 nan,
 nan,
 nan,
 0.0025,
 nan,
 0.0,
 0.0025,
 nan,
 0.0075,
 0.0,
 0.0025,
 0.0,
 0.0,
 0.0025,
 nan,
 nan,
 nan,
 0.0,
 0.0,
 0.0,
 nan,
 0.0075,
 nan,
 0.0,
 0.0025,
 0.005,
 0.0,
 0.0025,
 0.0,
 0.0,
 nan,
 0.0,
 0.0,
 0.0025,
 nan,
 nan,
 0.0,
 0.005,
 0.0025,
 0.0,
 0.0075,
 0.0,
 0.0025,
 nan,
 0.0,
 0.0,
 0.0025,
 0.0025,
 0.0,
 0.0,
 0.0,
 nan,
 0.0,
 0.0025,
 0.0,
 0.0,
 0.0025,
 nan,
 0.005,
 0.005,
 0.0025,
 nan,
 nan,
 0.0075,
 0.0075,
 nan,
 0.005,
 nan,
 0.005,
 nan,
 0.0025,
 0.0025,
 0.0,
 0.005,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.0025,
 nan,
 nan,
 0.0,
 nan,
 0.0,
 0.0,
 0.0025,
 0.0025,
 nan,
 0.0,
 nan,
 0.0025,
 0.0,
 nan,
 0.0,
 0.0025,
 0.0,
 0.005,
 0.005,
 0.0025,
 nan,
 0.005,
 0.0,
 nan,
 0.0025,
 0.0,
 0.0,
 0.0,
 0.0025,
 0.0,
 nan,
 0.0025,
 nan,
 0.0075,
 0.0,
 0.0,
 nan,
 0.0025,
 0.005,
 0.0,
 0.0,
 0.005,
 0.0075,
 nan,
 0.0,
 0.0,
 0.0025,
 0.0,
 0.005,
 0.0,
 0.0,
 0.0,
 0.0025,
 0.0,
 0.0,
 0.0025,
 0.0075,
 0.0025,
 nan,
 0.0,
 0.0025,
 0.0,
 0.0025,
 nan,
 nan,
 0.0025,
 nan,
 0.0,
 0.0025,
 nan,
 0.0025,
 0.01,
 0.0,
 0.0025,
 0.0025,
 0.005,
 nan,
 0.0,
 0.0,
 0.0,
 0.0075,
 0.0025,
 0.0,
 ...]

In [53]:
len(temp_result_tester)

3599

In [54]:
def is_valid_data(df_temp):
    
    crit_1 = 0
    crit_2 = 0
    crit_3 = 0
        
    # Pass in value
    i_temp = df_temp.value
    

    try:
        
        i_temp_max = i_temp.max().max()

        # Acquire mode in the array
        i_temp_mode = i_temp.mode()[0]
    except:
        i_temp_max = 0
        i_temp_mode = 0
    
    # Check Criteria #1:
    if i_temp_max <= 0.03:
        crit_1 = 1
    
    # Check Criteria #2:
    if i_temp_mode <= 0.02:
        crit_2 = 1
    
    # Check Criteria #3
    if len(i_temp) <= 3000:
        crit_3 = 1
        
    crit_sum = crit_1 + crit_2 + crit_3
    
    if crit_sum > 0:
        cond = False
    else:
        cond = True
        
    return cond

In [55]:
def cloud_finder(value_temp):
    # Deduct 0.1 from all elements in the array
    value_temp = [x - 0.1 for x in value_temp]
    
    # Count the number of elements that are larger than or equal to 0
    count = sum(1 for x in value_temp if x >= 0)
    
    return count

In [56]:
lake_1D_list = []
# lat_lists = []
# lon_lists = []
cond_list = []
count_list = []
cloud_exist_list = []


# counter = 1
for file_name in tqdm(matched_1D_file_list):
# for file_name in matched_1D_file_list[1769:1775]:
    
    try:
        temp_file_path = parent_path + folder_name + '/' + file_name
#         print( temp_file_path)
#         print(counter)
        df_temp = pd.read_csv(temp_file_path)
        value_temp = lake_1D_matcher(df_temp, df_lake_1D_map)
        cond = is_valid_data(df_temp)
        cond_list.append(cond)
        lake_1D_list.append(value_temp)
        num_clouds = cloud_finder(value_temp)
        count_list.append(num_clouds) 
        if num_clouds < 720:
            exist_temp = False
        else:
            exist_temp = True
        # Replace all NaN values in the 'exist_temp' array with 0.0
        exist_temp = np.nan_to_num(exist_temp, nan=0.0)
        cloud_exist_list.append(exist_temp)
#         lat_lists.append(lat_list)
#         lon_lists.append(lon_list)
    except FileNotFoundError:
        lake_1D_list.append(np.zeros(3599))
        cond_list.append(False)
        count_list.append(0) 
        cloud_exist_list.append(False)
#         lat_lists.append([np.nan]*table_1D_len)
#         lon_lists.append([np.nan]*table_1D_len)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4368/4368 [00:31<00:00, 137.18it/s]

In [57]:
# lake_1D_list[15]
print('# of entries in result = ', len(lake_1D_list))
print('# of entries in result = ', len(cond_list))
print('# of entries in result = ', len(count_list))
print('# of entries in result = ', len(cloud_exist_list))
print('# of entries in dataframe = ', df_GOES_combined.shape[0])

# of entries in result =  4368
# of entries in result =  4368
# of entries in result =  4368
# of entries in result =  4368
# of entries in dataframe =  4368

In [58]:
# list of matrices
lake_2D_list = []

# loop over file names
for file_name in tqdm(matched_2D_file_list):
    try:
        # read csv file into dataframe
        temp_file_path = parent_path + folder_name_2D + '/' + file_name
        df_temp = pd.read_csv(temp_file_path)
        df_temp = df_temp.iloc[1:, 1:]
        # Replace NaN values in 'values' with 0 in 'df_temp'
        df_temp = df_temp.fillna(0)
#         print(df_temp.shape)
        # convert dataframe to numpy array/matrix
        mat_temp = df_temp.values
#         mat_temp = np.array(df_temp.values.flatten())

        # assume df_temp is a DataFrame with multiple columns
#         arrays = [df_temp.iloc[:, i].to_numpy() for i in range(len(df_temp.columns))]
#         mat_temp = arrays
    except FileNotFoundError:
        # if file does not exist, save NaN
        mat_temp = np.zeros((105, 79))
    
    # append matrix to list
    lake_2D_list.append(mat_temp)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4368/4368 [00:14<00:00, 310.65it/s]

In [59]:
# lake_2D_list[15][20]

print('# of entries in result = ', len(lake_2D_list))
print('# of entries in dataframe = ', df_GOES_combined.shape[0])

# of entries in result =  4368
# of entries in dataframe =  4368

---

## Data Merger

Now, it is time to merge the weather station data into it.

In [60]:
# df_GOES_combined['latitude_1D_label'] = lat_lists
# df_GOES_combined['longitude_1D_label'] = lon_lists
# cond_list = []
# count_list = []
# cloud_exist_list = []

df_GOES_combined['lake_1D_list'] = lake_1D_list
df_GOES_combined['lake_2D_list'] = lake_2D_list
df_GOES_combined['data_usable'] = cond_list
df_GOES_combined['cloud_count'] = count_list
df_GOES_combined['cloud_exist'] = cloud_exist_list

In [61]:
df_GOES_combined.head(5)

,Date_UTC,Time_UTC,Date_CST,Time_CST,intend_timestamp_list,file_timestamp,file_list_1D,file_list_2D,lake_1D_list,lake_2D_list,data_usable,cloud_count,cloud_exist
0,2016-10-01,00:00,2016-09-30,18:00,2016.10.01.0000,2016.10.01.0000,goes15.2016.10.01.0000.v01.nc-var1-t0.csv,T_goes15.2016.10.01.0000.v01.nc-var1-t0.csv.csv,"[0.0025, 0.005, nan, 0.0025, nan, 0.005, nan, ...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",False,0,False
1,2016-10-01,01:00,2016-09-30,19:00,2016.10.01.0100,2016.10.01.0100,goes15.2016.10.01.0100.v01.nc-var1-t0.csv,T_goes15.2016.10.01.0100.v01.nc-var1-t0.csv.csv,"[0.0, 0.0, 0.0, 0.005, nan, nan, 0.0025, 0.01,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",False,0,False
2,2016-10-01,02:00,2016-09-30,20:00,2016.10.01.0200,2016.10.01.0200,goes15.2016.10.01.0200.v01.nc-var1-t0.csv,T_goes15.2016.10.01.0200.v01.nc-var1-t0.csv.csv,"[0.005, 0.0025, nan, 0.0, 0.0, 0.0, 0.0025, 0....","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",False,0,False
3,2016-10-01,03:00,2016-09-30,21:00,2016.10.01.0300,2016.10.01.0300,goes15.2016.10.01.0300.v01.nc-var1-t0.csv,T_goes15.2016.10.01.0300.v01.nc-var1-t0.csv.csv,"[0.0025, nan, 0.0, 0.0025, 0.005, 0.0, 0.005, ...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",False,0,False
4,2016-10-01,04:00,2016-09-30,22:00,2016.10.01.0400,2016.10.01.0400,goes15.2016.10.01.0400.v01.nc-var1-t0.csv,T_goes15.2016.10.01.0400.v01.nc-var1-t0.csv.csv,"[nan, nan, nan, 0.0, 0.0, 0.0, 0.0025, 0.0, 0....","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",False,0,False

In [62]:
df_GOES_meteo_combined = pd.merge(df_GOES_combined, weather_with_CST, on=['Date_CST', 'Time_CST'], how='left')
df_GOES_meteo_combined.head(5)

,Date_UTC,Time_UTC,Date_CST,Time_CST,intend_timestamp_list,file_timestamp,file_list_1D,file_list_2D,lake_1D_list,lake_2D_list,...,Med Cloud Ht (ft),High Cloud Ht (ft),Visibility (mi),Atm Press (hPa),Sea Lev Press (hPa),Altimeter (hPa),Precip (in),Wind Chill (F),Heat Index (F),is_snow_precip
0,2016-10-01,00:00,2016-09-30,18:00,2016.10.01.0000,2016.10.01.0000,goes15.2016.10.01.0000.v01.nc-var1-t0.csv,T_goes15.2016.10.01.0000.v01.nc-var1-t0.csv.csv,"[0.0025, 0.005, nan, 0.0025, nan, 0.005, nan, ...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",...,9000,15000,10,999.30,1022.10,1022.40,0.00,NC,NC,False
1,2016-10-01,01:00,2016-09-30,19:00,2016.10.01.0100,2016.10.01.0100,goes15.2016.10.01.0100.v01.nc-var1-t0.csv,T_goes15.2016.10.01.0100.v01.nc-var1-t0.csv.csv,"[0.0, 0.0, 0.0, 0.005, nan, nan, 0.0025, 0.01,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",...,11000,m,10,999.30,1022.30,1022.40,0.00,NC,NC,False
2,2016-10-01,02:00,2016-09-30,20:00,2016.10.01.0200,2016.10.01.0200,goes15.2016.10.01.0200.v01.nc-var1-t0.csv,T_goes15.2016.10.01.0200.v01.nc-var1-t0.csv.csv,"[0.005, 0.0025, nan, 0.0, 0.0, 0.0, 0.0025, 0....","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",...,11000,m,10,999.00,1022.10,1022.00,0.01,NC,NC,False
3,2016-10-01,03:00,2016-09-30,21:00,2016.10.01.0300,2016.10.01.0300,goes15.2016.10.01.0300.v01.nc-var1-t0.csv,T_goes15.2016.10.01.0300.v01.nc-var1-t0.csv.csv,"[0.0025, nan, 0.0, 0.0025, 0.005, 0.0, 0.005, ...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",...,m,m,10,999.30,1022.30,1022.40,0.00,NC,NC,False
4,2016-10-01,04:00,2016-09-30,22:00,2016.10.01.0400,2016.10.01.0400,goes15.2016.10.01.0400.v01.nc-var1-t0.csv,T_goes15.2016.10.01.0400.v01.nc-var1-t0.csv.csv,"[nan, nan, nan, 0.0, 0.0, 0.0, 0.0025, 0.0, 0....","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",...,11000,m,10,999.00,1022.10,1022.00,0.00,NC,NC,False

In [63]:
column_names = df_GOES_meteo_combined.columns.tolist()
print(column_names)

['Date_UTC', 'Time_UTC', 'Date_CST', 'Time_CST', 'intend_timestamp_list', 'file_timestamp', 'file_list_1D', 'file_list_2D', 'lake_1D_list', 'lake_2D_list', 'data_usable', 'cloud_count', 'cloud_exist', 'Date', 'Time', 'Temp (F)', 'RH (%)', 'Dewpt (F)', 'Wind Spd (mph)', 'Wind Direction (deg)', 'Peak Wind Gust(mph)', 'Low Cloud Ht (ft)', 'Med Cloud Ht (ft)', 'High Cloud Ht (ft)', 'Visibility (mi)', 'Atm Press (hPa)', 'Sea Lev Press (hPa)', 'Altimeter (hPa)', 'Precip (in)', 'Wind Chill (F)', 'Heat Index (F)', 'is_snow_precip']

In [64]:
df_GOES_meteo_combined = df_GOES_meteo_combined.drop(['Date', 'Time', 'intend_timestamp_list', 'file_timestamp'], axis=1)

In [65]:
df_GOES_meteo_combined.rename(columns={'file_list_1D': 'File_name_for_1D_lake'}, inplace=True)
df_GOES_meteo_combined.rename(columns={'file_list_2D': 'File_name_for_2D_lake'}, inplace=True)
df_GOES_meteo_combined.rename(columns={'lake_1D_list': 'Lake_data_1D'}, inplace=True)
df_GOES_meteo_combined.rename(columns={'lake_2D_list': 'Lake_data_2D'}, inplace=True)

In [66]:
df_GOES_meteo_combined.head(5)

,Date_UTC,Time_UTC,Date_CST,Time_CST,File_name_for_1D_lake,File_name_for_2D_lake,Lake_data_1D,Lake_data_2D,data_usable,cloud_count,...,Med Cloud Ht (ft),High Cloud Ht (ft),Visibility (mi),Atm Press (hPa),Sea Lev Press (hPa),Altimeter (hPa),Precip (in),Wind Chill (F),Heat Index (F),is_snow_precip
0,2016-10-01,00:00,2016-09-30,18:00,goes15.2016.10.01.0000.v01.nc-var1-t0.csv,T_goes15.2016.10.01.0000.v01.nc-var1-t0.csv.csv,"[0.0025, 0.005, nan, 0.0025, nan, 0.005, nan, ...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",False,0,...,9000,15000,10,999.30,1022.10,1022.40,0.00,NC,NC,False
1,2016-10-01,01:00,2016-09-30,19:00,goes15.2016.10.01.0100.v01.nc-var1-t0.csv,T_goes15.2016.10.01.0100.v01.nc-var1-t0.csv.csv,"[0.0, 0.0, 0.0, 0.005, nan, nan, 0.0025, 0.01,...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",False,0,...,11000,m,10,999.30,1022.30,1022.40,0.00,NC,NC,False
2,2016-10-01,02:00,2016-09-30,20:00,goes15.2016.10.01.0200.v01.nc-var1-t0.csv,T_goes15.2016.10.01.0200.v01.nc-var1-t0.csv.csv,"[0.005, 0.0025, nan, 0.0, 0.0, 0.0, 0.0025, 0....","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",False,0,...,11000,m,10,999.00,1022.10,1022.00,0.01,NC,NC,False
3,2016-10-01,03:00,2016-09-30,21:00,goes15.2016.10.01.0300.v01.nc-var1-t0.csv,T_goes15.2016.10.01.0300.v01.nc-var1-t0.csv.csv,"[0.0025, nan, 0.0, 0.0025, 0.005, 0.0, 0.005, ...","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",False,0,...,m,m,10,999.30,1022.30,1022.40,0.00,NC,NC,False
4,2016-10-01,04:00,2016-09-30,22:00,goes15.2016.10.01.0400.v01.nc-var1-t0.csv,T_goes15.2016.10.01.0400.v01.nc-var1-t0.csv.csv,"[nan, nan, nan, 0.0, 0.0, 0.0, 0.0025, 0.0, 0....","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",False,0,...,11000,m,10,999.00,1022.10,1022.00,0.00,NC,NC,False

In [67]:
column_names = df_GOES_meteo_combined.columns.tolist()
print(column_names)

['Date_UTC', 'Time_UTC', 'Date_CST', 'Time_CST', 'File_name_for_1D_lake', 'File_name_for_2D_lake', 'Lake_data_1D', 'Lake_data_2D', 'data_usable', 'cloud_count', 'cloud_exist', 'Temp (F)', 'RH (%)', 'Dewpt (F)', 'Wind Spd (mph)', 'Wind Direction (deg)', 'Peak Wind Gust(mph)', 'Low Cloud Ht (ft)', 'Med Cloud Ht (ft)', 'High Cloud Ht (ft)', 'Visibility (mi)', 'Atm Press (hPa)', 'Sea Lev Press (hPa)', 'Altimeter (hPa)', 'Precip (in)', 'Wind Chill (F)', 'Heat Index (F)', 'is_snow_precip']

In [68]:
# output_dir = 'output/exp2/'
# output_csv_name = str(start_year)+'Fall_'+str(end_year)+'Spring_GOES_meteo_combined.csv'

# output_file_path = os.path.join(output_dir, output_csv_name)

# df_GOES_meteo_combined.to_csv(output_file_path, index=False)

In [69]:
# df_GOES_meteo_combined[df_GOES_meteo_combined['Precip (in)']<0]

In [72]:
df_GOES_meteo_combined_all = df_GOES_meteo_combined.copy()

In [82]:
df_GOES_meteo_combined_all = df_GOES_meteo_combined_all.append(df_GOES_meteo_combined, ignore_index=True)

/tmp/ipykernel_142696/2254972987.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_GOES_meteo_combined_all = df_GOES_meteo_combined_all.append(df_GOES_meteo_combined, ignore_index=True)

In [83]:
print(df_GOES_meteo_combined_all.shape)

(48048, 28)

In [84]:
print(df_GOES_meteo_combined.shape)

(4368, 28)

In [85]:
# Define the window size
window_size = 8

# Calculate the rolling sum of the column 'Precip (in)'
precip_sum = df_GOES_meteo_combined['Precip (in)'].rolling(window_size).sum()

# Shift the rolling sum by the window size to get the sum of the next 8 rows
precip_8_hr = precip_sum.shift(-window_size)

# Convert the result to a list
Precip_8_Hr = precip_8_hr.tolist()

In [86]:
len(Precip_8_Hr)

4368

In [87]:
Precip_8_Hr

[0.02,
 0.02,
 0.01,
 0.01,
 0.01,
 0.01,
 0.02,
 0.02,
 0.01,
 0.01,
 0.01,
 0.01,
 0.01,
 0.01,
 0.0,
 0.0,
 0.0,
 0.0,
 0.01,
 0.05,
 0.060000000000000005,
 0.060000000000000005,
 0.09,
 0.16,
 0.17,
 0.17,
 0.16,
 0.12,
 0.11,
 0.11,
 0.07999999999999999,
 0.009999999999999986,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.03999999999999999,
 0.04999999999999999,
 0.059999999999999984,
 0.10999999999999999,
 0.10999999999999999,
 0.10999999999999999,
 0.10999999999999999,
 0.10999999999999999,
 0.06999999999999998,
 0.059999999999999984,
 0.04999999999999999,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.15999999999999998,
 0.16,
 0.16,
 0.16,
 0.16,
 0.16,
 0.16,
 0.16,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.01,
 0.01,
 0.01,
 0.01,
 0.01,
 0.01,
 0.01,
 0.01,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.01,
 0.09,
 0.28,
 0.45999999999999996,
 0.45999999999999996,
 0.47,
 0.5,
 0.53,
 0.52,
 0.44,
 0.29,
 0.13,
 0.13,
 0.12000000000000001,
 0.09,
 0.06,
 0.07,
 0.07,
 0.03,
 0.01,
 0.01,
 0.01,
 0.01,
 0.02,
 0.01,
 0.01,
 0.01,
 0.01,
 0.01,
 0.01,
 0.01,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.02,
 0.02,
 0.13,
 0.13,
 0.13,
 0.13,
 0.13,
 0.13,
 0.11,
 0.11,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.45,
 0.47000000000000003,
 0.48000000000000004,
 0.48000000000000004,
 0.48000000000000004,
 0.48000000000000004,
 0.48000000000000004,
 0.48000000000000004,
 0.03,
 0.01,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.01,
 0.01,
 0.01,
 0.01,
 0.01,
 0.01,
 0.01,
 0.01,
 0.0,
 0.0,
 0.02,
 0.1,
 0.1,
 0.1,
 0.11,
 0.11,
 0.11,
 0.11,
 0.1,
 0.02,
 0.02,
 0.02,
 0.01,
 0.01,
 0.01,
 0.01,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.03,
 0.03,
 0.03,
 0.03,
 0.03,
 0.03,
 0.03,
 0.05,
 0.02,
 0.03,
 0.03,
 0.03,
 0.03,
 0.05,
 0.05,
 0.04,
 0.060000000000000005,
 0.05,
 0.05,
 0.05,
 0.05,
 0.04000000000000001,
 0.04000000000000001,
 0.030000000000000006,
 0.010000000000000007,
 0.010000000000000007,
 0.010000000000000007,
 0.010000000000000007,
 0.010000000000000007,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.010000000000000007,
 0.07,
 0.07,
 0.08,
 0.08,
 0.1,
 0.1,
 0.1,
 0.11000000000000001,
 0.07,
 0.07,
 0.060000000000000005,
 0.1,
 0.11000000000000001,
 0.12000000000000001,
 0.13,
 0.11000000000000001,
 0.09000000000000001,
 0.09000000000000001,
 0.09000000000000001,
 0.05,
 0.020000000000000007,
 0.010000000000000007,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.020000000000000007,
 0.04000000000000001,
 0.07,
 0.07,
 0.07,
 0.07,
 0.07,
 0.07,
 0.05,
 0.030000000000000006,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.030000000000000006,
 0.030000000000000006,
 0.030000000000000006,
 0.030000000000000006,
 0.030000000000000006,
 0.030000000000000006,
 0.030000000000000006,
 0.030000000000000006,
 0.010000000000000007,
 0.010000000000000007,
 0.010000000000000007,
 0.010000000000000007,
 0.010000000000000007,
 0.010000000000000007,
 0.010000000000000007,
 0.010000000000000007,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 ...]

In [88]:
# Add the 'Precip_8_Hr' list as a new column in the dataframe
df_GOES_meteo_combined['Precip_8_Hr'] = Precip_8_Hr

In [89]:
num_true = df_GOES_meteo_combined['is_snow_precip'].sum()

In [90]:
num_true

85

In [91]:
df_GOES_meteo_combined = df_GOES_meteo_combined_all.copy()

### 1D-CNN

In [92]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, mean_absolute_error
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Conv1D, Dense, Flatten, Dropout
import matplotlib.pyplot as plt

2023-05-03 17:29:00.570155: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2 AVX AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [93]:
# import numpy as np
# from sklearn.model_selection import train_test_split
# from keras.models import Sequential
# from keras.layers import Dense, Conv1D, MaxPooling1D, Flatten

# # Extract the data from dataframe
# X = np.array(df_GOES_meteo_combined['Lake_data_1D'].tolist())
# y = np.array(df_GOES_meteo_combined['Precip_8_Hr'].tolist())

# # Fill NaN values with 0
# X = np.nan_to_num(X)
# y = np.nan_to_num(y)

# # Split the data into train and test sets
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# # Reshape the data to fit the conv1d model
# X_train = X_train.reshape(X_train.shape[0], X_train.shape[1], 1)
# X_test = X_test.reshape(X_test.shape[0], X_test.shape[1], 1)

# # Define the model
# model = Sequential()
# model.add(Conv1D(32, 3, activation='relu', input_shape=(X_train.shape[1], 1)))
# model.add(Conv1D(64, 3, activation='relu'))
# model.add(MaxPooling1D(pool_size=2))
# model.add(Flatten())
# model.add(Dense(1, activation='linear'))

# # Compile the model
# model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# # Train the model
# model.fit(X_train, y_train, epochs=50, batch_size=32, validation_data=(X_test, y_test))

# # Evaluate the model
# score = model.evaluate(X_test, y_test, verbose=0)
# print("Test loss:", score)

# # Make predictions
# y_pred = model.predict(X_test)

# # Calculate accuracy of the model
# accuracy = np.mean(np.abs(y_pred - y_test) <= 0.5)
# print("Accuracy:", accuracy)

In [94]:
# df_GOES_meteo_combined['Precip_8_Hr'].values

In [95]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, mean_absolute_error
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Conv1D, Dense, Flatten, Dropout

X = np.stack(df_GOES_meteo_combined['Lake_data_1D'].to_numpy())

df_GOES_meteo_combined['is_snow_precip'] = df_GOES_meteo_combined['is_snow_precip'].apply(lambda x: int(round(x)) if isinstance(x, float) and not np.isnan(x) else (int(x) if not np.isnan(x) else 0))

y = df_GOES_meteo_combined['is_snow_precip'].values.astype(int)
# print(y)

# Fill NaN values with 0
X = np.nan_to_num(X)
y = np.nan_to_num(y)


input_data = []
output_data = []

for i in range(len(X) - 120):
    input_data.append(X[i:i+72])
    output_data.append(y[i+120])

input_data = np.stack(input_data)
output_data = np.stack(output_data)


# Scale the input data
scaler = StandardScaler()
input_data_scaled = scaler.fit_transform(input_data.reshape(input_data.shape[0], -1)).reshape(input_data.shape)

# Reshape the input data to match Conv1D input shape (batch_size, steps, input_dim)
input_data_scaled = input_data_scaled.reshape(input_data_scaled.shape[0], input_data_scaled.shape[1], input_data_scaled.shape[2])

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(input_data_scaled, output_data, test_size=0.2, random_state=42)


model = Sequential()
model.add(Conv1D(32, 3, activation='relu', input_shape=(X_train.shape[1], X_train.shape[2])))
model.add(Conv1D(64, 3, activation='relu'))
model.add(Dropout(0.5))
model.add(Flatten())
model.add(Dense(64, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['mae', 'accuracy'])


# model.compile(optimizer='adam', loss='mse', metrics=['mae', 'accuracy'])


history = model.fit(X_train, y_train, epochs=20, batch_size=32, validation_split=0.2)

MemoryError: Unable to allocate 92.5 GiB for an array with shape (47928, 72, 3599) and data type float64

In [ ]:
import matplotlib.pyplot as plt

plt.figure()
plt.plot(history.history['loss'], label='Training Loss')
plt.plot(history.history['val_loss'], label='Validation Loss')
plt.xlabel('Epoch')
plt.ylabel('Loss')
plt.legend()
plt.show()

In [ ]:
y_pred = model.predict(X_test)
test_mse = mean_squared_error(y_test, y_pred)
print(f"Test MSE: {test_mse}")

In [ ]:
plt.figure()
plt.plot(y_test, label='Actual')
plt.plot(y_pred, label='Predicted')
plt.xlabel('Sample Index')
plt.ylabel('Precip_8_Hr')
plt.legend()
plt.show()

In [ ]:
y_test

In [ ]:
y_pred

### Conv2D

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, mean_absolute_error
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Conv2D, Dense, Flatten, Dropout
import matplotlib.pyplot as plt

In [ ]:
X = np.stack(df_GOES_meteo_combined['Lake_data_2D'].to_numpy())
y = df_GOES_meteo_combined['Precip_8_Hr'].values

# Fill NaN values with 0
X = np.nan_to_num(X)
y = np.nan_to_num(y)

In [ ]:
# Scale the input data
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X.reshape(X.shape[0], -1)).reshape(X.shape)

# Reshape the input data to match Conv2D input shape (batch_size, height, width, channels)
X_scaled = X_scaled.reshape(X_scaled.shape[0], X_scaled.shape[1], X_scaled.shape[2], 1)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [ ]:
model = Sequential()
model.add(Conv2D(32, (3, 3), activation='relu', input_shape=(X_train.shape[1], X_train.shape[2], 1)))
model.add(Conv2D(64, (3, 3), activation='relu'))
model.add(Dropout(0.5))
model.add(Flatten())
model.add(Dense(64, activation='relu'))
model.add(Dense(1))

model.compile(optimizer='adam', loss='mse', metrics=['mae', 'accuracy'])
history = model.fit(X_train, y_train, epochs=20, batch_size=32, validation_split=0.2)

In [ ]:
plt.figure()
plt.plot(history.history['loss'], label='Training Loss')
plt.plot(history.history['val_loss'], label='Validation Loss')
plt.xlabel('Epoch')
plt.ylabel('Loss')
plt.legend()
plt.show()

plt.figure()
plt.plot(history.history['mae'], label='Training MAE')
plt.plot(history.history['val_mae'], label='Validation MAE')
plt.xlabel('Epoch')
plt.ylabel('Mean Absolute Error')
plt.legend()
plt.show()

In [ ]:
y_pred = model.predict(X_test)
test_mse = mean_squared_error(y_test, y_pred)
test_mae = mean_absolute_error(y_test, y_pred)
print(f"Test MSE: {test_mse}")
print(f"Test MAE: {test_mae}")

In [ ]:
plt.figure()
plt.plot(y_test, label='Actual')
plt.plot(y_pred, label='Predicted')
plt.xlabel('Sample Index')
plt.ylabel('Precip_8_Hr')
plt.legend()
plt.show()

In [ ]:
arr = [44678, 44702, 44726, 44750, 44775, 44799, 44823, 44847, 44871, 44895, 44919, 44943, 44967, 44991, 45015, 45039, 45063, 45087, 45111, 45135, 45159, 45183, 45207, 45231, 45255, 45279, 45303, 45327, 45351, 45375, 45399, 45423, 45447, 45471, 45495, 45519, 45543, 45567, 45591, 45615, 45639, 45663, 45687, 45711, 45735, 45759, 45783, 45807, 45831, 45855, 45879, 45903, 45927, 45951, 45975, 46000, 46023, 46047, 46071, 46095, 46119, 46143, 46167, 46191, 46215, 46239, 46263, 46287, 46335, 46359, 46383, 46407, 46431, 46455, 46479, 46503, 46527, 46551, 46575, 46599, 46623, 46647, 46671, 46695, 46719, 46743, 46767, 46791, 46815, 46839, 46863, 46887, 46911, 46935, 46959, 46983, 47007, 47031, 47055, 47079, 47103, 47127, 47151, 47174, 47198, 47222, 47246, 47270, 47294, 47318, 47342, 47366, 47390, 47414, 47438, 47462, 47486, 47510, 47534, 47558, 47582, 47606, 47630, 47654, 47678, 47702, 47726, 47750, 47774, 47798, 47822, 47846, 47870, 47893, 47917, 47941, 47965, 47989, 48013, 48037, 48061, 48085, 48109]

In [ ]:
len(arr)

In [1]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm
from datetime import datetime
from datetime import timedelta
from datetime import date as dtdt
from pytz import timezone
import itertools
import math
# from datetime import datetime, timedelta

###############################################################################
# Important, make sure to use the correct file
weather_station = 'MI-14850-TRAVERSE_CITY_CHERRY_CPTL_AP'

###############################################################################
# In this part, we select the number of years used for the experiment
# start_year_lib = [2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016]

start_year_lib = [2006, 2007, 2008]

hour_lib = ['00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00', '09:00', 
            '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00',
            '18:00', '19:00', '20:00', '21:00', '22:00', '23:00']

# Initialize an empty dataframe to store the combined data
df_combined_all = pd.DataFrame()

# Initialize an empty list to store the lengths of each 'df_GOES_meteo_combined'
lengths_list = []


def daterange(date1, date2):
    for n in range(int ((date2 - date1).days) + 1):
        yield date1 + timedelta(n)

###############################################################################
def round_datetime_to_nearest_hour(obj_arr, STATE_ID):
    arr_len = len(obj_arr)
    Date_CST = []
    Time_CST = []
    for i in range(arr_len):
        # iterate through
        date_item = obj_arr['Date'][i]
        time_item = obj_arr['Time'][i]
        t = datetime.strptime(date_item + " " + time_item, "%Y-%m-%d %H:%M")
        # Calculate the number of minutes past the last full hour
        minutes_past_hour = t.minute + t.second / 60
        # Round up to the next whole number of hours if the time is more than 30 minutes past the hour,
        # or round down to the current hour if it's less than 30 minutes past
        if minutes_past_hour >= 30:
            num_hours = math.ceil(minutes_past_hour / 60)
        else:
            num_hours = 0
        # Create a new datetime object representing the rounded time
        if STATE_ID in ['IL', 'WI']:
            # No need to dial back one hour
            rounded_time_temp = t + timedelta(hours=num_hours)
        else:
            rounded_time_temp = t + timedelta(hours=num_hours-1)
        rounded_time=datetime(year=rounded_time_temp.year,
                         month=rounded_time_temp.month,
                         day=rounded_time_temp.day,
                         hour=rounded_time_temp.hour, minute=0, second=0)
        result_stamp = rounded_time.strftime("%Y-%m-%d %H:%M")
        
        new_date, new_time = result_stamp.split(' ')
        Date_CST.append(new_date)
        Time_CST.append(new_time)
        
    obj_arr['Date_CST'] = Date_CST
    obj_arr['Time_CST'] = Time_CST
    return obj_arr

##############################################################################
def check_snow_24_120(df):
    does_snow_24_120 = []
    for i in range(len(df)):
        if i + 120 < len(df):
            if any(df['is_snow_precip'].iloc[i+24:i+120]):
                does_snow_24_120.append(True)
            else:
                does_snow_24_120.append(False)
        else:
            does_snow_24_120.append(False)
    df['does_snow_24_120'] = does_snow_24_120
    return df
    
##############################################################################
def lake_1D_matcher(df_temp, df_lake_1D_map):
    # left join df_temp with df_lake_1D_map based on latitude and longitude
    df_merged_temp = pd.merge(df_lake_1D_map, df_temp, on=['latitude', 'longitude'], how='left')

    # extract value column into a list
    value_temp = df_merged_temp['value'].tolist()

    return value_temp
    
##############################################################################
def is_valid_data(df_temp):
    
    crit_1 = 0
    crit_2 = 0
    crit_3 = 0
        
    # Pass in value
    i_temp = df_temp.value
    

    try:
        
        i_temp_max = i_temp.max().max()

        # Acquire mode in the array
        i_temp_mode = i_temp.mode()[0]
    except:
        i_temp_max = 0
        i_temp_mode = 0
    
    # Check Criteria #1:
    if i_temp_max <= 0.03:
        crit_1 = 1
    
    # Check Criteria #2:
    if i_temp_mode <= 0.02:
        crit_2 = 1
    
    # Check Criteria #3
    if len(i_temp) <= 3000:
        crit_3 = 1
        
    crit_sum = crit_1 + crit_2 + crit_3
    
    if crit_sum > 0:
        cond = False
    else:
        cond = True
        
    return cond
    
    
def cloud_finder(value_temp):
    # Deduct 0.1 from all elements in the array
    value_temp = [x - 0.1 for x in value_temp]
    
    # Count the number of elements that are larger than or equal to 0
    count = sum(1 for x in value_temp if x >= 0)
    
    return count




for start_year in start_year_lib:
    ## It is always the case
    end_year = start_year + 1

    filename = weather_station[0:9]+str(start_year)+'Fall-'+str(end_year)+'Spring.csv'

    ## Extract the state indicator
    STATE_ID = filename[:2]
    STATE_2_LTR = filename[:2]
    # print(STATE_2_LTR)

    ###########################################################################
    # Check if they exist
    if os.path.exists('NSW_Weather/'+weather_station+'/'):
        print('Weather station data exists for ', weather_station)
    else:
        print('Weather station data does not exist for ', weather_station)
        
    if os.path.isfile('NSW_Weather/'+weather_station+'/'+filename):
        print("File exists, reading table!")
        temp_table = pd.read_csv('NSW_Weather/'+weather_station+'/'+filename, skiprows = 8, skipfooter = 15)
    else:
        print("File does not exist, please rewind!")
    
    ###########################################################################
    # Go get the satellite imagery data

    folder_name = 'zone_0_'+filename[9:13]+'Fall_'+filename[18:22]+'Spring'
    # print(folder_name)

    # Acquire the folder location for 2-D lake data based on folder_name
    folder_name_2D = folder_name[0:7]+'T_'+folder_name[7:]
    # print(folder_name_2D)

    # Add the parent folder name
    parent_path = 'GOES_Hourly_Statistics/'

    # Check if they exist
    if os.path.exists(parent_path + folder_name):
        print('1-D Lake Michigan data exists for ', folder_name[7:15], ' to ', folder_name[16:])
    else:
        print('1-D Lake Michigan data does not exist for ', folder_name[7:15], ' to ', folder_name[16:])
        
    if os.path.exists(parent_path + folder_name_2D):
        print('2-D Lake Michigan data exists for ', folder_name_2D[9:17], ' to ', folder_name_2D[18:])
    else:
        print('2-D Lake Michigan data does not exist for ', folder_name[9:17], ' to ', folder_name_2D[18:])

    ##########################################################################
    # Start a new part
#     print(type(start_year))
#     print(type(start_year))
#     print(type(start_year))
#     print(type(start_year))
    temp_start = int(start_year)
    temp_end = int(end_year)
    start_dt = dtdt(temp_start, 10, 1)
    end_dt = dtdt(temp_end, 3, 31)
    weather_date_theo = [dt.strftime("%Y%m%d") for dt in daterange(start_dt, end_dt)]
    csv_date_list = list(itertools.chain.from_iterable(itertools.repeat(x, 24) for x in weather_date_theo))
    csv_time_list = hour_lib * len(weather_date_theo)
    # Example usage
    weather_with_CST = round_datetime_to_nearest_hour(temp_table, STATE_ID)
    weather_with_CST['Precip (in)'] = weather_with_CST['Precip (in)'].replace('m', 0).astype(float)
    weather_with_CST['Temp (F)'] = weather_with_CST['Temp (F)'].replace('M', 200).astype(int)
    is_snow_precip = ((weather_with_CST['Precip (in)'] > 0) & (weather_with_CST['Temp (F)']  <= 32)).tolist()
    weather_with_CST['is_snow_precip'] = is_snow_precip
    weather_with_CST = check_snow_24_120(weather_with_CST)
    # Initialize empty list to store results
    # does_snow_24_120 = []

    # # Iterate through each row in the 'is_snow_precip' column
    # for i in range(len(weather_with_CST['is_snow_precip'])):
        
    #     # Check if the next 24 to 120 rows contain more than 2 True values
    #     if i+120 < len(weather_with_CST['is_snow_precip']):
    #         rolling_sum = weather_with_CST['is_snow_precip'][i+24:i+121].rolling(window=25).sum()
    #         count_true = np.sum(rolling_sum > 2)
    #     else:
    #         count_true = 0
        
    #     # Append the result to the list
    #     does_snow_24_120.append(count_true)

    # # Add the list to the dataframe
    # weather_with_CST['does_snow_24_120'] = does_snow_24_120
    Date_CST = pd.Series(csv_date_list, name = 'Date_CST')
    Time_CST = pd.Series(csv_time_list, name = 'Time_CST')

    # Start to retrieve files
    # Get a list of all files in the directory
    file_list_1D = os.listdir(parent_path + folder_name)

    # Sort the list of files (Necessary on Linux)
    file_list_1D.sort()

    # Get a list of all files in the directory
    file_list_2D = os.listdir(parent_path + folder_name_2D)

    # Sort the list of files (Necessary on Linux)
    file_list_2D.sort()

    intend_date_list = []

    for date in csv_date_list:
        intend_date = date[:4] + '.' + date[4:6] + '.' + date[6:]
        intend_date_list.append(intend_date)
    
    intend_time_list = [t.replace(':', '') for t in csv_time_list]
    intend_timestamp_list = [f"{date}.{time}" for date, time in zip(intend_date_list, intend_time_list)]
    
    Date_UTC = []

    for date in csv_date_list:
        intend_date = date[:4] + '-' + date[4:6] + '-' + date[6:]
        Date_UTC.append(intend_date)
        
    Time_UTC = csv_time_list.copy()
    
    file_1D_timestamp = []

    for filename in file_list_1D:
        file_1D = filename[7:22]
        file_1D_timestamp.append(file_1D)
    
    # Define UTC and CST time zones
    utc_tz = timezone('UTC')
    cst_tz = timezone('Etc/GMT+6')

    # Example lists of datetime strings
    date_utc_list = Date_UTC.copy()
    time_utc_list = Time_UTC.copy()

    # Convert datetime strings from UTC to CST
    date_cst_list = []
    time_cst_list = []
    for date_str, time_str in zip(date_utc_list, time_utc_list):
        datetime_utc = datetime.strptime(date_str + ' ' + time_str, '%Y-%m-%d %H:%M')
        datetime_utc = utc_tz.localize(datetime_utc)
        datetime_cst = datetime_utc.astimezone(cst_tz)
        date_cst_list.append(datetime_cst.strftime('%Y-%m-%d'))
        time_cst_list.append(datetime_cst.strftime('%H:%M'))
        
    data_dict = {'Date_UTC': Date_UTC,
             'Time_UTC': Time_UTC,
             'Date_CST': date_cst_list,
             'Time_CST': time_cst_list,
             'intend_timestamp_list': intend_timestamp_list}

    # create the DataFrame using the dictionary
    df_GOES_time_lib = pd.DataFrame(data_dict)
    
    df_GOES_file_lib = pd.DataFrame({'file_timestamp': file_1D_timestamp, 'file_list_1D': file_list_1D, 'file_list_2D': file_list_2D})
    
    df_GOES_combined = pd.merge(df_GOES_time_lib, df_GOES_file_lib, left_on='intend_timestamp_list', right_on='file_timestamp', how='left')
    df_GOES_combined.fillna('None', inplace=True)
    
    output_dir = 'output/GOES_file_lib_dir/'
    output_csv_name = str(start_year)+'Fall_'+str(end_year)+'Spring_GOES_lib.csv'

    output_file_path = os.path.join(output_dir, output_csv_name)

    df_GOES_combined.to_csv(output_file_path, index=False)
    
    ###################
    df_reference_1D = pd.read_csv('02-05-2023/zone_0_sample_take_2/' + 'goes15.2016.12.12.1700.v01.nc-var1-t0.csv')
    table_1D_len = df_reference_1D.shape[0]
    df_lake_1D_map = df_reference_1D[['latitude', 'longitude']].copy()
    matched_1D_file_list = df_GOES_combined['file_list_1D'].tolist()
    matched_2D_file_list = df_GOES_combined['file_list_2D'].tolist()
    matrix = df_reference_1D.values
    df_tester_again = pd.read_csv('02-05-2023/zone_0_sample_take_2/' + 'goes15.2016.12.08.1200.v01.nc-var1-t0.csv')
    temp_result_tester = lake_1D_matcher(df_tester_again, df_lake_1D_map)
    
    ###################
    lake_1D_list = []
    # lat_lists = []
    # lon_lists = []
    cond_list = []
    count_list = []
    cloud_exist_list = []
    for file_name in tqdm(matched_1D_file_list):
    # for file_name in matched_1D_file_list[1769:1775]:
        
        try:
            temp_file_path = parent_path + folder_name + '/' + file_name
    #         print( temp_file_path)
    #         print(counter)
            df_temp = pd.read_csv(temp_file_path)
            value_temp = lake_1D_matcher(df_temp, df_lake_1D_map)
            cond = is_valid_data(df_temp)
            cond_list.append(cond)
            lake_1D_list.append(value_temp)
            num_clouds = cloud_finder(value_temp)
            count_list.append(num_clouds) 
            if num_clouds < 720:
                exist_temp = False
            else:
                exist_temp = True
            # Replace all NaN values in the 'exist_temp' array with 0.0
            exist_temp = np.nan_to_num(exist_temp, nan=0.0)
            cloud_exist_list.append(exist_temp)
    #         lat_lists.append(lat_list)
    #         lon_lists.append(lon_list)
        except FileNotFoundError:
            lake_1D_list.append(np.zeros(3599))
            cond_list.append(False)
            count_list.append(0) 
            cloud_exist_list.append(False)
    
    # list of matrices
    lake_2D_list = []

    # loop over file names
    for file_name in tqdm(matched_2D_file_list):
        try:
            # read csv file into dataframe
            temp_file_path = parent_path + folder_name_2D + '/' + file_name
            df_temp = pd.read_csv(temp_file_path)
            df_temp = df_temp.iloc[1:, 1:]
            # Replace NaN values in 'values' with 0 in 'df_temp'
            df_temp = df_temp.fillna(0)
    #         print(df_temp.shape)
            # convert dataframe to numpy array/matrix
            mat_temp = df_temp.values
    #         mat_temp = np.array(df_temp.values.flatten())

            # assume df_temp is a DataFrame with multiple columns
    #         arrays = [df_temp.iloc[:, i].to_numpy() for i in range(len(df_temp.columns))]
    #         mat_temp = arrays
        except FileNotFoundError:
            # if file does not exist, save NaN
            mat_temp = np.zeros((105, 79))
        
        # append matrix to list
        lake_2D_list.append(mat_temp)
        
    df_GOES_combined['lake_1D_list'] = lake_1D_list
    df_GOES_combined['lake_2D_list'] = lake_2D_list
    df_GOES_combined['data_usable'] = cond_list
    df_GOES_combined['cloud_count'] = count_list
    df_GOES_combined['cloud_exist'] = cloud_exist_list
    
    df_GOES_meteo_combined = pd.merge(df_GOES_combined, weather_with_CST, on=['Date_CST', 'Time_CST'], how='left')
    
    column_names = df_GOES_meteo_combined.columns.tolist()
    
    df_GOES_meteo_combined = df_GOES_meteo_combined.drop(['Date', 'Time', 'intend_timestamp_list', 'file_timestamp'], axis=1)
    
    df_GOES_meteo_combined.rename(columns={'file_list_1D': 'File_name_for_1D_lake'}, inplace=True)
    df_GOES_meteo_combined.rename(columns={'file_list_2D': 'File_name_for_2D_lake'}, inplace=True)
    df_GOES_meteo_combined.rename(columns={'lake_1D_list': 'Lake_data_1D'}, inplace=True)
    df_GOES_meteo_combined.rename(columns={'lake_2D_list': 'Lake_data_2D'}, inplace=True)
    
    column_names = df_GOES_meteo_combined.columns.tolist()
    # Concatenate the temporary data to the 'df_combined_all' dataframe
    df_combined_all = pd.concat([df_combined_all, df_GOES_meteo_combined], ignore_index=True)
    
    # Store the length of 'df_GOES_meteo_combined' in the 'lengths_list'
    lengths_list.append(len(df_GOES_meteo_combined))

Weather station data exists for  MI-14850-TRAVERSE_CITY_CHERRY_CPTL_AP
File exists, reading table!
1-D Lake Michigan data exists for  2006Fall  to  2007Spring
2-D Lake Michigan data exists for  2006Fall  to  2007Spring

/tmp/ipykernel_213088/536659257.py:175: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  temp_table = pd.read_csv('NSW_Weather/'+weather_station+'/'+filename, skiprows = 8, skipfooter = 15)
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4368/4368 [00:31<00:00, 138.94it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4368/4368 [00:14<00:00, 291.74it/s]
/tmp/ipykernel_213088/536659257.py:175: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  temp_table = pd.read_csv('NSW_Weather/'+weather_station+'/'+filename, skiprows = 8, skipfooter = 15)

Weather station data exists for  MI-14850-TRAVERSE_CITY_CHERRY_CPTL_AP
File exists, reading table!
1-D Lake Michigan data exists for  2007Fall  to  2008Spring
2-D Lake Michigan data exists for  2007Fall  to  2008Spring

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4392/4392 [00:32<00:00, 136.33it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4392/4392 [00:15<00:00, 289.19it/s]
/tmp/ipykernel_213088/536659257.py:175: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  temp_table = pd.read_csv('NSW_Weather/'+weather_station+'/'+filename, skiprows = 8, skipfooter = 15)

Weather station data exists for  MI-14850-TRAVERSE_CITY_CHERRY_CPTL_AP
File exists, reading table!
1-D Lake Michigan data exists for  2008Fall  to  2009Spring
2-D Lake Michigan data exists for  2008Fall  to  2009Spring

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4368/4368 [00:31<00:00, 137.27it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4368/4368 [00:14<00:00, 292.65it/s]

In [4]:
# df_GOES_meteo_combined.head(5)
print(df_combined_all.shape)
print(lengths_list)

(13129, 30)
[4368, 4393, 4368]