In [1]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm

In [2]:
folder_path = 'output/'
# list all files in the directory
files = os.listdir(folder_path)

# filter files that start with 'Take_2' and end with '.csv'
filtered_files = [file for file in files if file.startswith('Take_2') and file.endswith('.csv')]
filtered_files.sort()
# print the list of filtered files
filtered_files

['Take_2_2006Fall_2017Spring_GOES_meteo_combined_04839.csv',
 'Take_2_2006Fall_2017Spring_GOES_meteo_combined_04846.csv',
 'Take_2_2006Fall_2017Spring_GOES_meteo_combined_04877.csv',
 'Take_2_2006Fall_2017Spring_GOES_meteo_combined_04892.csv',
 'Take_2_2006Fall_2017Spring_GOES_meteo_combined_14815.csv',
 'Take_2_2006Fall_2017Spring_GOES_meteo_combined_14819.csv',
 'Take_2_2006Fall_2017Spring_GOES_meteo_combined_14829.csv',
 'Take_2_2006Fall_2017Spring_GOES_meteo_combined_14836.csv',
 'Take_2_2006Fall_2017Spring_GOES_meteo_combined_14840.csv',
 'Take_2_2006Fall_2017Spring_GOES_meteo_combined_14841.csv',
 'Take_2_2006Fall_2017Spring_GOES_meteo_combined_14845.csv',
 'Take_2_2006Fall_2017Spring_GOES_meteo_combined_14848.csv',
 'Take_2_2006Fall_2017Spring_GOES_meteo_combined_14850.csv',
 'Take_2_2006Fall_2017Spring_GOES_meteo_combined_94814.csv',
 'Take_2_2006Fall_2017Spring_GOES_meteo_combined_94815.csv',
 'Take_2_2006Fall_2017Spring_GOES_meteo_combined_94860.csv',
 'Take_2_2006Fall_2017Spring_GOES_meteo_combined_94871.csv',
 'Take_2_2008Fall_2015Spring_GOES_meteo_combined_04883.csv',
 'Take_2_2008Fall_2017Spring_GOES_meteo_combined_94833.csv']

In [3]:
len(filtered_files)

19

In [4]:
filename = filtered_files[12]

file_path = 'output/'

df_temp_table = pd.read_csv(file_path+filename)

df_temp_table.head(5)

,Date_UTC,Time_UTC,Date_CST,Time_CST,File_name_for_1D_lake,File_name_for_2D_lake,Lake_data_1D,data_usable,cloud_count,cloud_exist,...,Atm Press (hPa),Sea Lev Press (hPa),Altimeter (hPa),Precip (in),Wind Chill (F),Heat Index (F),Unnamed: 18,is_snow_precip,is_precip,does_snow_24_120
0,2006-10-01,00:00,2006-09-30,18:00,goes11.2006.10.01.0000.v01.nc-var1-t0.csv,T_goes11.2006.10.01.0000.v01.nc-var1-t0.csv.csv,"[0.0075, 0.0025, 0.0, 0.005, 0.0, 0.005, nan, ...",False,0,False,...,984.40,1007.20,1007.10,0.00,NC,NC,NaN,False,False,False
1,2006-10-01,01:00,2006-09-30,19:00,goes11.2006.10.01.0100.v01.nc-var1-t0.csv,T_goes11.2006.10.01.0100.v01.nc-var1-t0.csv.csv,"[0.0025, nan, 0.0025, 0.0025, nan, 0.0, nan, 0...",False,0,False,...,984.70,1007.80,1007.50,0.00,NC,NC,NaN,False,False,False
2,2006-10-01,02:00,2006-09-30,20:00,goes11.2006.10.01.0200.v01.nc-var1-t0.csv,T_goes11.2006.10.01.0200.v01.nc-var1-t0.csv.csv,"[0.0, nan, 0.0075, nan, nan, 0.0025, nan, nan,...",False,0,False,...,985.40,1008.30,1008.10,0.00,NC,NC,NaN,False,False,False
3,2006-10-01,03:00,2006-09-30,21:00,goes11.2006.10.01.0300.v01.nc-var1-t0.csv,T_goes11.2006.10.01.0300.v01.nc-var1-t0.csv.csv,"[0.0025, nan, 0.0025, 0.0, 0.0075, nan, 0.005,...",False,0,False,...,986.00,M,1008.80,0.02,NC,NC,NaN,False,True,False
4,2006-10-01,04:00,2006-09-30,22:00,goes11.2006.10.01.0400.v01.nc-var1-t0.csv,T_goes11.2006.10.01.0400.v01.nc-var1-t0.csv.csv,"[0.0025, nan, 0.0, nan, 0.0075, 0.0, nan, nan,...",False,0,False,...,986.40,1009.50,1009.10,0.00,NC,NC,NaN,False,False,False

In [5]:

station_ID_num = filename.split('_')[-1].split('.')[0]
print(station_ID_num)

14850

In [6]:

# df_usable_data = df_temp_table[df_temp_table['data_usable'] == True]
df_usable_data = df_temp_table.copy()

df_usable_data.head(24)

,Date_UTC,Time_UTC,Date_CST,Time_CST,File_name_for_1D_lake,File_name_for_2D_lake,Lake_data_1D,data_usable,cloud_count,cloud_exist,...,Atm Press (hPa),Sea Lev Press (hPa),Altimeter (hPa),Precip (in),Wind Chill (F),Heat Index (F),Unnamed: 18,is_snow_precip,is_precip,does_snow_24_120
0,2006-10-01,00:00,2006-09-30,18:00,goes11.2006.10.01.0000.v01.nc-var1-t0.csv,T_goes11.2006.10.01.0000.v01.nc-var1-t0.csv.csv,"[0.0075, 0.0025, 0.0, 0.005, 0.0, 0.005, nan, ...",False,0,False,...,984.40,1007.20,1007.10,0.00,NC,NC,NaN,False,False,False
1,2006-10-01,01:00,2006-09-30,19:00,goes11.2006.10.01.0100.v01.nc-var1-t0.csv,T_goes11.2006.10.01.0100.v01.nc-var1-t0.csv.csv,"[0.0025, nan, 0.0025, 0.0025, nan, 0.0, nan, 0...",False,0,False,...,984.70,1007.80,1007.50,0.00,NC,NC,NaN,False,False,False
2,2006-10-01,02:00,2006-09-30,20:00,goes11.2006.10.01.0200.v01.nc-var1-t0.csv,T_goes11.2006.10.01.0200.v01.nc-var1-t0.csv.csv,"[0.0, nan, 0.0075, nan, nan, 0.0025, nan, nan,...",False,0,False,...,985.40,1008.30,1008.10,0.00,NC,NC,NaN,False,False,False
3,2006-10-01,03:00,2006-09-30,21:00,goes11.2006.10.01.0300.v01.nc-var1-t0.csv,T_goes11.2006.10.01.0300.v01.nc-var1-t0.csv.csv,"[0.0025, nan, 0.0025, 0.0, 0.0075, nan, 0.005,...",False,0,False,...,986.00,M,1008.80,0.02,NC,NC,NaN,False,True,False
4,2006-10-01,04:00,2006-09-30,22:00,goes11.2006.10.01.0400.v01.nc-var1-t0.csv,T_goes11.2006.10.01.0400.v01.nc-var1-t0.csv.csv,"[0.0025, nan, 0.0, nan, 0.0075, 0.0, nan, nan,...",False,0,False,...,986.40,1009.50,1009.10,0.00,NC,NC,NaN,False,False,False
5,2006-10-01,05:00,2006-09-30,23:00,goes11.2006.10.01.0500.v01.nc-var1-t0.csv,T_goes11.2006.10.01.0500.v01.nc-var1-t0.csv.csv,"[nan, nan, 0.0075, nan, nan, 0.0025, 0.0025, 0...",False,0,False,...,986.70,1009.80,1009.50,0.00,NC,NC,NaN,False,False,False
6,2006-10-01,06:00,2006-10-01,00:00,goes11.2006.10.01.0600.v01.nc-var1-t0.csv,T_goes11.2006.10.01.0600.v01.nc-var1-t0.csv.csv,"[nan, 0.0, 0.0075, 0.005, 0.0025, 0.005, 0.005...",False,0,False,...,987.30,1010.20,1010.20,0.01,NC,NC,NaN,False,True,False
7,2006-10-01,07:00,2006-10-01,01:00,goes11.2006.10.01.0700.v01.nc-var1-t0.csv,T_goes11.2006.10.01.0700.v01.nc-var1-t0.csv.csv,"[nan, 0.0025, 0.005, 0.0025, nan, nan, nan, 0....",False,0,False,...,988.00,1010.80,1010.80,0.00,NC,NC,NaN,False,False,False
8,2006-10-01,08:00,2006-10-01,02:00,None,None,[0. 0. 0. ... 0. 0. 0.],False,0,False,...,988.30,M,1011.20,0.00,NC,NC,NaN,False,False,False
9,2006-10-01,09:00,2006-10-01,03:00,None,None,[0. 0. 0. ... 0. 0. 0.],False,0,False,...,989.00,M,1011.90,0.00,NC,NC,NaN,False,False,False
10,2006-10-01,10:00,2006-10-01,04:00,goes11.2006.10.01.1000.v01.nc-var1-t0.csv,T_goes11.2006.10.01.1000.v01.nc-var1-t0.csv.csv,"[0.012499999, 0.0075, 0.0175, 0.0175, 0.012499...",False,0,False,...,989.70,1012.80,1012.50,0.00,NC,NC,NaN,False,False,False
11,2006-10-01,11:00,2006-10-01,05:00,goes11.2006.10.01.1100.v01.nc-var1-t0.csv,T_goes11.2006.10.01.1100.v01.nc-var1-t0.csv.csv,"[0.0025, 0.005, nan, 0.0025, nan, 0.0075, nan,...",False,0,False,...,990.70,1013.60,1013.50,0.00,NC,NC,NaN,False,False,False
12,2006-10-01,12:00,2006-10-01,06:00,goes11.2006.10.01.1200.v01.nc-var1-t0.csv,T_goes11.2006.10.01.1200.v01.nc-var1-t0.csv.csv,"[0.035, 0.04, 0.044999998, 0.049999997, 0.0425...",True,0,False,...,991.70,1014.80,1014.60,0.00,NC,NC,NaN,False,False,False
13,2006-10-01,13:00,2006-10-01,07:00,goes11.2006.10.01.1300.v01.nc-var1-t0.csv,T_goes11.2006.10.01.1300.v01.nc-var1-t0.csv.csv,"[0.074999996, 0.0725, 0.07, 0.07, 0.0775, 0.06...",True,0,False,...,992.30,1015.60,1015.20,0.00,NC,NC,NaN,False,False,False
14,2006-10-01,14:00,2006-10-01,08:00,goes11.2006.10.01.1400.v01.nc-var1-t0.csv,T_goes11.2006.10.01.1400.v01.nc-var1-t0.csv.csv,"[0.067499995, 0.07, 0.0625, 0.06, 0.0725, 0.06...",True,391,False,...,993.00,1016.30,1015.90,0.00,NC,NC,NaN,False,False,False
15,2006-10-01,15:00,2006-10-01,09:00,goes11.2006.10.01.1500.v01.nc-var1-t0.csv,T_goes11.2006.10.01.1500.v01.nc-var1-t0.csv.csv,"[0.067499995, 0.067499995, 0.06, 0.06, 0.05749...",True,246,False,...,993.70,1016.90,1016.60,0.00,NC,NC,NaN,False,False,False
16,2006-10-01,16:00,2006-10-01,10:00,goes11.2006.10.01.1600.v01.nc-var1-t0.csv,T_goes11.2006.10.01.1600.v01.nc-var1-t0.csv.csv,"[0.0725, 0.067499995, 0.07, 0.07, 0.067499995,...",True,195,False,...,994.30,1017.50,1017.30,0.00,NC,NC,NaN,False,False,False
17,2006-10-01,17:00,2006-10-01,11:00,goes11.2006.10.01.1700.v01.nc-var1-t0.csv,T_goes11.2006.10.01.1700.v01.nc-var1-t0.csv.csv,"[0.067499995, 0.067499995, 0.067499995, 0.07, ...",True,277,False,...,995.00,1018.00,1017.90,0.00,NC,NC,NaN,False,False,False
18,2006-10-01,18:00,2006-10-01,12:00,goes11.2006.10.01.1800.v01.nc-var1-t0.csv,T_goes11.2006.10.01.1800.v01.nc-var1-t0.csv.csv,"[0.085, 0.085, 0.0875, 0.0725, 0.0775, 0.0775,...",True,265,False,...,995.00,1018.10,1017.90,0.00,NC,NC,NaN,False,False,False
19,2006-10-01,19:00,2006-10-01,13:00,goes11.2006.10.01.1900.v01.nc-var1-t0.csv,T_goes11.2006.10.01.1900.v01.nc-var1-t0.csv.csv,"[0.0925, 0.095, 0.0925, 0.074999996, 0.0875, 0...",True,371,False,...,994.70,1017.90,1017.60,0.00,NC,NC,NaN,False,False,False
20,2006-10-01,20:00,2006-10-01,14:00,goes11.2006.10.01.2000.v01.nc-var1-t0.csv,T_goes11.2006.10.01.2000.v01.nc-var1-t0.csv.csv,"[0.099999994, 0.095, 0.0975, 0.099999994, 0.11...",True,873,True,...,994.70,1017.80,1017.60,0.00,NC,NC,NaN,False,False,False
21,2006-10-01,21:00,2006-10-01,15:00,goes11.2006.10.01.2100.v01.nc-var1-t0.csv,T_goes11.2006.10.01.2100.v01.nc-var1-t0.csv.csv,"[0.11, 0.105, 0.0975, 0.107499994, 0.099999994...",True,873,True,...,994.70,1017.70,1017.60,0.00,NC,NC,NaN,False,False,False
22,2006-10-01,22:00,2006-10-01,16:00,goes11.2006.10.01.2200.v01.nc-var1-t0.csv,T_goes11.2006.10.01.2200.v01.nc-var1-t0.csv.csv,"[0.089999996, 0.082499996, 0.0875, 0.0775, 0.0...",True,873,False,...,994.70,1017.80,1017.60,0.00,NC,NC,NaN,False,False,False
23,2006-10-01,23:00,2006-10-01,17:00,goes11.2006.10.01.2300.v01.nc-var1-t0.csv,T_goes11.2006.10.01.2300.v01.nc-var1-t0.csv.csv,"[0.04, 0.0425, 0.044999998, 0.04, 0.04, 0.0475...",True,873,False,...,994.70,1017.80,1017.60,0.00,NC,NC,NaN,False,False,False

In [7]:
# Print the size of `df_usable_data`
print("The size of `df_usable_data` is:", df_usable_data.shape)
print("The size of `df_temp_table` is:", df_temp_table.shape)

The size of `df_usable_data` is: (48121, 30)
The size of `df_temp_table` is: (48121, 30)

In [8]:
# # This just shows every starting index of snow precip
# is_snow_precip = df_usable_data['is_snow_precip']

# # Find the starting row index number of each continuous set of True values in the 'is_snow_precip' column
# start_idx_single_lib = is_snow_precip[is_snow_precip.diff() == True].index.tolist()

# # Print the starting row index number of each continuous set of True values
# print("The starting row index number of each continuous set of True values is:", start_idx_single_lib)

In [9]:
# # This is the true way to go, min of 3 hours of snow
# is_snow_precip = df_usable_data['is_snow_precip']

# # Find continuous sets of at least three True values in the 'is_snow_precip' column
# sets = []
# set_start = None
# for idx, value in is_snow_precip.items():
#     if value:
#         if set_start is None:
#             set_start = idx
#         if idx == len(is_snow_precip) - 1:
#             sets.append((set_start, idx))
#     else:
#         if set_start is not None:
#             sets.append((set_start, idx - 1))
#             set_start = None

# # Filter out sets with less than three True values and store the starting row index number of each set in an array called 'start_idx_lib'
# start_idx_lib = [s[0] for s in sets if s[1] - s[0] >= 2]

# # Print the starting row index number of each continuous set of at least three True values
# print("The starting row index number of each continuous set of at least three True values is:", start_idx_lib)

In [10]:

start_idx_lib = []
num_T_lib = []

prev_value = False
counter = 0
start_idx = -1

for idx, row in df_usable_data.iterrows():
    if row['is_precip']:
        counter += 1
        if not prev_value:
            start_idx = idx
    else:
        if counter >= 3:
            start_idx_lib.append(start_idx)
            num_T_lib.append(counter)
        counter = 0
    prev_value = row['is_precip']

# Check if the loop ended with a valid sequence of True values
if counter >= 3:
    start_idx_lib.append(start_idx)
    num_T_lib.append(counter)

print("Starting indices:", start_idx_lib)
print("Number of True values in each sequence:", num_T_lib)

Starting indices: [76, 245, 252, 258, 293, 311, 389, 432, 447, 504, 657, 664, 985, 1051, 1182, 1189, 1402, 1436, 1441, 1479, 1610, 1747, 1814, 1972, 1981, 1997, 2127, 2202, 2209, 2218, 2384, 2550, 2571, 3299, 3466, 3544, 3558, 3649, 3676, 3768, 3898, 4064, 4128, 4600, 4710, 4741, 4784, 4790, 4813, 4897, 5007, 5227, 5238, 5262, 5458, 5559, 5593, 5618, 5626, 5818, 5854, 5877, 6372, 6501, 6590, 6624, 6737, 6758, 6821, 6850, 6883, 6900, 6905, 7415, 7611, 7646, 7652, 7717, 7788, 8004, 8077, 8601, 8617, 8756, 8768, 8772, 8788, 8935, 9113, 9348, 9382, 9400, 9794, 9801, 9819, 9867, 9898, 9910, 9994, 10070, 10222, 10228, 10239, 10284, 10363, 10420, 10431, 10546, 10563, 10613, 10669, 10711, 10793, 10834, 10853, 10860, 10869, 10880, 10942, 11121, 11260, 11934, 11976, 11982, 11992, 12004, 12128, 12133, 12210, 12337, 12574, 12611, 13063, 13166, 13218, 13227, 13257, 13264, 13270, 13278, 13620, 13627, 13639, 13665, 13738, 13745, 13749, 13833, 13845, 13864, 13915, 14456, 14478, 14648, 14726, 14790, 14795, 14925, 15170, 15186, 15359, 15585, 16438, 16597, 16632, 16703, 17022, 17524, 17985, 18042, 18058, 18111, 18333, 18579, 18738, 18943, 18951, 19227, 19498, 19909, 20049, 20111, 20383, 20482, 20595, 20715, 20929, 21058, 21072, 21206, 21224, 21327, 21655, 21663, 21667, 22178, 22191, 22199, 22298, 22320, 22325, 22336, 22455, 22466, 22594, 22648, 22653, 22792, 22811, 22828, 23066, 23229, 23237, 23348, 23391, 23395, 23407, 23414, 23655, 23671, 23683, 23859, 24019, 24087, 24358, 24472, 24609, 24732, 25063, 25229, 25382, 25498, 25513, 25558, 25684, 25789, 26054, 26063, 26224, 26336, 26472, 26509, 26557, 26580, 26596, 26603, 26669, 26678, 26859, 26969, 26980, 27001, 27060, 27230, 27268, 27466, 27746, 27754, 27796, 27933, 28081, 28105, 28190, 28711, 28757, 28920, 29020, 29112, 29125, 29162, 29173, 29178, 29191, 29374, 29448, 29455, 29468, 29535, 29541, 29645, 29752, 29758, 30099, 30108, 30121, 30143, 30311, 30604, 30692, 30746, 30780, 30982, 31001, 31028, 31055, 31061, 31104, 31142, 31152, 31188, 31205, 31229, 31359, 31365, 31496, 31570, 31616, 31756, 31774, 31917, 31959, 32162, 32185, 32284, 32458, 32554, 32559, 32603, 33075, 33083, 33166, 33293, 33361, 33410, 33550, 33986, 34059, 34585, 34693, 34759, 35030, 35047, 35085, 35305, 35320, 35334, 35396, 35400, 35720, 35817, 35857, 35867, 35908, 35913, 35919, 35941, 35968, 36104, 36120, 36146, 36289, 36308, 36642, 36830, 36988, 36996, 37027, 37098, 37391, 37883, 38271, 38512, 38681, 39004, 39205, 39312, 39546, 39552, 39651, 39661, 39720, 39750, 39934, 40017, 40027, 40040, 40092, 40098, 40231, 40374, 40381, 40396, 40400, 40409, 40514, 40725, 40827, 40839, 41068, 41124, 41138, 41168, 41172, 41180, 41204, 41323, 41384, 41447, 41495, 41638, 41645, 41763, 41786, 41841, 41969, 42174, 42229, 42307, 42358, 42377, 42610, 43027, 43212, 43320, 43336, 43377, 43386, 43562, 43570, 43585, 43654, 43662, 43733, 43748, 43779, 43783, 43804, 44035, 44118, 44150, 44311, 44371, 44379, 44453, 45094, 45156, 45170, 45285, 45311, 45425, 45489, 45602, 45623, 45771, 45821, 45943, 46183, 46189, 46225, 46350, 46560, 46567, 46661, 46701, 46867, 47264, 47366, 47382, 47528, 47949, 47999]
Number of True values in each sequence: [4, 5, 3, 11, 12, 8, 14, 5, 5, 18, 6, 4, 5, 3, 6, 6, 3, 3, 5, 8, 4, 7, 5, 3, 9, 11, 3, 3, 3, 6, 4, 8, 3, 3, 3, 6, 9, 4, 4, 4, 3, 6, 13, 3, 7, 10, 3, 4, 10, 4, 6, 8, 12, 5, 7, 3, 5, 5, 3, 4, 11, 6, 3, 8, 3, 3, 8, 18, 4, 3, 5, 3, 6, 3, 3, 5, 6, 11, 3, 5, 6, 10, 3, 5, 3, 3, 3, 5, 3, 3, 6, 4, 3, 3, 10, 5, 4, 3, 3, 17, 4, 9, 3, 14, 3, 9, 6, 3, 5, 4, 7, 6, 6, 3, 4, 3, 7, 9, 10, 5, 7, 3, 5, 3, 3, 3, 3, 5, 8, 7, 10, 5, 10, 6, 5, 3, 5, 3, 6, 4, 3, 6, 3, 14, 5, 3, 8, 8, 6, 3, 11, 6, 20, 3, 4, 4, 11, 3, 4, 6, 4, 5, 5, 3, 3, 5, 4, 6, 6, 7, 5, 7, 3, 3, 3, 6, 3, 8, 5, 3, 4, 4, 5, 4, 4, 4, 3, 3, 5, 7, 4, 6, 7, 3, 4, 8, 4, 17, 3, 3, 8, 9, 10, 3, 3, 3, 9, 9, 11, 3, 5, 6, 9, 7, 3, 5, 6, 4, 4, 8, 7, 3, 3, 4, 19, 6, 6, 4, 3, 4, 4, 8, 6, 12, 7, 3, 8, 3, 4, 5, 7, 7, 17, 9, 3, 6, 3, 4, 4, 10, 8, 3, 3, 3, 3, 3, 5, 4, 3, 5, 3, 3, 24, 4, 7, 3, 3, 8, 5, 10, 4, 6, 3, 9, 6, 7, 4, 3, 5, 6, 3, 3, 4, 8, 8, 5, 3, 5, 3, 5, 4, 3, 4, 3, 5, 6, 6, 4, 6, 3, 3, 4, 4, 18, 15, 3, 11, 3, 9, 5, 4, 6, 3, 5, 4, 3, 6, 10, 5, 3, 8, 3, 3, 7, 6, 3, 3, 6, 5, 234, 6, 13, 6, 6, 7, 4, 3, 7, 6, 7, 9, 9, 4, 3, 6, 12, 4, 3, 3, 6, 13, 10, 8, 3, 6, 4, 6, 6, 7, 4, 3, 3, 5, 3, 5, 4, 3, 4, 4, 3, 3, 3, 3, 9, 5, 5, 4, 7, 7, 4, 3, 3, 8, 4, 4, 19, 3, 5, 4, 12, 28, 3, 4, 3, 4, 5, 3, 3, 13, 6, 3, 5, 9, 4, 10, 8, 5, 9, 7, 4, 3, 4, 6, 7, 4, 6, 5, 6, 13, 4, 6, 6, 8, 3, 3, 3, 6, 8, 3, 3, 3, 6, 8, 3, 5, 4, 9, 3, 7, 4, 4, 11, 7, 4, 4, 4, 3, 15, 6, 4, 6, 5, 8, 3, 5, 10, 3, 22, 4, 10, 4]

In [46]:
df_usable_data[df_usable_data['Precip (in)']==0.01].shape

(1765, 30)

In [52]:
df_usable_data['Precip (in)'].value_counts()

0.00    44043
0.01     1765
0.02      692
0.03      431
0.04      223
0.05      173
0.06      136
0.07       87
0.08       65
0.09       59
0.10       35
0.12       29
0.11       27
0.13       19
0.14       18
0.15       11
0.16       11
0.18       11
0.19        7
0.17        5
0.32        4
0.20        4
0.21        4
0.26        3
0.22        3
0.28        2
0.25        2
0.24        2
0.36        1
0.61        1
1.40        1
0.27        1
0.31        1
0.86        1
0.34        1
0.66        1
0.30        1
0.74        1
0.45        1
Name: Precip (in), dtype: int64

In [11]:
print(len(start_idx_lib))

461

In [12]:
i = 0
while i < len(num_T_lib):
    if num_T_lib[i] > 48:
        del start_idx_lib[i]
        del num_T_lib[i]
    else:
        i += 1

In [13]:
print(len(start_idx_lib))

460

In [14]:
print(df_usable_data.columns)

Index(['Date_UTC', 'Time_UTC', 'Date_CST', 'Time_CST', 'File_name_for_1D_lake',
       'File_name_for_2D_lake', 'Lake_data_1D', 'data_usable', 'cloud_count',
       'cloud_exist', 'Temp (F)', 'RH (%)', 'Dewpt (F)', 'Wind Spd (mph)',
       'Wind Direction (deg)', 'Peak Wind Gust(mph)', 'Low Cloud Ht (ft)',
       'Med Cloud Ht (ft)', 'High Cloud Ht (ft)', 'Visibility (mi)',
       'Atm Press (hPa)', 'Sea Lev Press (hPa)', 'Altimeter (hPa)',
       'Precip (in)', 'Wind Chill (F)', 'Heat Index (F)', 'Unnamed: 18',
       'is_snow_precip', 'is_precip', 'does_snow_24_120'],
      dtype='object')

In [15]:

cloud_count = df_usable_data['cloud_count']

# Find continuous sets of at least two values larger than 720 in the 'cloud_count' column
cloud_sets = []
cloud_set_start = None
for idx, value in cloud_count.items():
    if value > 720:
        if cloud_set_start is None:
            cloud_set_start = idx
        if idx == len(cloud_count) - 1:
            cloud_sets.append((cloud_set_start, idx))
    else:
        if cloud_set_start is not None:
            cloud_sets.append((cloud_set_start, idx - 1))
            cloud_set_start = None

# Filter out sets with less than two values larger than 720 and store the starting row index number of each set in an array called 'cloud_start_idx_lib'
cloud_start_idx_lib = [s[0] for s in cloud_sets if s[1] - s[0] >= 3]

# Print the starting row index number of each continuous set of at least 3 values larger than 720
print("The starting row index number of each continuous set of at least 3 values larger than 720 is:", cloud_start_idx_lib)

The starting row index number of each continuous set of at least 3 values larger than 720 is: [20, 140, 354, 594, 691, 954, 1263, 1287, 1311, 1503, 1647, 1695, 1719, 1839, 1887, 1935, 2035, 2055, 2103, 2175, 2247, 2271, 2295, 2319, 2343, 2368, 2391, 2415, 2439, 2463, 2610, 4051, 4099, 4146, 4382, 4436, 4460, 4578, 4844, 4865, 4913, 4982, 5033, 5130, 5151, 5178, 5439, 5967, 6207, 6255, 6543, 6615, 6639, 6663, 6783, 6999, 7167, 8707, 8775, 8973, 9020, 9184, 9499, 9595, 9666, 10816, 10888, 10912, 10936, 10960, 11008, 11032, 11080, 11104, 11152, 11344, 11948, 13143, 14036, 14128, 14395, 14848, 14872, 15280, 15376, 15400, 15472, 15520, 15544, 15568, 15640, 15736, 16532, 16843, 16869, 17157, 17276, 17300, 17498, 21866, 26271, 26298, 26442, 26465, 30639, 32992, 33040, 35007, 35586, 35610, 37240, 39375, 39618, 39953, 40170, 40290, 40314, 40432, 40457, 40914, 40960, 41704, 43767, 44587, 44610, 44659, 44732, 44803, 45736, 45904, 45979, 46312, 47011, 47132, 47152, 47540, 47755]

In [16]:

cloud_start_lst = []
precip_start_lst = []

for precip_idx in start_idx_lib:
    cloud_idx = None
    for idx in range(len(cloud_start_idx_lib)):
        if cloud_start_idx_lib[idx] >= precip_idx:
            break
        cloud_idx = cloud_start_idx_lib[idx]
    cloud_start_lst.append(cloud_idx)
    precip_start_lst.append(precip_idx)

# Print the corresponding cloud_start_idx and precip_start_idx values
print("cloud_start_lst:", cloud_start_lst)
print("precip_start_lst:", precip_start_lst)

cloud_start_lst: [20, 140, 140, 140, 140, 140, 354, 354, 354, 354, 594, 594, 954, 954, 954, 954, 1311, 1311, 1311, 1311, 1503, 1719, 1719, 1935, 1935, 1935, 2103, 2175, 2175, 2175, 2368, 2463, 2463, 2610, 2610, 2610, 2610, 2610, 2610, 2610, 2610, 4051, 4099, 4578, 4578, 4578, 4578, 4578, 4578, 4865, 4982, 5178, 5178, 5178, 5439, 5439, 5439, 5439, 5439, 5439, 5439, 5439, 6255, 6255, 6543, 6615, 6663, 6663, 6783, 6783, 6783, 6783, 6783, 7167, 7167, 7167, 7167, 7167, 7167, 7167, 7167, 7167, 7167, 8707, 8707, 8707, 8775, 8775, 9020, 9184, 9184, 9184, 9666, 9666, 9666, 9666, 9666, 9666, 9666, 9666, 9666, 9666, 9666, 9666, 9666, 9666, 9666, 9666, 9666, 9666, 9666, 9666, 9666, 10816, 10816, 10816, 10816, 10816, 10936, 11104, 11152, 11344, 11948, 11948, 11948, 11948, 11948, 11948, 11948, 11948, 11948, 11948, 11948, 13143, 13143, 13143, 13143, 13143, 13143, 13143, 13143, 13143, 13143, 13143, 13143, 13143, 13143, 13143, 13143, 13143, 13143, 14395, 14395, 14395, 14395, 14395, 14395, 14872, 14872, 14872, 15280, 15568, 15736, 16532, 16532, 16532, 16869, 17498, 17498, 17498, 17498, 17498, 17498, 17498, 17498, 17498, 17498, 17498, 17498, 17498, 17498, 17498, 17498, 17498, 17498, 17498, 17498, 17498, 17498, 17498, 17498, 17498, 17498, 17498, 17498, 21866, 21866, 21866, 21866, 21866, 21866, 21866, 21866, 21866, 21866, 21866, 21866, 21866, 21866, 21866, 21866, 21866, 21866, 21866, 21866, 21866, 21866, 21866, 21866, 21866, 21866, 21866, 21866, 21866, 21866, 21866, 21866, 21866, 21866, 21866, 21866, 21866, 21866, 21866, 21866, 21866, 21866, 21866, 21866, 26298, 26465, 26465, 26465, 26465, 26465, 26465, 26465, 26465, 26465, 26465, 26465, 26465, 26465, 26465, 26465, 26465, 26465, 26465, 26465, 26465, 26465, 26465, 26465, 26465, 26465, 26465, 26465, 26465, 26465, 26465, 26465, 26465, 26465, 26465, 26465, 26465, 26465, 26465, 26465, 26465, 26465, 26465, 26465, 26465, 26465, 26465, 26465, 26465, 30639, 30639, 30639, 30639, 30639, 30639, 30639, 30639, 30639, 30639, 30639, 30639, 30639, 30639, 30639, 30639, 30639, 30639, 30639, 30639, 30639, 30639, 30639, 30639, 30639, 30639, 30639, 30639, 30639, 30639, 33040, 33040, 33040, 33040, 33040, 33040, 33040, 33040, 33040, 33040, 33040, 35007, 35007, 35007, 35007, 35007, 35007, 35007, 35007, 35610, 35610, 35610, 35610, 35610, 35610, 35610, 35610, 35610, 35610, 35610, 35610, 35610, 35610, 35610, 35610, 35610, 35610, 35610, 35610, 37240, 37240, 37240, 37240, 37240, 37240, 37240, 37240, 39375, 39375, 39618, 39618, 39618, 39618, 39618, 39953, 39953, 39953, 39953, 39953, 40170, 40314, 40314, 40314, 40314, 40314, 40457, 40457, 40457, 40457, 40960, 40960, 40960, 40960, 40960, 40960, 40960, 40960, 40960, 40960, 40960, 40960, 40960, 41704, 41704, 41704, 41704, 41704, 41704, 41704, 41704, 41704, 41704, 41704, 41704, 41704, 41704, 41704, 41704, 41704, 41704, 41704, 41704, 41704, 41704, 41704, 43767, 43767, 43767, 43767, 43767, 43767, 43767, 43767, 43767, 43767, 44803, 44803, 44803, 44803, 44803, 44803, 44803, 44803, 44803, 45736, 45736, 45904, 45979, 45979, 45979, 46312, 46312, 46312, 46312, 46312, 46312, 47152, 47152, 47152, 47152, 47755, 47755]
precip_start_lst: [76, 245, 252, 258, 293, 311, 389, 432, 447, 504, 657, 664, 985, 1051, 1182, 1189, 1402, 1436, 1441, 1479, 1610, 1747, 1814, 1972, 1981, 1997, 2127, 2202, 2209, 2218, 2384, 2550, 2571, 3299, 3466, 3544, 3558, 3649, 3676, 3768, 3898, 4064, 4128, 4600, 4710, 4741, 4784, 4790, 4813, 4897, 5007, 5227, 5238, 5262, 5458, 5559, 5593, 5618, 5626, 5818, 5854, 5877, 6372, 6501, 6590, 6624, 6737, 6758, 6821, 6850, 6883, 6900, 6905, 7415, 7611, 7646, 7652, 7717, 7788, 8004, 8077, 8601, 8617, 8756, 8768, 8772, 8788, 8935, 9113, 9348, 9382, 9400, 9794, 9801, 9819, 9867, 9898, 9910, 9994, 10070, 10222, 10228, 10239, 10284, 10363, 10420, 10431, 10546, 10563, 10613, 10669, 10711, 10793, 10834, 10853, 10860, 10869, 10880, 10942, 11121, 11260, 11934, 11976, 11982, 11992, 12004, 12128, 12133, 12210, 12337, 12574, 12611, 13063, 13166, 13218, 13227, 13257, 13264, 13270, 13278, 13620, 13627, 13639, 13665, 13738, 13745, 13749, 13833, 13845, 13864, 13915, 14456, 14478, 14648, 14726, 14790, 14795, 14925, 15170, 15186, 15359, 15585, 16438, 16597, 16632, 16703, 17022, 17524, 17985, 18042, 18058, 18111, 18333, 18579, 18738, 18943, 18951, 19227, 19498, 19909, 20049, 20111, 20383, 20482, 20595, 20715, 20929, 21058, 21072, 21206, 21224, 21327, 21655, 21663, 21667, 22178, 22191, 22199, 22298, 22320, 22325, 22336, 22455, 22466, 22594, 22648, 22653, 22792, 22811, 22828, 23066, 23229, 23237, 23348, 23391, 23395, 23407, 23414, 23655, 23671, 23683, 23859, 24019, 24087, 24358, 24472, 24609, 24732, 25063, 25229, 25382, 25498, 25513, 25558, 25684, 25789, 26054, 26063, 26224, 26336, 26472, 26509, 26557, 26580, 26596, 26603, 26669, 26678, 26859, 26969, 26980, 27001, 27060, 27230, 27268, 27466, 27746, 27754, 27796, 27933, 28081, 28105, 28190, 28711, 28757, 28920, 29020, 29112, 29125, 29162, 29173, 29178, 29191, 29374, 29448, 29455, 29468, 29535, 29541, 29645, 29752, 29758, 30099, 30108, 30121, 30143, 30311, 30604, 30692, 30746, 30780, 30982, 31001, 31028, 31055, 31061, 31104, 31142, 31152, 31188, 31205, 31229, 31359, 31365, 31496, 31570, 31616, 31756, 31774, 31917, 31959, 32162, 32185, 32284, 32458, 32554, 32559, 32603, 33075, 33083, 33166, 33293, 33361, 33410, 33550, 33986, 34059, 34585, 34693, 35030, 35047, 35085, 35305, 35320, 35334, 35396, 35400, 35720, 35817, 35857, 35867, 35908, 35913, 35919, 35941, 35968, 36104, 36120, 36146, 36289, 36308, 36642, 36830, 36988, 36996, 37027, 37098, 37391, 37883, 38271, 38512, 38681, 39004, 39205, 39312, 39546, 39552, 39651, 39661, 39720, 39750, 39934, 40017, 40027, 40040, 40092, 40098, 40231, 40374, 40381, 40396, 40400, 40409, 40514, 40725, 40827, 40839, 41068, 41124, 41138, 41168, 41172, 41180, 41204, 41323, 41384, 41447, 41495, 41638, 41645, 41763, 41786, 41841, 41969, 42174, 42229, 42307, 42358, 42377, 42610, 43027, 43212, 43320, 43336, 43377, 43386, 43562, 43570, 43585, 43654, 43662, 43733, 43748, 43779, 43783, 43804, 44035, 44118, 44150, 44311, 44371, 44379, 44453, 45094, 45156, 45170, 45285, 45311, 45425, 45489, 45602, 45623, 45771, 45821, 45943, 46183, 46189, 46225, 46350, 46560, 46567, 46661, 46701, 46867, 47264, 47366, 47382, 47528, 47949, 47999]

In [17]:
df_usable_data[1460:1485]

,Date_UTC,Time_UTC,Date_CST,Time_CST,File_name_for_1D_lake,File_name_for_2D_lake,Lake_data_1D,data_usable,cloud_count,cloud_exist,...,Atm Press (hPa),Sea Lev Press (hPa),Altimeter (hPa),Precip (in),Wind Chill (F),Heat Index (F),Unnamed: 18,is_snow_precip,is_precip,does_snow_24_120
1460,2006-11-30,20:00,2006-11-30,14:00,goes11.2006.11.30.2000.v01.nc-var1-t0.csv,T_goes11.2006.11.30.2000.v01.nc-var1-t0.csv.csv,"[0.34, 0.3475, 0.35, 0.3225, 0.3375, 0.345, 0....",True,3521,True,...,996.30,1019.80,1019.30,0.00,20,NC,NaN,False,False,True
1461,2006-11-30,21:00,2006-11-30,15:00,goes11.2006.11.30.2100.v01.nc-var1-t0.csv,T_goes11.2006.11.30.2100.v01.nc-var1-t0.csv.csv,"[0.195, 0.21249999, 0.21249999, 0.19999999, 0....",True,3521,True,...,995.70,1019.40,1018.60,0.00,17,NC,NaN,False,False,True
1462,2006-11-30,22:00,2006-11-30,16:00,goes11.2006.11.30.2200.v01.nc-var1-t0.csv,T_goes11.2006.11.30.2200.v01.nc-var1-t0.csv.csv,"[0.035, 0.035, 0.0525, 0.0425, 0.0425, 0.0425,...",True,3521,False,...,996.70,M,1019.60,0.00,19,NC,NaN,False,False,True
1463,2006-11-30,23:00,2006-11-30,17:00,goes11.2006.11.30.2300.v01.nc-var1-t0.csv,T_goes11.2006.11.30.2300.v01.nc-var1-t0.csv.csv,"[nan, nan, 0.0, 0.0075, nan, 0.0025, 0.0, 0.00...",False,3521,False,...,996.70,1020.20,1019.60,0.00,22,NC,NaN,False,False,True
1464,2006-12-01,00:00,2006-11-30,18:00,goes11.2006.12.01.0000.v01.nc-var1-t0.csv,T_goes11.2006.12.01.0000.v01.nc-var1-t0.csv.csv,"[0.0025, nan, 0.0025, 0.0, 0.005, 0.0, 0.0075,...",False,3521,False,...,996.70,1020.50,1019.60,0.00,20,NC,NaN,False,False,True
1465,2006-12-01,01:00,2006-11-30,19:00,goes11.2006.12.01.0100.v01.nc-var1-t0.csv,T_goes11.2006.12.01.0100.v01.nc-var1-t0.csv.csv,"[0.0, nan, 0.005, 0.0025, 0.0075, 0.0025, 0.00...",False,3521,False,...,996.70,1020.50,1019.60,0.00,19,NC,NaN,False,False,True
1466,2006-12-01,02:00,2006-11-30,20:00,goes11.2006.12.01.0200.v01.nc-var1-t0.csv,T_goes11.2006.12.01.0200.v01.nc-var1-t0.csv.csv,"[0.0025, 0.005, nan, 0.0025, nan, 0.0025, nan,...",False,3521,False,...,996.30,1020.00,1019.30,0.00,18,NC,NaN,False,False,True
1467,2006-12-01,03:00,2006-11-30,21:00,goes11.2006.12.01.0300.v01.nc-var1-t0.csv,T_goes11.2006.12.01.0300.v01.nc-var1-t0.csv.csv,"[nan, 0.0025, nan, nan, nan, 0.0025, 0.0, 0.0,...",False,3521,False,...,995.70,1019.60,1018.60,0.00,17,NC,NaN,False,False,True
1468,2006-12-01,04:00,2006-11-30,22:00,goes11.2006.12.01.0400.v01.nc-var1-t0.csv,T_goes11.2006.12.01.0400.v01.nc-var1-t0.csv.csv,"[nan, 0.0025, 0.005, 0.0025, nan, nan, 0.0, 0....",False,3521,False,...,995.70,M,1018.60,0.00,19,NC,NaN,False,False,True
1469,2006-12-01,05:00,2006-11-30,23:00,goes11.2006.12.01.0500.v01.nc-var1-t0.csv,T_goes11.2006.12.01.0500.v01.nc-var1-t0.csv.csv,"[nan, nan, nan, nan, nan, nan, 0.0025, 0.0, 0....",False,3521,False,...,995.30,1019.00,1018.30,0.00,18,NC,NaN,False,False,True
1470,2006-12-01,06:00,2006-12-01,00:00,goes11.2006.12.01.0600.v01.nc-var1-t0.csv,T_goes11.2006.12.01.0600.v01.nc-var1-t0.csv.csv,"[nan, nan, 0.0025, nan, nan, 0.0, nan, 0.0025,...",False,3521,False,...,994.70,1018.30,1017.60,0.00,18,NC,NaN,False,False,True
1471,2006-12-01,07:00,2006-12-01,01:00,goes11.2006.12.01.0700.v01.nc-var1-t0.csv,T_goes11.2006.12.01.0700.v01.nc-var1-t0.csv.csv,"[0.0, nan, 0.005, 0.0025, nan, 0.0025, 0.0025,...",False,3521,False,...,993.30,M,1016.30,0.00,18,NC,NaN,False,False,True
1472,2006-12-01,08:00,2006-12-01,02:00,goes11.2006.12.01.0800.v01.nc-var1-t0.csv,T_goes11.2006.12.01.0800.v01.nc-var1-t0.csv.csv,"[0.0025, nan, 0.01, nan, 0.0075, 0.0, 0.0075, ...",False,3521,False,...,991.70,1015.40,1014.60,0.00,16,NC,NaN,False,False,True
1473,2006-12-01,09:00,2006-12-01,03:00,goes11.2006.12.01.0900.v01.nc-var1-t0.csv,T_goes11.2006.12.01.0900.v01.nc-var1-t0.csv.csv,"[0.0, 0.0075, 0.0, 0.0025, nan, nan, 0.0, nan,...",False,3521,False,...,990.00,M,1012.90,0.00,16,NC,NaN,False,False,True
1474,2006-12-01,10:00,2006-12-01,04:00,goes11.2006.12.01.1000.v01.nc-var1-t0.csv,T_goes11.2006.12.01.1000.v01.nc-var1-t0.csv.csv,"[0.0025, 0.0025, 0.005, nan, 0.0025, nan, nan,...",False,3521,False,...,988.00,1011.70,1010.80,0.00,14,NC,NaN,False,False,True
1475,2006-12-01,11:00,2006-12-01,05:00,goes11.2006.12.01.1100.v01.nc-var1-t0.csv,T_goes11.2006.12.01.1100.v01.nc-var1-t0.csv.csv,"[nan, 0.0025, 0.005, nan, 0.0, 0.0, nan, nan, ...",False,3521,False,...,986.70,1010.40,1009.50,0.00,16,NC,NaN,False,False,True
1476,2006-12-01,12:00,2006-12-01,06:00,goes11.2006.12.01.1200.v01.nc-var1-t0.csv,T_goes11.2006.12.01.1200.v01.nc-var1-t0.csv.csv,"[0.0025, nan, 0.0025, nan, 0.0025, nan, 0.0025...",False,3521,False,...,985.40,1008.80,1008.10,0.00,16,NC,NaN,False,False,True
1477,2006-12-01,13:00,2006-12-01,07:00,goes11.2006.12.01.1300.v01.nc-var1-t0.csv,T_goes11.2006.12.01.1300.v01.nc-var1-t0.csv.csv,"[0.02, 0.03, 0.0325, 0.015, 0.03, 0.02, 0.03, ...",False,3521,False,...,985.00,1008.50,1007.80,0.00,16,NC,NaN,False,False,True
1478,2006-12-01,14:00,2006-12-01,08:00,goes11.2006.12.01.1400.v01.nc-var1-t0.csv,T_goes11.2006.12.01.1400.v01.nc-var1-t0.csv.csv,"[0.235, 0.19749999, 0.1475, 0.185, 0.195, 0.16...",True,3504,True,...,981.00,1004.60,1003.70,0.00,16,NC,NaN,False,False,True
1479,2006-12-01,15:00,2006-12-01,09:00,goes11.2006.12.01.1500.v01.nc-var1-t0.csv,T_goes11.2006.12.01.1500.v01.nc-var1-t0.csv.csv,"[0.21, 0.1775, 0.17999999, 0.26999998, 0.28, 0...",True,3599,True,...,978.70,1002.20,1001.40,0.01,15,NC,NaN,True,True,True
1480,2006-12-01,16:00,2006-12-01,10:00,goes11.2006.12.01.1600.v01.nc-var1-t0.csv,T_goes11.2006.12.01.1600.v01.nc-var1-t0.csv.csv,"[0.39999998, 0.39, 0.39749998, 0.42, 0.42, 0.4...",True,3599,True,...,979.70,1003.00,1002.40,0.04,16,NC,NaN,True,True,True
1481,2006-12-01,17:00,2006-12-01,11:00,goes11.2006.12.01.1700.v01.nc-var1-t0.csv,T_goes11.2006.12.01.1700.v01.nc-var1-t0.csv.csv,"[0.37, 0.36249998, 0.3725, 0.4025, 0.415, 0.43...",True,3599,True,...,979.00,1002.40,1001.70,0.11,M,NC,NaN,True,True,True
1482,2006-12-01,18:00,2006-12-01,12:00,goes11.2006.12.01.1800.v01.nc-var1-t0.csv,T_goes11.2006.12.01.1800.v01.nc-var1-t0.csv.csv,"[0.3175, 0.32999998, 0.3275, 0.36499998, 0.367...",True,3599,True,...,979.00,1002.50,1001.70,0.15,15,NC,NaN,True,True,True
1483,2006-12-01,19:00,2006-12-01,13:00,goes11.2006.12.01.1900.v01.nc-var1-t0.csv,T_goes11.2006.12.01.1900.v01.nc-var1-t0.csv.csv,"[0.265, 0.255, 0.305, 0.31, 0.305, 0.28, 0.352...",True,3599,True,...,978.70,1002.20,1001.40,0.16,16,NC,NaN,True,True,True
1484,2006-12-01,20:00,2006-12-01,14:00,goes11.2006.12.01.2000.v01.nc-var1-t0.csv,T_goes11.2006.12.01.2000.v01.nc-var1-t0.csv.csv,"[0.355, 0.34, 0.31, 0.32999998, 0.32, 0.3125, ...",True,3599,True,...,979.70,1003.00,1002.40,0.05,16,NC,NaN,True,True,True

In [18]:
if cloud_start_lst[0] is None:
    print('Is None.')
    cloud_start_lst[0] = 0


duration_between_cloud_snow = [precip_start_lst[i] - cloud_start_lst[i] for i in range(len(precip_start_lst))]
duration_between_cloud_snow

[56,
 105,
 112,
 118,
 153,
 171,
 35,
 78,
 93,
 150,
 63,
 70,
 31,
 97,
 228,
 235,
 91,
 125,
 130,
 168,
 107,
 28,
 95,
 37,
 46,
 62,
 24,
 27,
 34,
 43,
 16,
 87,
 108,
 689,
 856,
 934,
 948,
 1039,
 1066,
 1158,
 1288,
 13,
 29,
 22,
 132,
 163,
 206,
 212,
 235,
 32,
 25,
 49,
 60,
 84,
 19,
 120,
 154,
 179,
 187,
 379,
 415,
 438,
 117,
 246,
 47,
 9,
 74,
 95,
 38,
 67,
 100,
 117,
 122,
 248,
 444,
 479,
 485,
 550,
 621,
 837,
 910,
 1434,
 1450,
 49,
 61,
 65,
 13,
 160,
 93,
 164,
 198,
 216,
 128,
 135,
 153,
 201,
 232,
 244,
 328,
 404,
 556,
 562,
 573,
 618,
 697,
 754,
 765,
 880,
 897,
 947,
 1003,
 1045,
 1127,
 18,
 37,
 44,
 53,
 64,
 6,
 17,
 108,
 590,
 28,
 34,
 44,
 56,
 180,
 185,
 262,
 389,
 626,
 663,
 1115,
 23,
 75,
 84,
 114,
 121,
 127,
 135,
 477,
 484,
 496,
 522,
 595,
 602,
 606,
 690,
 702,
 721,
 772,
 61,
 83,
 253,
 331,
 395,
 400,
 53,
 298,
 314,
 79,
 17,
 702,
 65,
 100,
 171,
 153,
 26,
 487,
 544,
 560,
 613,
 835,
 1081,
 1240,
 1445,
 1453,
 1729,
 2000,
 2411,
 2551,
 2613,
 2885,
 2984,
 3097,
 3217,
 3431,
 3560,
 3574,
 3708,
 3726,
 3829,
 4157,
 4165,
 4169,
 312,
 325,
 333,
 432,
 454,
 459,
 470,
 589,
 600,
 728,
 782,
 787,
 926,
 945,
 962,
 1200,
 1363,
 1371,
 1482,
 1525,
 1529,
 1541,
 1548,
 1789,
 1805,
 1817,
 1993,
 2153,
 2221,
 2492,
 2606,
 2743,
 2866,
 3197,
 3363,
 3516,
 3632,
 3647,
 3692,
 3818,
 3923,
 4188,
 4197,
 4358,
 38,
 7,
 44,
 92,
 115,
 131,
 138,
 204,
 213,
 394,
 504,
 515,
 536,
 595,
 765,
 803,
 1001,
 1281,
 1289,
 1331,
 1468,
 1616,
 1640,
 1725,
 2246,
 2292,
 2455,
 2555,
 2647,
 2660,
 2697,
 2708,
 2713,
 2726,
 2909,
 2983,
 2990,
 3003,
 3070,
 3076,
 3180,
 3287,
 3293,
 3634,
 3643,
 3656,
 3678,
 3846,
 4139,
 53,
 107,
 141,
 343,
 362,
 389,
 416,
 422,
 465,
 503,
 513,
 549,
 566,
 590,
 720,
 726,
 857,
 931,
 977,
 1117,
 1135,
 1278,
 1320,
 1523,
 1546,
 1645,
 1819,
 1915,
 1920,
 1964,
 35,
 43,
 126,
 253,
 321,
 370,
 510,
 946,
 1019,
 1545,
 1653,
 23,
 40,
 78,
 298,
 313,
 327,
 389,
 393,
 110,
 207,
 247,
 257,
 298,
 303,
 309,
 331,
 358,
 494,
 510,
 536,
 679,
 698,
 1032,
 1220,
 1378,
 1386,
 1417,
 1488,
 151,
 643,
 1031,
 1272,
 1441,
 1764,
 1965,
 2072,
 171,
 177,
 33,
 43,
 102,
 132,
 316,
 64,
 74,
 87,
 139,
 145,
 61,
 60,
 67,
 82,
 86,
 95,
 57,
 268,
 370,
 382,
 108,
 164,
 178,
 208,
 212,
 220,
 244,
 363,
 424,
 487,
 535,
 678,
 685,
 59,
 82,
 137,
 265,
 470,
 525,
 603,
 654,
 673,
 906,
 1323,
 1508,
 1616,
 1632,
 1673,
 1682,
 1858,
 1866,
 1881,
 1950,
 1958,
 2029,
 2044,
 12,
 16,
 37,
 268,
 351,
 383,
 544,
 604,
 612,
 686,
 291,
 353,
 367,
 482,
 508,
 622,
 686,
 799,
 820,
 35,
 85,
 39,
 204,
 210,
 246,
 38,
 248,
 255,
 349,
 389,
 555,
 112,
 214,
 230,
 376,
 194,
 244]

In [19]:
print('# of element in cloud_start_lst:', len(cloud_start_lst))
print('# of element in precip_start_lst:', len(precip_start_lst))

# of element in cloud_start_lst: 460
# of element in precip_start_lst: 460

In [20]:
# Get the corresponding cloud_start
df_cloud_start_rows = df_usable_data.iloc[cloud_start_lst]

# Get the corresponding precip start
df_precip_start_rows = df_usable_data.iloc[precip_start_lst]

In [21]:
df_cloud_start_rows = df_cloud_start_rows.reset_index(drop=True)

df_cloud_start_rows.head(5)

,Date_UTC,Time_UTC,Date_CST,Time_CST,File_name_for_1D_lake,File_name_for_2D_lake,Lake_data_1D,data_usable,cloud_count,cloud_exist,...,Atm Press (hPa),Sea Lev Press (hPa),Altimeter (hPa),Precip (in),Wind Chill (F),Heat Index (F),Unnamed: 18,is_snow_precip,is_precip,does_snow_24_120
0,2006-10-01,20:00,2006-10-01,14:00,goes11.2006.10.01.2000.v01.nc-var1-t0.csv,T_goes11.2006.10.01.2000.v01.nc-var1-t0.csv.csv,"[0.099999994, 0.095, 0.0975, 0.099999994, 0.11...",True,873,True,...,994.70,1017.80,1017.60,0.0,NC,NC,NaN,False,False,False
1,2006-10-06,20:00,2006-10-06,14:00,goes11.2006.10.06.2000.v01.nc-var1-t0.csv,T_goes11.2006.10.06.2000.v01.nc-var1-t0.csv.csv,"[0.1325, 0.1275, 0.11, 0.114999995, 0.09999999...",True,2355,True,...,1007.30,1030.90,1030.50,0.0,NC,NC,NaN,False,False,False
2,2006-10-06,20:00,2006-10-06,14:00,goes11.2006.10.06.2000.v01.nc-var1-t0.csv,T_goes11.2006.10.06.2000.v01.nc-var1-t0.csv.csv,"[0.1325, 0.1275, 0.11, 0.114999995, 0.09999999...",True,2355,True,...,1007.30,1030.90,1030.50,0.0,NC,NC,NaN,False,False,False
3,2006-10-06,20:00,2006-10-06,14:00,goes11.2006.10.06.2000.v01.nc-var1-t0.csv,T_goes11.2006.10.06.2000.v01.nc-var1-t0.csv.csv,"[0.1325, 0.1275, 0.11, 0.114999995, 0.09999999...",True,2355,True,...,1007.30,1030.90,1030.50,0.0,NC,NC,NaN,False,False,False
4,2006-10-06,20:00,2006-10-06,14:00,goes11.2006.10.06.2000.v01.nc-var1-t0.csv,T_goes11.2006.10.06.2000.v01.nc-var1-t0.csv.csv,"[0.1325, 0.1275, 0.11, 0.114999995, 0.09999999...",True,2355,True,...,1007.30,1030.90,1030.50,0.0,NC,NC,NaN,False,False,False

In [22]:
df_precip_start_rows = df_precip_start_rows.reset_index(drop=True)


df_precip_start_rows.head(5)

,Date_UTC,Time_UTC,Date_CST,Time_CST,File_name_for_1D_lake,File_name_for_2D_lake,Lake_data_1D,data_usable,cloud_count,cloud_exist,...,Atm Press (hPa),Sea Lev Press (hPa),Altimeter (hPa),Precip (in),Wind Chill (F),Heat Index (F),Unnamed: 18,is_snow_precip,is_precip,does_snow_24_120
0,2006-10-04,04:00,2006-10-03,22:00,goes11.2006.10.04.0400.v01.nc-var1-t0.csv,T_goes11.2006.10.04.0400.v01.nc-var1-t0.csv.csv,"[0.0025, nan, nan, nan, 0.0025, 0.0025, nan, n...",False,3597,False,...,990.30,1013.20,1013.20,0.61,NC,NC,NaN,False,True,False
1,2006-10-11,05:00,2006-10-10,23:00,goes11.2006.10.11.0500.v01.nc-var1-t0.csv,T_goes11.2006.10.11.0500.v01.nc-var1-t0.csv.csv,"[0.0, nan, nan, nan, 0.0025, 0.01, nan, 0.0025...",False,3597,False,...,983.00,1005.90,1005.80,0.03,NC,NC,NaN,False,True,True
2,2006-10-11,12:00,2006-10-11,06:00,goes11.2006.10.11.1200.v01.nc-var1-t0.csv,T_goes11.2006.10.11.1200.v01.nc-var1-t0.csv.csv,"[0.02, 0.022499999, 0.024999999, 0.03, 0.02249...",True,3597,False,...,973.70,996.60,996.30,0.03,NC,NC,NaN,False,True,True
3,2006-10-11,18:00,2006-10-11,12:00,goes11.2006.10.11.1800.v01.nc-var1-t0.csv,T_goes11.2006.10.11.1800.v01.nc-var1-t0.csv.csv,"[0.585, 0.60249996, 0.6225, 0.64, 0.6775, 0.68...",True,3599,True,...,967.70,990.30,990.20,0.08,NC,NC,NaN,False,True,True
4,2006-10-13,05:00,2006-10-12,23:00,goes11.2006.10.13.0500.v01.nc-var1-t0.csv,T_goes11.2006.10.13.0500.v01.nc-var1-t0.csv.csv,"[0.0, nan, 0.0025, 0.0025, 0.0, 0.0075, 0.01, ...",False,3599,False,...,972.40,995.60,994.90,0.03,26,NC,NaN,False,True,False

In [23]:
df_cloud_start_rows.shape

(460, 30)

In [24]:
df_precip_start_rows.shape

(460, 30)

In [25]:
df_cloud_start_rows = df_cloud_start_rows.rename(columns={col: 'Cloud_Start_' + col for col in df_cloud_start_rows.columns})
df_cloud_start_rows.head(5)

,Cloud_Start_Date_UTC,Cloud_Start_Time_UTC,Cloud_Start_Date_CST,Cloud_Start_Time_CST,Cloud_Start_File_name_for_1D_lake,Cloud_Start_File_name_for_2D_lake,Cloud_Start_Lake_data_1D,Cloud_Start_data_usable,Cloud_Start_cloud_count,Cloud_Start_cloud_exist,...,Cloud_Start_Atm Press (hPa),Cloud_Start_Sea Lev Press (hPa),Cloud_Start_Altimeter (hPa),Cloud_Start_Precip (in),Cloud_Start_Wind Chill (F),Cloud_Start_Heat Index (F),Cloud_Start_Unnamed: 18,Cloud_Start_is_snow_precip,Cloud_Start_is_precip,Cloud_Start_does_snow_24_120
0,2006-10-01,20:00,2006-10-01,14:00,goes11.2006.10.01.2000.v01.nc-var1-t0.csv,T_goes11.2006.10.01.2000.v01.nc-var1-t0.csv.csv,"[0.099999994, 0.095, 0.0975, 0.099999994, 0.11...",True,873,True,...,994.70,1017.80,1017.60,0.0,NC,NC,NaN,False,False,False
1,2006-10-06,20:00,2006-10-06,14:00,goes11.2006.10.06.2000.v01.nc-var1-t0.csv,T_goes11.2006.10.06.2000.v01.nc-var1-t0.csv.csv,"[0.1325, 0.1275, 0.11, 0.114999995, 0.09999999...",True,2355,True,...,1007.30,1030.90,1030.50,0.0,NC,NC,NaN,False,False,False
2,2006-10-06,20:00,2006-10-06,14:00,goes11.2006.10.06.2000.v01.nc-var1-t0.csv,T_goes11.2006.10.06.2000.v01.nc-var1-t0.csv.csv,"[0.1325, 0.1275, 0.11, 0.114999995, 0.09999999...",True,2355,True,...,1007.30,1030.90,1030.50,0.0,NC,NC,NaN,False,False,False
3,2006-10-06,20:00,2006-10-06,14:00,goes11.2006.10.06.2000.v01.nc-var1-t0.csv,T_goes11.2006.10.06.2000.v01.nc-var1-t0.csv.csv,"[0.1325, 0.1275, 0.11, 0.114999995, 0.09999999...",True,2355,True,...,1007.30,1030.90,1030.50,0.0,NC,NC,NaN,False,False,False
4,2006-10-06,20:00,2006-10-06,14:00,goes11.2006.10.06.2000.v01.nc-var1-t0.csv,T_goes11.2006.10.06.2000.v01.nc-var1-t0.csv.csv,"[0.1325, 0.1275, 0.11, 0.114999995, 0.09999999...",True,2355,True,...,1007.30,1030.90,1030.50,0.0,NC,NC,NaN,False,False,False

In [26]:
df_precip_start_rows = df_precip_start_rows.rename(columns={col: 'Precip_Start_' + col for col in df_precip_start_rows.columns})
df_precip_start_rows.head(5)

,Precip_Start_Date_UTC,Precip_Start_Time_UTC,Precip_Start_Date_CST,Precip_Start_Time_CST,Precip_Start_File_name_for_1D_lake,Precip_Start_File_name_for_2D_lake,Precip_Start_Lake_data_1D,Precip_Start_data_usable,Precip_Start_cloud_count,Precip_Start_cloud_exist,...,Precip_Start_Atm Press (hPa),Precip_Start_Sea Lev Press (hPa),Precip_Start_Altimeter (hPa),Precip_Start_Precip (in),Precip_Start_Wind Chill (F),Precip_Start_Heat Index (F),Precip_Start_Unnamed: 18,Precip_Start_is_snow_precip,Precip_Start_is_precip,Precip_Start_does_snow_24_120
0,2006-10-04,04:00,2006-10-03,22:00,goes11.2006.10.04.0400.v01.nc-var1-t0.csv,T_goes11.2006.10.04.0400.v01.nc-var1-t0.csv.csv,"[0.0025, nan, nan, nan, 0.0025, 0.0025, nan, n...",False,3597,False,...,990.30,1013.20,1013.20,0.61,NC,NC,NaN,False,True,False
1,2006-10-11,05:00,2006-10-10,23:00,goes11.2006.10.11.0500.v01.nc-var1-t0.csv,T_goes11.2006.10.11.0500.v01.nc-var1-t0.csv.csv,"[0.0, nan, nan, nan, 0.0025, 0.01, nan, 0.0025...",False,3597,False,...,983.00,1005.90,1005.80,0.03,NC,NC,NaN,False,True,True
2,2006-10-11,12:00,2006-10-11,06:00,goes11.2006.10.11.1200.v01.nc-var1-t0.csv,T_goes11.2006.10.11.1200.v01.nc-var1-t0.csv.csv,"[0.02, 0.022499999, 0.024999999, 0.03, 0.02249...",True,3597,False,...,973.70,996.60,996.30,0.03,NC,NC,NaN,False,True,True
3,2006-10-11,18:00,2006-10-11,12:00,goes11.2006.10.11.1800.v01.nc-var1-t0.csv,T_goes11.2006.10.11.1800.v01.nc-var1-t0.csv.csv,"[0.585, 0.60249996, 0.6225, 0.64, 0.6775, 0.68...",True,3599,True,...,967.70,990.30,990.20,0.08,NC,NC,NaN,False,True,True
4,2006-10-13,05:00,2006-10-12,23:00,goes11.2006.10.13.0500.v01.nc-var1-t0.csv,T_goes11.2006.10.13.0500.v01.nc-var1-t0.csv.csv,"[0.0, nan, 0.0025, 0.0025, 0.0, 0.0075, 0.01, ...",False,3599,False,...,972.40,995.60,994.90,0.03,26,NC,NaN,False,True,False

In [27]:
df_combined_timing = pd.DataFrame({
    'Cloud_Start_Date_UTC': df_cloud_start_rows['Cloud_Start_Date_UTC'],
    'Cloud_Start_Time_UTC': df_cloud_start_rows['Cloud_Start_Time_UTC'],
    'Cloud_Start_Date_CST': df_cloud_start_rows['Cloud_Start_Date_CST'],
    'Cloud_Start_Time_CST': df_cloud_start_rows['Cloud_Start_Time_CST'],
    'Precip_Start_Date_UTC': df_precip_start_rows['Precip_Start_Date_UTC'],
    'Precip_Start_Time_UTC': df_precip_start_rows['Precip_Start_Time_UTC'],
    'Precip_Start_Date_CST': df_precip_start_rows['Precip_Start_Date_CST'],
    'Precip_Start_Time_CST': df_precip_start_rows['Precip_Start_Time_CST']
})
df_combined_timing.head(5)

,Cloud_Start_Date_UTC,Cloud_Start_Time_UTC,Cloud_Start_Date_CST,Cloud_Start_Time_CST,Precip_Start_Date_UTC,Precip_Start_Time_UTC,Precip_Start_Date_CST,Precip_Start_Time_CST
0,2006-10-01,20:00,2006-10-01,14:00,2006-10-04,04:00,2006-10-03,22:00
1,2006-10-06,20:00,2006-10-06,14:00,2006-10-11,05:00,2006-10-10,23:00
2,2006-10-06,20:00,2006-10-06,14:00,2006-10-11,12:00,2006-10-11,06:00
3,2006-10-06,20:00,2006-10-06,14:00,2006-10-11,18:00,2006-10-11,12:00
4,2006-10-06,20:00,2006-10-06,14:00,2006-10-13,05:00,2006-10-12,23:00

In [28]:
df_combined_timing['Duration_of_Snow'] = num_T_lib
df_combined_timing.head(5)

,Cloud_Start_Date_UTC,Cloud_Start_Time_UTC,Cloud_Start_Date_CST,Cloud_Start_Time_CST,Precip_Start_Date_UTC,Precip_Start_Time_UTC,Precip_Start_Date_CST,Precip_Start_Time_CST,Duration_of_Snow
0,2006-10-01,20:00,2006-10-01,14:00,2006-10-04,04:00,2006-10-03,22:00,4
1,2006-10-06,20:00,2006-10-06,14:00,2006-10-11,05:00,2006-10-10,23:00,5
2,2006-10-06,20:00,2006-10-06,14:00,2006-10-11,12:00,2006-10-11,06:00,3
3,2006-10-06,20:00,2006-10-06,14:00,2006-10-11,18:00,2006-10-11,12:00,11
4,2006-10-06,20:00,2006-10-06,14:00,2006-10-13,05:00,2006-10-12,23:00,12

In [29]:
df_combined_timing['Duration_of_cloud_formation'] = duration_between_cloud_snow
# duration_between_cloud_snow

In [30]:
df_combined_timing = df_combined_timing[df_combined_timing['Duration_of_cloud_formation'] <= 72]

In [31]:
df_combined_timing = df_combined_timing[df_combined_timing['Duration_of_cloud_formation'] > 2]

In [32]:
df_combined_timing['Precip_year'] = df_combined_timing['Precip_Start_Date_CST'].str.slice(stop=4)
df_combined_timing.head(5)

,Cloud_Start_Date_UTC,Cloud_Start_Time_UTC,Cloud_Start_Date_CST,Cloud_Start_Time_CST,Precip_Start_Date_UTC,Precip_Start_Time_UTC,Precip_Start_Date_CST,Precip_Start_Time_CST,Duration_of_Snow,Duration_of_cloud_formation,Precip_year
0,2006-10-01,20:00,2006-10-01,14:00,2006-10-04,04:00,2006-10-03,22:00,4,56,2006
6,2006-10-15,18:00,2006-10-15,12:00,2006-10-17,05:00,2006-10-16,23:00,14,35,2006
10,2006-10-25,18:00,2006-10-25,12:00,2006-10-28,09:00,2006-10-28,03:00,6,63,2006
11,2006-10-25,18:00,2006-10-25,12:00,2006-10-28,16:00,2006-10-28,10:00,4,70,2006
12,2006-11-09,18:00,2006-11-09,12:00,2006-11-11,01:00,2006-11-10,19:00,5,31,2006

In [33]:
df_combined_timing.shape

(69, 11)

In [38]:
import plotly.express as px

fig = px.histogram(df_combined_timing, x="Duration_of_cloud_formation", nbins = 15, title="Duration of Cloud Formation at " + str(station_ID_num))
fig.update_layout(xaxis_title="# of cloud formation", yaxis_title="# of precip events")
fig.update_traces(marker_color="rgb(0, 128, 255)", texttemplate='%{y}', textposition='outside')
fig.show()
fig.write_image('hist_'+station_ID_num+'_duration_of_cloud_formation.png')

In [35]:
import plotly.express as px

fig = px.histogram(df_combined_timing, x="Duration_of_Snow", nbins = 20, title="Duration of Precip Events at " + str(station_ID_num))
fig.update_layout(xaxis_title="# of hours of precip", yaxis_title="# of Precip events")
fig.update_traces(marker_color="rgb(0, 128, 255)", texttemplate='%{y}', textposition='outside')
fig.show()
fig.write_image('hist_'+station_ID_num+'.png')

In [36]:
output_dir = 'output/histo_precip/'
output_csv_name = station_ID_num+'_Precip_Events.csv'

output_file_path = os.path.join(output_dir, output_csv_name)

df_combined_timing.to_csv(output_file_path, index=False)

In [37]:
output_csv_name

'14850_Precip_Events.csv'