In [1]:
import pandas
import os

In [2]:
# Important, make sure to use the correct file
filename = 'IL-94846-2013Fall-2014Spring.csv'
temp_table = pandas.read_csv('NSW_Weather/Orig/'+filename, skiprows = 8, skipfooter = 15)

/var/folders/4t/149nbbmd1ld5bgsf5k4x9_bc0000gn/T/ipykernel_47584/2927650844.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  temp_table = pandas.read_csv('NSW_Weather/Orig/'+filename, skiprows = 8, skipfooter = 15)

In [3]:
start_year = int(filename[9:13])
end_year = int(filename[18:22])
STATE_ID = filename[0:2]
weather_station = filename[3:8]

In [4]:
temp_table

,Date,Time,Temp (F),RH (%),Dewpt (F),Wind Spd (mph),Wind Direction (deg),Peak Wind Gust(mph),Low Cloud Ht (ft),Med Cloud Ht (ft),High Cloud Ht (ft),Visibility (mi),Atm Press (hPa),Sea Lev Press (hPa),Altimeter (hPa),Precip (in),Wind Chill (F),Heat Index (F),Unnamed: 18
0,2013-10-01,00:51,63,80,57,10,210,m,M,m,m,10,988.10,1012.40,1012.50,0.00,NC,NC,NaN
1,2013-10-01,01:51,63,83,58,9,210,m,M,m,m,10,988.50,1012.70,1012.90,0.00,NC,NC,NaN
2,2013-10-01,02:51,62,89,59,8,210,m,M,m,m,10,988.50,1012.50,1012.90,0.00,NC,NC,NaN
3,2013-10-01,03:51,62,93,60,9,210,m,700,m,m,10,988.80,1012.80,1013.20,0.00,NC,NC,NaN
4,2013-10-01,04:51,62,93,60,11,210,m,700,m,m,9,988.80,1013.00,1013.20,0.00,NC,NC,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4362,2014-03-31,19:51,60,34,32,25,170,34,5500,8000,m,10,982.80,1007.00,1007.10,0.00,NC,NC,NaN
4363,2014-03-31,20:51,59,35,32,20,170,M,8500,m,m,10,982.20,1006.30,1006.40,0.00,NC,NC,NaN
4364,2014-03-31,21:51,56,48,37,18,180,30,6000,8000,10000,10,982.20,1006.50,1006.40,0.00,NC,NC,NaN
4365,2014-03-31,22:51,53,54,37,14,170,m,7000,20000,m,10,981.80,1006.00,1006.10,0.00,NC,NC,NaN
4366,2014-03-31,23:51,54,52,37,13,180,21,7500,m,m,10,980.80,1005.00,1005.10,0.00,NC,NC,NaN

**Optional:**
You might have noticed that there is an empty column at the end of the table, since the footer of the weather station data contains extra words at the end. Therefore, it would be the best to drop it, but it is optional.

In [5]:
try:
    temp_table = temp_table.drop('Unnamed: 18', axis = 1)
    print('Empty Column at the end is dropped.')
except:
    print('Nothing to be dropped here.')

Empty Column at the end is dropped.

### Generate all possible time stamps

In [6]:
from datetime import timedelta, date

def daterange(date1, date2):
    for n in range(int ((date2 - date1).days) + 1):
        yield date1 + timedelta(n)

In [7]:
start_dt = date(start_year, 10, 1)
end_dt = date(end_year, 3, 31)

In [8]:
# Testing
for dt in daterange(start_dt, end_dt):
    print(dt.strftime("%Y%m%d"))

20131001
20131002
20131003
20131004
20131005
20131006
20131007
20131008
20131009
20131010
20131011
20131012
20131013
20131014
20131015
20131016
20131017
20131018
20131019
20131020
20131021
20131022
20131023
20131024
20131025
20131026
20131027
20131028
20131029
20131030
20131031
20131101
20131102
20131103
20131104
20131105
20131106
20131107
20131108
20131109
20131110
20131111
20131112
20131113
20131114
20131115
20131116
20131117
20131118
20131119
20131120
20131121
20131122
20131123
20131124
20131125
20131126
20131127
20131128
20131129
20131130
20131201
20131202
20131203
20131204
20131205
20131206
20131207
20131208
20131209
20131210
20131211
20131212
20131213
20131214
20131215
20131216
20131217
20131218
20131219
20131220
20131221
20131222
20131223
20131224
20131225
20131226
20131227
20131228
20131229
20131230
20131231
20140101
20140102
20140103
20140104
20140105
20140106
20140107
20140108
20140109
20140110
20140111
20140112
20140113
20140114
20140115
20140116
20140117
20140118
20140119
20140120
20140121
20140122
20140123
20140124
20140125
20140126
20140127
20140128
20140129
20140130
20140131
20140201
20140202
20140203
20140204
20140205
20140206
20140207
20140208
20140209
20140210
20140211
20140212
20140213
20140214
20140215
20140216
20140217
20140218
20140219
20140220
20140221
20140222
20140223
20140224
20140225
20140226
20140227
20140228
20140301
20140302
20140303
20140304
20140305
20140306
20140307
20140308
20140309
20140310
20140311
20140312
20140313
20140314
20140315
20140316
20140317
20140318
20140319
20140320
20140321
20140322
20140323
20140324
20140325
20140326
20140327
20140328
20140329
20140330
20140331

In [9]:
weather_date_theo = [dt.strftime("%Y%m%d") for dt in daterange(start_dt, end_dt)]

In [10]:
# One more inspection
weather_date_theo

['20131001',
 '20131002',
 '20131003',
 '20131004',
 '20131005',
 '20131006',
 '20131007',
 '20131008',
 '20131009',
 '20131010',
 '20131011',
 '20131012',
 '20131013',
 '20131014',
 '20131015',
 '20131016',
 '20131017',
 '20131018',
 '20131019',
 '20131020',
 '20131021',
 '20131022',
 '20131023',
 '20131024',
 '20131025',
 '20131026',
 '20131027',
 '20131028',
 '20131029',
 '20131030',
 '20131031',
 '20131101',
 '20131102',
 '20131103',
 '20131104',
 '20131105',
 '20131106',
 '20131107',
 '20131108',
 '20131109',
 '20131110',
 '20131111',
 '20131112',
 '20131113',
 '20131114',
 '20131115',
 '20131116',
 '20131117',
 '20131118',
 '20131119',
 '20131120',
 '20131121',
 '20131122',
 '20131123',
 '20131124',
 '20131125',
 '20131126',
 '20131127',
 '20131128',
 '20131129',
 '20131130',
 '20131201',
 '20131202',
 '20131203',
 '20131204',
 '20131205',
 '20131206',
 '20131207',
 '20131208',
 '20131209',
 '20131210',
 '20131211',
 '20131212',
 '20131213',
 '20131214',
 '20131215',
 '20131216',
 '20131217',
 '20131218',
 '20131219',
 '20131220',
 '20131221',
 '20131222',
 '20131223',
 '20131224',
 '20131225',
 '20131226',
 '20131227',
 '20131228',
 '20131229',
 '20131230',
 '20131231',
 '20140101',
 '20140102',
 '20140103',
 '20140104',
 '20140105',
 '20140106',
 '20140107',
 '20140108',
 '20140109',
 '20140110',
 '20140111',
 '20140112',
 '20140113',
 '20140114',
 '20140115',
 '20140116',
 '20140117',
 '20140118',
 '20140119',
 '20140120',
 '20140121',
 '20140122',
 '20140123',
 '20140124',
 '20140125',
 '20140126',
 '20140127',
 '20140128',
 '20140129',
 '20140130',
 '20140131',
 '20140201',
 '20140202',
 '20140203',
 '20140204',
 '20140205',
 '20140206',
 '20140207',
 '20140208',
 '20140209',
 '20140210',
 '20140211',
 '20140212',
 '20140213',
 '20140214',
 '20140215',
 '20140216',
 '20140217',
 '20140218',
 '20140219',
 '20140220',
 '20140221',
 '20140222',
 '20140223',
 '20140224',
 '20140225',
 '20140226',
 '20140227',
 '20140228',
 '20140301',
 '20140302',
 '20140303',
 '20140304',
 '20140305',
 '20140306',
 '20140307',
 '20140308',
 '20140309',
 '20140310',
 '20140311',
 '20140312',
 '20140313',
 '20140314',
 '20140315',
 '20140316',
 '20140317',
 '20140318',
 '20140319',
 '20140320',
 '20140321',
 '20140322',
 '20140323',
 '20140324',
 '20140325',
 '20140326',
 '20140327',
 '20140328',
 '20140329',
 '20140330',
 '20140331']

### Check if any missing values

In [11]:
range_day_count = len(weather_date_theo)
print('There are supposed to be {0} days in the given period.'.format(range_day_count))

There are supposed to be 182 days in the given period.

In [12]:
range_hour_count = range_day_count * 24
print('There are supposed to be {0} hours in total in the given period.'.format(range_hour_count))

There are supposed to be 4368 hours in total in the given period.

#### Do notice that the weather station data, we would need to round the timestamp to the nearest hour.

In [13]:
# Pad it out to 24 hours
import itertools

csv_date_list = list(itertools.chain.from_iterable(itertools.repeat(x, 24) for x in weather_date_theo))

In [14]:
len(csv_date_list)

4368

### Create the list of hours

In [15]:
hour_lib = ['00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00', '09:00', 
            '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00',
            '18:00', '19:00', '20:00', '21:00', '22:00', '23:00']

In [16]:
csv_time_list = hour_lib * len(weather_date_theo)

In [17]:
# Inspection only
csv_time_list

['00:00',
 '01:00',
 '02:00',
 '03:00',
 '04:00',
 '05:00',
 '06:00',
 '07:00',
 '08:00',
 '09:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 '16:00',
 '17:00',
 '18:00',
 '19:00',
 '20:00',
 '21:00',
 '22:00',
 '23:00',
 '00:00',
 '01:00',
 '02:00',
 '03:00',
 '04:00',
 '05:00',
 '06:00',
 '07:00',
 '08:00',
 '09:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 '16:00',
 '17:00',
 '18:00',
 '19:00',
 '20:00',
 '21:00',
 '22:00',
 '23:00',
 '00:00',
 '01:00',
 '02:00',
 '03:00',
 '04:00',
 '05:00',
 '06:00',
 '07:00',
 '08:00',
 '09:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 '16:00',
 '17:00',
 '18:00',
 '19:00',
 '20:00',
 '21:00',
 '22:00',
 '23:00',
 '00:00',
 '01:00',
 '02:00',
 '03:00',
 '04:00',
 '05:00',
 '06:00',
 '07:00',
 '08:00',
 '09:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 '16:00',
 '17:00',
 '18:00',
 '19:00',
 '20:00',
 '21:00',
 '22:00',
 '23:00',
 '00:00',
 '01:00',
 '02:00',
 '03:00',
 '04:00',
 '05:00',
 '06:00',
 '07:00',
 '08:00',
 '09:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 '16:00',
 '17:00',
 '18:00',
 '19:00',
 '20:00',
 '21:00',
 '22:00',
 '23:00',
 '00:00',
 '01:00',
 '02:00',
 '03:00',
 '04:00',
 '05:00',
 '06:00',
 '07:00',
 '08:00',
 '09:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 '16:00',
 '17:00',
 '18:00',
 '19:00',
 '20:00',
 '21:00',
 '22:00',
 '23:00',
 '00:00',
 '01:00',
 '02:00',
 '03:00',
 '04:00',
 '05:00',
 '06:00',
 '07:00',
 '08:00',
 '09:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 '16:00',
 '17:00',
 '18:00',
 '19:00',
 '20:00',
 '21:00',
 '22:00',
 '23:00',
 '00:00',
 '01:00',
 '02:00',
 '03:00',
 '04:00',
 '05:00',
 '06:00',
 '07:00',
 '08:00',
 '09:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 '16:00',
 '17:00',
 '18:00',
 '19:00',
 '20:00',
 '21:00',
 '22:00',
 '23:00',
 '00:00',
 '01:00',
 '02:00',
 '03:00',
 '04:00',
 '05:00',
 '06:00',
 '07:00',
 '08:00',
 '09:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 '16:00',
 '17:00',
 '18:00',
 '19:00',
 '20:00',
 '21:00',
 '22:00',
 '23:00',
 '00:00',
 '01:00',
 '02:00',
 '03:00',
 '04:00',
 '05:00',
 '06:00',
 '07:00',
 '08:00',
 '09:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 '16:00',
 '17:00',
 '18:00',
 '19:00',
 '20:00',
 '21:00',
 '22:00',
 '23:00',
 '00:00',
 '01:00',
 '02:00',
 '03:00',
 '04:00',
 '05:00',
 '06:00',
 '07:00',
 '08:00',
 '09:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 '16:00',
 '17:00',
 '18:00',
 '19:00',
 '20:00',
 '21:00',
 '22:00',
 '23:00',
 '00:00',
 '01:00',
 '02:00',
 '03:00',
 '04:00',
 '05:00',
 '06:00',
 '07:00',
 '08:00',
 '09:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 '16:00',
 '17:00',
 '18:00',
 '19:00',
 '20:00',
 '21:00',
 '22:00',
 '23:00',
 '00:00',
 '01:00',
 '02:00',
 '03:00',
 '04:00',
 '05:00',
 '06:00',
 '07:00',
 '08:00',
 '09:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 '16:00',
 '17:00',
 '18:00',
 '19:00',
 '20:00',
 '21:00',
 '22:00',
 '23:00',
 '00:00',
 '01:00',
 '02:00',
 '03:00',
 '04:00',
 '05:00',
 '06:00',
 '07:00',
 '08:00',
 '09:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 '16:00',
 '17:00',
 '18:00',
 '19:00',
 '20:00',
 '21:00',
 '22:00',
 '23:00',
 '00:00',
 '01:00',
 '02:00',
 '03:00',
 '04:00',
 '05:00',
 '06:00',
 '07:00',
 '08:00',
 '09:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 '16:00',
 '17:00',
 '18:00',
 '19:00',
 '20:00',
 '21:00',
 '22:00',
 '23:00',
 '00:00',
 '01:00',
 '02:00',
 '03:00',
 '04:00',
 '05:00',
 '06:00',
 '07:00',
 '08:00',
 '09:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 '16:00',
 '17:00',
 '18:00',
 '19:00',
 '20:00',
 '21:00',
 '22:00',
 '23:00',
 '00:00',
 '01:00',
 '02:00',
 '03:00',
 '04:00',
 '05:00',
 '06:00',
 '07:00',
 '08:00',
 '09:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 '16:00',
 '17:00',
 '18:00',
 '19:00',
 '20:00',
 '21:00',
 '22:00',
 '23:00',
 '00:00',
 '01:00',
 '02:00',
 '03:00',
 '04:00',
 '05:00',
 '06:00',
 '07:00',
 '08:00',
 '09:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 '16:00',
 '17:00',
 '18:00',
 '19:00',
 '20:00',
 '21:00',
 '22:00',
 '23:00',
 '00:00',
 '01:00',
 '02:00',
 '03:00',
 '04:00',
 '05:00',
 '06:00',
 '07:00',
 '08:00',
 '09:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 '16:00',
 '17:00',
 '18:00',
 '19:00',
 '20:00',
 '21:00',
 '22:00',
 '23:00',
 '00:00',
 '01:00',
 '02:00',
 '03:00',
 '04:00',
 '05:00',
 '06:00',
 '07:00',
 '08:00',
 '09:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 '16:00',
 '17:00',
 '18:00',
 '19:00',
 '20:00',
 '21:00',
 '22:00',
 '23:00',
 '00:00',
 '01:00',
 '02:00',
 '03:00',
 '04:00',
 '05:00',
 '06:00',
 '07:00',
 '08:00',
 '09:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 '16:00',
 '17:00',
 '18:00',
 '19:00',
 '20:00',
 '21:00',
 '22:00',
 '23:00',
 '00:00',
 '01:00',
 '02:00',
 '03:00',
 '04:00',
 '05:00',
 '06:00',
 '07:00',
 '08:00',
 '09:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 '16:00',
 '17:00',
 '18:00',
 '19:00',
 '20:00',
 '21:00',
 '22:00',
 '23:00',
 '00:00',
 '01:00',
 '02:00',
 '03:00',
 '04:00',
 '05:00',
 '06:00',
 '07:00',
 '08:00',
 '09:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 '16:00',
 '17:00',
 '18:00',
 '19:00',
 '20:00',
 '21:00',
 '22:00',
 '23:00',
 '00:00',
 '01:00',
 '02:00',
 '03:00',
 '04:00',
 '05:00',
 '06:00',
 '07:00',
 '08:00',
 '09:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 '16:00',
 '17:00',
 '18:00',
 '19:00',
 '20:00',
 '21:00',
 '22:00',
 '23:00',
 '00:00',
 '01:00',
 '02:00',
 '03:00',
 '04:00',
 '05:00',
 '06:00',
 '07:00',
 '08:00',
 '09:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 '16:00',
 '17:00',
 '18:00',
 '19:00',
 '20:00',
 '21:00',
 '22:00',
 '23:00',
 '00:00',
 '01:00',
 '02:00',
 '03:00',
 '04:00',
 '05:00',
 '06:00',
 '07:00',
 '08:00',
 '09:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 '16:00',
 '17:00',
 '18:00',
 '19:00',
 '20:00',
 '21:00',
 '22:00',
 '23:00',
 '00:00',
 '01:00',
 '02:00',
 '03:00',
 '04:00',
 '05:00',
 '06:00',
 '07:00',
 '08:00',
 '09:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 '16:00',
 '17:00',
 '18:00',
 '19:00',
 '20:00',
 '21:00',
 '22:00',
 '23:00',
 '00:00',
 '01:00',
 '02:00',
 '03:00',
 '04:00',
 '05:00',
 '06:00',
 '07:00',
 '08:00',
 '09:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 '16:00',
 '17:00',
 '18:00',
 '19:00',
 '20:00',
 '21:00',
 '22:00',
 '23:00',
 '00:00',
 '01:00',
 '02:00',
 '03:00',
 '04:00',
 '05:00',
 '06:00',
 '07:00',
 '08:00',
 '09:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 '16:00',
 '17:00',
 '18:00',
 '19:00',
 '20:00',
 '21:00',
 '22:00',
 '23:00',
 '00:00',
 '01:00',
 '02:00',
 '03:00',
 '04:00',
 '05:00',
 '06:00',
 '07:00',
 '08:00',
 '09:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 '16:00',
 '17:00',
 '18:00',
 '19:00',
 '20:00',
 '21:00',
 '22:00',
 '23:00',
 '00:00',
 '01:00',
 '02:00',
 '03:00',
 '04:00',
 '05:00',
 '06:00',
 '07:00',
 '08:00',
 '09:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 '16:00',
 '17:00',
 '18:00',
 '19:00',
 '20:00',
 '21:00',
 '22:00',
 '23:00',
 '00:00',
 '01:00',
 '02:00',
 '03:00',
 '04:00',
 '05:00',
 '06:00',
 '07:00',
 '08:00',
 '09:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 '16:00',
 '17:00',
 '18:00',
 '19:00',
 '20:00',
 '21:00',
 '22:00',
 '23:00',
 '00:00',
 '01:00',
 '02:00',
 '03:00',
 '04:00',
 '05:00',
 '06:00',
 '07:00',
 '08:00',
 '09:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 '16:00',
 '17:00',
 '18:00',
 '19:00',
 '20:00',
 '21:00',
 '22:00',
 '23:00',
 '00:00',
 '01:00',
 '02:00',
 '03:00',
 '04:00',
 '05:00',
 '06:00',
 '07:00',
 '08:00',
 '09:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 '16:00',
 '17:00',
 '18:00',
 '19:00',
 '20:00',
 '21:00',
 '22:00',
 '23:00',
 '00:00',
 '01:00',
 '02:00',
 '03:00',
 '04:00',
 '05:00',
 '06:00',
 '07:00',
 '08:00',
 '09:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 '16:00',
 '17:00',
 '18:00',
 '19:00',
 '20:00',
 '21:00',
 '22:00',
 '23:00',
 '00:00',
 '01:00',
 '02:00',
 '03:00',
 '04:00',
 '05:00',
 '06:00',
 '07:00',
 '08:00',
 '09:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 '16:00',
 '17:00',
 '18:00',
 '19:00',
 '20:00',
 '21:00',
 '22:00',
 '23:00',
 '00:00',
 '01:00',
 '02:00',
 '03:00',
 '04:00',
 '05:00',
 '06:00',
 '07:00',
 '08:00',
 '09:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 '16:00',
 '17:00',
 '18:00',
 '19:00',
 '20:00',
 '21:00',
 '22:00',
 '23:00',
 '00:00',
 '01:00',
 '02:00',
 '03:00',
 '04:00',
 '05:00',
 '06:00',
 '07:00',
 '08:00',
 '09:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 '16:00',
 '17:00',
 '18:00',
 '19:00',
 '20:00',
 '21:00',
 '22:00',
 '23:00',
 '00:00',
 '01:00',
 '02:00',
 '03:00',
 '04:00',
 '05:00',
 '06:00',
 '07:00',
 '08:00',
 '09:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 '16:00',
 '17:00',
 '18:00',
 '19:00',
 '20:00',
 '21:00',
 '22:00',
 '23:00',
 '00:00',
 '01:00',
 '02:00',
 '03:00',
 '04:00',
 '05:00',
 '06:00',
 '07:00',
 '08:00',
 '09:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 '16:00',
 '17:00',
 '18:00',
 '19:00',
 '20:00',
 '21:00',
 '22:00',
 '23:00',
 '00:00',
 '01:00',
 '02:00',
 '03:00',
 '04:00',
 '05:00',
 '06:00',
 '07:00',
 '08:00',
 '09:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 '16:00',
 '17:00',
 '18:00',
 '19:00',
 '20:00',
 '21:00',
 '22:00',
 '23:00',
 '00:00',
 '01:00',
 '02:00',
 '03:00',
 '04:00',
 '05:00',
 '06:00',
 '07:00',
 '08:00',
 '09:00',
 '10:00',
 '11:00',
 '12:00',
 '13:00',
 '14:00',
 '15:00',
 ...]

### Round up the time stamp to the nearest hour

In [18]:
# from math import floor

# def round_down_time(time):
#     hours, minutes = time.split(':')
#     hours = int(hours)
#     minutes = int(minutes)

#     if minutes > 30:
#         hours += 1
#         if hours == 24:hours=0

#     return '{}:00'.format(floor(hours))

# rounded_time = round_down_time('6:21')
# print(rounded_time)  # Output: '6:00'

# rounded_time = round_down_time('6:51')
# print(rounded_time)  # Output: '7:00'

In [19]:
# temp_table['Time'][0]

In [20]:
# rounded_time = list(round_down_time(x) for x in temp_table['Time'])

In [21]:
# Quick inspection
# rounded_time

In [22]:
# temp_table['Time_CST'] = rounded_time

**We need to notice that there are 2 possible timezones in this case, one is `Central Standard Time`, another one is `Eastern Standard Time`. For states in Illinois and Wisconsin, there is no need to change the date and time after converting the timestamp to the nearest hour. However, due to the timezone difference in other states such as Michigan, you will need to dial back the time by one hour to convert it to Central Standard Time without Daylight Savings.**

There is 1 hour difference. Therefore, we rely on one parameter `STATE`, which extracts the first 2 letters of the file name, to properly align the time stamps together.

In [23]:
## Extract the state indicator
STATE_2_LTR = filename[:2]

In [24]:
# Inspection
print('The weather station is from', STATE_2_LTR)

The weather station is from IL

In [25]:
# tester = weather_date_theo[:5]
# tester.pop(0)
# tester

In [26]:
# tester.append(str(int(tester[-1])+1))
# tester

In [27]:
import math
from datetime import datetime, timedelta

def round_datetime_to_nearest_hour(obj_arr, STATE_ID):
    arr_len = len(obj_arr)
    Date_CST = []
    Time_CST = []
    for i in range(arr_len):
        # iterate through
        date_item = obj_arr['Date'][i]
        time_item = obj_arr['Time'][i]
        t = datetime.strptime(date_item + " " + time_item, "%Y-%m-%d %H:%M")
        # Calculate the number of minutes past the last full hour
        minutes_past_hour = t.minute + t.second / 60
        # Round up to the next whole number of hours if the time is more than 30 minutes past the hour,
        # or round down to the current hour if it's less than 30 minutes past
        if minutes_past_hour >= 30:
            num_hours = math.ceil(minutes_past_hour / 60)
        else:
            num_hours = 0
        # Create a new datetime object representing the rounded time
        if STATE_ID in ['IL', 'WI']:
            # No need to dial back one hour
            rounded_time_temp = t + timedelta(hours=num_hours)
        else:
            rounded_time_temp = t + timedelta(hours=num_hours-1)
        rounded_time=datetime(year=rounded_time_temp.year,
                         month=rounded_time_temp.month,
                         day=rounded_time_temp.day,
                         hour=rounded_time_temp.hour, minute=0, second=0)
        result_stamp = rounded_time.strftime("%Y%m%d %H:%M")
        
        new_date, new_time = result_stamp.split(' ')
        Date_CST.append(new_date)
        Time_CST.append(new_time)
        
    obj_arr['Date_CST'] = Date_CST
    obj_arr['Time_CST'] = Time_CST
    return obj_arr

**We need to notice that there are 2 possible timezones in this case, one is `Central Standard Time`, another one is `Eastern Standard Time`**

There is 1 hour difference. Therefore, we rely on one parameter `STATE`, which extracts the first 2 letters of the file name, to properly align the time stamps together.

### Add the rounded time into the weather station data

In [28]:
# Example usage
weather_with_CST = round_datetime_to_nearest_hour(temp_table, STATE_ID)

In [29]:
# Perform inspection
weather_with_CST.head(10)
# Make sure you scroll to the right to check the newly added data

,Date,Time,Temp (F),RH (%),Dewpt (F),Wind Spd (mph),Wind Direction (deg),Peak Wind Gust(mph),Low Cloud Ht (ft),Med Cloud Ht (ft),High Cloud Ht (ft),Visibility (mi),Atm Press (hPa),Sea Lev Press (hPa),Altimeter (hPa),Precip (in),Wind Chill (F),Heat Index (F),Date_CST,Time_CST
0,2013-10-01,00:51,63,80,57,10,210,m,M,m,m,10,988.10,1012.40,1012.50,0.00,NC,NC,20131001,01:00
1,2013-10-01,01:51,63,83,58,9,210,m,M,m,m,10,988.50,1012.70,1012.90,0.00,NC,NC,20131001,02:00
2,2013-10-01,02:51,62,89,59,8,210,m,M,m,m,10,988.50,1012.50,1012.90,0.00,NC,NC,20131001,03:00
3,2013-10-01,03:51,62,93,60,9,210,m,700,m,m,10,988.80,1012.80,1013.20,0.00,NC,NC,20131001,04:00
4,2013-10-01,04:51,62,93,60,11,210,m,700,m,m,9,988.80,1013.00,1013.20,0.00,NC,NC,20131001,05:00
5,2013-10-01,05:51,63,93,61,11,210,m,700,m,m,7,989.10,1013.50,1013.50,0.00,NC,NC,20131001,06:00
6,2013-10-01,06:51,64,93,62,15,210,21,700,m,m,6,989.80,1014.00,1014.20,0.00,NC,NC,20131001,07:00
7,2013-10-01,07:51,66,89,63,13,210,22,900,m,m,8,989.80,1014.10,1014.20,0.00,NC,NC,20131001,08:00
8,2013-10-01,08:51,67,87,63,14,220,m,900,m,m,9,989.80,1014.10,1014.20,0.00,NC,NC,20131001,09:00
9,2013-10-01,09:51,69,80,63,13,210,m,1100,m,m,9,989.80,1013.90,1014.20,0.00,NC,NC,20131001,10:00

#### Convert to Pandas series for easy computation

In [30]:
Date_CST = pandas.Series(csv_date_list, name = 'Date_CST')
Date_CST

0       20131001
1       20131001
2       20131001
3       20131001
4       20131001
          ...
4363    20140331
4364    20140331
4365    20140331
4366    20140331
4367    20140331
Name: Date_CST, Length: 4368, dtype: object

In [31]:
Time_CST = pandas.Series(csv_time_list, name = 'Time_CST')
Time_CST

0       00:00
1       01:00
2       02:00
3       03:00
4       04:00
        ...
4363    19:00
4364    20:00
4365    21:00
4366    22:00
4367    23:00
Name: Time_CST, Length: 4368, dtype: object

In [32]:
df_Reference_Date_Time = pandas.merge(Date_CST, Time_CST, right_index = True,
               left_index = True)
df_Reference_Date_Time

      Date_CST Time_CST
0     20131001    00:00
1     20131001    01:00
2     20131001    02:00
3     20131001    03:00
4     20131001    04:00
...        ...      ...
4363  20140331    19:00
4364  20140331    20:00
4365  20140331    21:00
4366  20140331    22:00
4367  20140331    23:00

[4368 rows x 2 columns]

`df_Reference_Date_Time` contains all the possible date and time within the given period of the weather station data. In next step, we are going to perform `join` operation to merge the weather station data and the GOES satellite imagery data.

In [33]:
df_time_and_weather = pandas.merge(df_Reference_Date_Time, weather_with_CST, how = 'left', on = ['Date_CST','Time_CST'])

In [34]:
# Perform inspection
df_time_and_weather.head(10)

,Date_CST,Time_CST,Date,Time,Temp (F),RH (%),Dewpt (F),Wind Spd (mph),Wind Direction (deg),Peak Wind Gust(mph),Low Cloud Ht (ft),Med Cloud Ht (ft),High Cloud Ht (ft),Visibility (mi),Atm Press (hPa),Sea Lev Press (hPa),Altimeter (hPa),Precip (in),Wind Chill (F),Heat Index (F)
0,20131001,00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20131001,01:00,2013-10-01,00:51,63,80,57,10,210,m,M,m,m,10,988.10,1012.40,1012.50,0.00,NC,NC
2,20131001,02:00,2013-10-01,01:51,63,83,58,9,210,m,M,m,m,10,988.50,1012.70,1012.90,0.00,NC,NC
3,20131001,03:00,2013-10-01,02:51,62,89,59,8,210,m,M,m,m,10,988.50,1012.50,1012.90,0.00,NC,NC
4,20131001,04:00,2013-10-01,03:51,62,93,60,9,210,m,700,m,m,10,988.80,1012.80,1013.20,0.00,NC,NC
5,20131001,05:00,2013-10-01,04:51,62,93,60,11,210,m,700,m,m,9,988.80,1013.00,1013.20,0.00,NC,NC
6,20131001,06:00,2013-10-01,05:51,63,93,61,11,210,m,700,m,m,7,989.10,1013.50,1013.50,0.00,NC,NC
7,20131001,07:00,2013-10-01,06:51,64,93,62,15,210,21,700,m,m,6,989.80,1014.00,1014.20,0.00,NC,NC
8,20131001,08:00,2013-10-01,07:51,66,89,63,13,210,22,900,m,m,8,989.80,1014.10,1014.20,0.00,NC,NC
9,20131001,09:00,2013-10-01,08:51,67,87,63,14,220,m,900,m,m,9,989.80,1014.10,1014.20,0.00,NC,NC

#### Note:

When it comes to the abbr in the table:

`m` or `M`: Data is missing
`NC`: Wind Chill/Heat Index do not meet the required thresholds to be calculated.

### Merge GOES Satellite Imagery Data

There are 2 parts of the data that need to be merged together: one is the hourly statistics, another one is the observation data based on the hourly imagery. The first piece of data gives you the information regarding the coverage of the cloud which is visible above the Lake Michigan. The second piece of data tells you whether the visible information is reliable, and if the Lake-Effect Snow cloud can be seen above the lake in the given hour.

#### Merge Statistical Data

In [35]:
df_Hourly_Statistics = pandas.read_csv('GOES_Hourly_Statistics/Results_From_Step_3/cst_binned_lat_lon_opencv_13f14s_lake_0.csv', dtype = str)

In [36]:
types_dict = {'Mean': float, 'Centroid_lon': float, 'Std_lon': float, 
              'Std_lat': float, 'Skewness_lon': float, 'Skewness_lat': float, 
              'Kurtosis_lon': float, 'Kurtosis_lat': float, 'Sample Number': int}

for col, col_type in types_dict.items():
    df_Hourly_Statistics[col] = df_Hourly_Statistics[col].astype(col_type)

In [37]:
# Just to confirm the data type of a couple critical columns
type(df_Hourly_Statistics['CST_Time'][6])   # Should be string

str

In [38]:
type(df_Hourly_Statistics['Std_lon'][6])    # Should be float

numpy.float64

In [39]:
df_Hourly_Statistics = df_Hourly_Statistics.rename({'CST_Date': 'Date_CST', 'CST_Time': 'Time_CST'}, axis=1)
df_Hourly_Statistics = df_Hourly_Statistics.rename({'Date': 'Date_UTC', 'Time': 'Time_UTC'}, axis=1)

In [40]:
df_Hourly_Statistics['Time_CST'] = df_Hourly_Statistics['Time_CST'].apply(lambda x: x[0:2]+':'+x[2:])

In [41]:
# Inspection
df_Hourly_Statistics.head(10)

,Date_CST,Date_UTC,Time_CST,Time_UTC,Mean,Centroid_lon,Centroid_lat,Std_lon,Std_lat,Skewness_lon,Skewness_lat,Kurtosis_lon,Kurtosis_lat,Sample Number,Selected
0,20130930,20131001,18:00,'0000,0.002116,-86.752361,43.88679152,0.650337,1.221671,0.676590,0.047936,3.040470,1.711742,2,s00
1,20130930,20131001,19:00,'0100,0.001849,-86.758334,43.88299401,0.626111,1.211870,0.661331,0.074576,3.096668,1.724131,4,s00
2,20130930,20131001,20:00,'0200,0.002148,-86.726783,43.93113959,0.654751,1.225867,0.596214,0.053737,2.865347,1.694738,4,s00
3,20130930,20131001,21:00,'0300,0.001968,-86.744962,43.84049622,0.646998,1.236292,0.598938,0.158198,2.863501,1.727534,3,s00
4,20130930,20131001,22:00,'0400,0.001933,-86.749047,43.88869144,0.636343,1.229101,0.672182,0.058539,2.979620,1.715315,4,s00
5,20130930,20131001,23:00,'0500,0.001874,-86.726929,43.91144357,0.659744,1.235951,0.688148,0.053615,2.986872,1.709206,4,s00
6,20131001,20131001,00:00,'0600,0.001979,-86.711706,43.97642507,0.665668,1.226432,0.582646,0.007014,2.816020,1.711882,3,s00
7,20131001,20131001,01:00,'0700,0.002175,-86.728150,43.94443176,0.670232,1.239065,0.660357,0.030175,2.863913,1.689899,4,s00
8,20131001,20131001,02:00,'0800,0.007346,-86.727714,43.92669895,0.649593,1.235327,0.630409,0.023720,2.893504,1.712862,4,s00
9,20131001,20131001,03:00,'0900,0.001971,-86.732769,43.93126304,0.656606,1.235076,0.614300,0.024125,2.869601,1.716328,3,s00

In [42]:
df_time_weather_stats = pandas.merge(df_time_and_weather, df_Hourly_Statistics, how = 'left', on = ['Date_CST','Time_CST'])

In [43]:
# Inspection
df_time_weather_stats.head(20)

,Date_CST,Time_CST,Date,Time,Temp (F),RH (%),Dewpt (F),Wind Spd (mph),Wind Direction (deg),Peak Wind Gust(mph),...,Centroid_lon,Centroid_lat,Std_lon,Std_lat,Skewness_lon,Skewness_lat,Kurtosis_lon,Kurtosis_lat,Sample Number,Selected
0,20131001,00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-86.711706,43.97642507,0.665668,1.226432,0.582646,0.007014,2.816020,1.711882,3.0,s00
1,20131001,01:00,2013-10-01,00:51,63,80,57,10,210,m,...,-86.728150,43.94443176,0.670232,1.239065,0.660357,0.030175,2.863913,1.689899,4.0,s00
2,20131001,02:00,2013-10-01,01:51,63,83,58,9,210,m,...,-86.727714,43.92669895,0.649593,1.235327,0.630409,0.023720,2.893504,1.712862,4.0,s00
3,20131001,03:00,2013-10-01,02:51,62,89,59,8,210,m,...,-86.732769,43.93126304,0.656606,1.235076,0.614300,0.024125,2.869601,1.716328,3.0,s00
4,20131001,04:00,2013-10-01,03:51,62,93,60,9,210,m,...,-86.774766,43.77126003,0.625056,1.225389,0.684025,0.192531,3.150438,1.765415,4.0,s00
5,20131001,05:00,2013-10-01,04:51,62,93,60,11,210,m,...,-86.727277,43.92693012,0.642117,1.212593,0.628968,0.015034,3.042721,1.757028,4.0,s00
6,20131001,06:00,2013-10-01,05:51,63,93,61,11,210,m,...,-86.683872,43.92175019,0.640644,1.247258,0.581276,0.021587,2.905756,1.688386,3.0,s00
7,20131001,07:00,2013-10-01,06:51,64,93,62,15,210,21,...,-86.889998,43.50989985,0.587464,1.128144,0.848486,0.543872,3.692541,2.281163,4.0,s00
8,20131001,08:00,2013-10-01,07:51,66,89,63,13,210,22,...,-86.947823,43.51298452,0.557685,1.062577,0.946405,0.477277,4.127012,2.375476,4.0,s00
9,20131001,09:00,2013-10-01,08:51,67,87,63,14,220,m,...,-86.932563,43.51117826,0.542315,1.135617,0.826180,0.391525,3.947265,2.084850,3.0,s00
10,20131001,10:00,2013-10-01,09:51,69,80,63,13,210,m,...,-86.883123,43.56848098,0.574011,1.195056,0.749145,0.397622,3.482885,1.962906,4.0,s00
11,20131001,11:00,2013-10-01,10:51,68,83,63,21,220,28,...,-86.856580,43.64137734,0.575061,1.195402,0.736323,0.287692,3.524947,1.882521,4.0,s00
12,20131001,12:00,2013-10-01,11:51,71,75,63,17,220,25,...,-86.820184,43.75735173,0.603529,1.192236,0.743426,0.144769,3.322102,1.795431,3.0,s00
13,20131001,13:00,2013-10-01,12:51,75,66,63,18,200,25,...,-86.810028,43.76609178,0.607152,1.205659,0.726609,0.205243,3.350219,1.818569,4.0,s00
14,20131001,14:00,2013-10-01,13:51,77,61,63,15,210,22,...,-86.822985,43.76162054,0.592867,1.165651,0.678750,0.181379,3.256819,1.848570,3.0,s00
15,20131001,15:00,2013-10-01,14:51,78,59,63,13,210,24,...,-86.786604,43.83997889,0.620692,1.191442,0.670517,0.072245,3.129155,1.784619,3.0,s00
16,20131001,16:00,2013-10-01,15:51,79,54,61,17,220,23,...,-86.760073,43.87175119,0.635572,1.220297,0.656674,0.036659,3.007405,1.761611,4.0,s00
17,20131001,17:00,2013-10-01,16:51,78,55,61,14,240,m,...,-86.808477,43.83357911,0.620435,1.194489,0.736049,0.083907,3.221978,1.789728,4.0,s00
18,20131001,18:00,2013-10-01,17:51,75,61,61,11,220,m,...,-86.757039,43.86586488,0.634854,1.209954,0.672951,0.139967,3.084008,1.754645,2.0,s00
19,20131001,19:00,2013-10-01,18:51,74,61,60,10,220,m,...,-86.762899,43.89400182,0.649004,1.236409,0.724777,0.036151,3.126685,1.706333,4.0,s00

**Now, in the `df_time_weather_stats`, you only need to add the observation data into the table to form the final test datasets.**

In [44]:
df_observ = pandas.read_csv('Observation_Data/2013_2014_observation.csv', dtype = str)

In [45]:
# Inspection
df_observ.head(10)

   Date_UTC Time_UTC  Date_CST Time_CST Lake_Visible LES_Exist
0  20131001    00:00  20130930    18:00            N         N
1  20131001    01:00  20130930    19:00            N         N
2  20131001    02:00  20130930    20:00            N         N
3  20131001    03:00  20130930    21:00            N         N
4  20131001    04:00  20130930    22:00            N         N
5  20131001    05:00  20130930    23:00            N         N
6  20131001    06:00  20131001    00:00            N         N
7  20131001    07:00  20131001    01:00            N         N
8  20131001    08:00  20131001    02:00            N         N
9  20131001    09:00  20131001    03:00            N         N

In [46]:
df_time_weather_stats_label = pandas.merge(df_time_weather_stats, df_observ, how = 'left', on = ['Date_CST','Time_CST'])

In [47]:
df_time_weather_stats_label.head(10)

,Date_CST,Time_CST,Date,Time,Temp (F),RH (%),Dewpt (F),Wind Spd (mph),Wind Direction (deg),Peak Wind Gust(mph),...,Skewness_lon,Skewness_lat,Kurtosis_lon,Kurtosis_lat,Sample Number,Selected,Date_UTC_y,Time_UTC_y,Lake_Visible,LES_Exist
0,20131001,00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.582646,0.007014,2.816020,1.711882,3.0,s00,20131001,06:00,N,N
1,20131001,01:00,2013-10-01,00:51,63,80,57,10,210,m,...,0.660357,0.030175,2.863913,1.689899,4.0,s00,20131001,07:00,N,N
2,20131001,02:00,2013-10-01,01:51,63,83,58,9,210,m,...,0.630409,0.023720,2.893504,1.712862,4.0,s00,20131001,08:00,N,N
3,20131001,03:00,2013-10-01,02:51,62,89,59,8,210,m,...,0.614300,0.024125,2.869601,1.716328,3.0,s00,20131001,09:00,N,N
4,20131001,04:00,2013-10-01,03:51,62,93,60,9,210,m,...,0.684025,0.192531,3.150438,1.765415,4.0,s00,20131001,10:00,N,N
5,20131001,05:00,2013-10-01,04:51,62,93,60,11,210,m,...,0.628968,0.015034,3.042721,1.757028,4.0,s00,20131001,11:00,N,N
6,20131001,06:00,2013-10-01,05:51,63,93,61,11,210,m,...,0.581276,0.021587,2.905756,1.688386,3.0,s00,20131001,12:00,N,N
7,20131001,07:00,2013-10-01,06:51,64,93,62,15,210,21,...,0.848486,0.543872,3.692541,2.281163,4.0,s00,20131001,13:00,N,N
8,20131001,08:00,2013-10-01,07:51,66,89,63,13,210,22,...,0.946405,0.477277,4.127012,2.375476,4.0,s00,20131001,14:00,N,N
9,20131001,09:00,2013-10-01,08:51,67,87,63,14,220,m,...,0.826180,0.391525,3.947265,2.084850,3.0,s00,20131001,15:00,Y,Y

**Now, you are free to manipulate or save the datasets in the way you desire.**

In [48]:
result_filename = STATE_ID + '_' + weather_station + '_' + str(start_year) + 'Fall_' + str(end_year) + 'Spring.csv'
result_filename

TypeError: can only concatenate str (not "int") to str

In [ ]:
# For testing purposes

import csv
with open(result_filename, 'w') as csvfile:
    writer = csv.writer(csvfile, delimiter=',')
    writer.writerows(df_time_weather_stats_label)