In [1]:
import pandas
import os

In [2]:
# Test
temp_table = pandas.read_csv('NSW_Weather/Orig/IL-94846-2012Fall-2013Spring.csv', skiprows = 8, skipfooter = 15)

C:\Users\nkyam\AppData\Local\Temp\ipykernel_15380\3507900010.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  temp_table = pandas.read_csv('NSW_Weather/Orig/IL-94846-2012Fall-2013Spring.csv', skiprows = 8, skipfooter = 15)

In [3]:
temp_table

,Date,Time,Temp (F),RH (%),Dewpt (F),Wind Spd (mph),Wind Direction (deg),Peak Wind Gust(mph),Low Cloud Ht (ft),Med Cloud Ht (ft),High Cloud Ht (ft),Visibility (mi),Atm Press (hPa),Sea Lev Press (hPa),Altimeter (hPa),Precip (in),Wind Chill (F),Heat Index (F),Unnamed: 18
0,2012-10-01,00:51,51,82,46,3,10,m,30000,m,m,10,988.80,1013.10,1013.20,0.00,NC,NC,NaN
1,2012-10-01,01:51,50,89,47,0,0,m,30000,m,m,10,988.10,1012.50,1012.50,0.00,NC,NC,NaN
2,2012-10-01,02:51,50,89,47,0,0,m,1000,30000,m,10,988.10,1012.40,1012.50,0.00,NC,NC,NaN
3,2012-10-01,03:51,48,96,47,0,0,m,2400,30000,m,10,987.80,1012.20,1012.20,0.00,NC,NC,NaN
4,2012-10-01,04:51,51,89,48,5,350,m,30000,m,m,10,988.10,1012.40,1012.50,0.00,NC,NC,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4363,2013-03-31,19:51,41,54,26,16,290,23,15000,25000,m,10,985.50,1010.20,1009.80,0.00,33,NC,NaN
4364,2013-03-31,20:51,39,61,27,15,290,m,4000,15000,20000,10,986.20,1010.90,1010.50,0.00,31,NC,NaN
4365,2013-03-31,21:51,39,61,27,15,310,24,3700,6000,15000,10,986.50,1011.20,1010.80,0.00,31,NC,NaN
4366,2013-03-31,22:51,38,57,24,16,310,26,3700,6000,15000,10,987.10,1011.80,1011.50,0.00,29,NC,NaN
4367,2013-03-31,23:51,36,56,22,11,320,m,4000,25000,m,10,987.80,1012.40,1012.20,0.00,28,NC,NaN

### Generate all possible time stamps

In [4]:
from datetime import timedelta, date

def daterange(date1, date2):
    for n in range(int ((date2 - date1).days) + 1):
        yield date1 + timedelta(n)

In [9]:
start_dt = date(2012, 10, 1)
end_dt = date(2013, 3, 31)

In [10]:
# Testing
for dt in daterange(start_dt, end_dt):
    print(dt.strftime("%Y-%m-%d"))

2012-10-01
2012-10-02
2012-10-03
2012-10-04
2012-10-05
2012-10-06
2012-10-07
2012-10-08
2012-10-09
2012-10-10
2012-10-11
2012-10-12
2012-10-13
2012-10-14
2012-10-15
2012-10-16
2012-10-17
2012-10-18
2012-10-19
2012-10-20
2012-10-21
2012-10-22
2012-10-23
2012-10-24
2012-10-25
2012-10-26
2012-10-27
2012-10-28
2012-10-29
2012-10-30
2012-10-31
2012-11-01
2012-11-02
2012-11-03
2012-11-04
2012-11-05
2012-11-06
2012-11-07
2012-11-08
2012-11-09
2012-11-10
2012-11-11
2012-11-12
2012-11-13
2012-11-14
2012-11-15
2012-11-16
2012-11-17
2012-11-18
2012-11-19
2012-11-20
2012-11-21
2012-11-22
2012-11-23
2012-11-24
2012-11-25
2012-11-26
2012-11-27
2012-11-28
2012-11-29
2012-11-30
2012-12-01
2012-12-02
2012-12-03
2012-12-04
2012-12-05
2012-12-06
2012-12-07
2012-12-08
2012-12-09
2012-12-10
2012-12-11
2012-12-12
2012-12-13
2012-12-14
2012-12-15
2012-12-16
2012-12-17
2012-12-18
2012-12-19
2012-12-20
2012-12-21
2012-12-22
2012-12-23
2012-12-24
2012-12-25
2012-12-26
2012-12-27
2012-12-28
2012-12-29
2012-12-30
2012-12-31
2013-01-01
2013-01-02
2013-01-03
2013-01-04
2013-01-05
2013-01-06
2013-01-07
2013-01-08
2013-01-09
2013-01-10
2013-01-11
2013-01-12
2013-01-13
2013-01-14
2013-01-15
2013-01-16
2013-01-17
2013-01-18
2013-01-19
2013-01-20
2013-01-21
2013-01-22
2013-01-23
2013-01-24
2013-01-25
2013-01-26
2013-01-27
2013-01-28
2013-01-29
2013-01-30
2013-01-31
2013-02-01
2013-02-02
2013-02-03
2013-02-04
2013-02-05
2013-02-06
2013-02-07
2013-02-08
2013-02-09
2013-02-10
2013-02-11
2013-02-12
2013-02-13
2013-02-14
2013-02-15
2013-02-16
2013-02-17
2013-02-18
2013-02-19
2013-02-20
2013-02-21
2013-02-22
2013-02-23
2013-02-24
2013-02-25
2013-02-26
2013-02-27
2013-02-28
2013-03-01
2013-03-02
2013-03-03
2013-03-04
2013-03-05
2013-03-06
2013-03-07
2013-03-08
2013-03-09
2013-03-10
2013-03-11
2013-03-12
2013-03-13
2013-03-14
2013-03-15
2013-03-16
2013-03-17
2013-03-18
2013-03-19
2013-03-20
2013-03-21
2013-03-22
2013-03-23
2013-03-24
2013-03-25
2013-03-26
2013-03-27
2013-03-28
2013-03-29
2013-03-30
2013-03-31